.type {
    background-color: black;
    width: 100%;
    position: relative;
    top:0rem;
    height: 70rem;   
    overflow: hidden; 
    z-index: 1;    
}


.storePicks {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 34.9%;
    left:15%;
    top:18rem;
    height: 35rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px);
      z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.storePicks:hover {
    background-color: #008080;
    z-index: 20;


}

.communityMarket {
    background-color: rgb(255, 255, 255);
    width: 34.9%;
    position: absolute;
    right:15%;
    top:18rem;
    height: 35rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px); 
    z-index: 2;     
    transition: all 0.3s ease;
    cursor: pointer;
}

.communityMarket:hover {
    background-color: #fc7f4e;
    z-index: 20;


}





.typebox {
    background-color: rgba(255, 255, 255, 0);
    width:100%;
    position: absolute;
    top:18rem;
    height: 40rem; 
    left:0%;
    z-index: 0;  
    overflow: hidden;      
}

.line {
  position: absolute;           
  left:49.9%;            
  width: 0.2%; 
  top:-1rem;
  height: 36rem;   
  background-color: #ff4d4d; 
  transform: translateY(-50%);
  z-index: 30;
}

.circle1, .circle2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #000000 0%,               
  #000000 60%,              
  rgba(121, 121, 121, 0.856) 85%,  
  rgba(255, 255, 255, 0.671) 90%
);
filter: blur(20px);
    border-radius: 50%;
}

.circle1 {
    left: -35rem;
    top:-5rem;
}

.circle2 {
    top:-30rem;
    right: -35rem;
}


.choose {
      font-size: clamp(1rem, 3.5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: relative;
      top:3rem;   
      left:36rem;
      width: 40%;
      color: white;
      font-family: "PoppinsSemiBold";    
}

.titleStore {
      font-size: clamp(1rem, 3.5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:5rem;
      padding: 1rem;
      z-index: 2;
      width: 73%;
    background-color: #008080;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;     
}

.titleStoreSUB {
      font-size: clamp(0rem, 0.9vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:13rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}


.storeShop {
    background-color: #000000;
    font-size: clamp(1rem,1.5vw,10rem); 
    padding: 1rem 3rem ;
    position: relative;
    top:17rem;
    z-index: 30;
    transition: all 0.3s ease;

}

.storePicks:hover .titleStore{
    background-color: rgb(255, 255, 255);
    color:black;



}

.storePicks:hover .titleStoreSUB{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0rem;
    top:12rem;


}

.storePicks:hover .storeShop {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    top:14rem;


}






.titleCommunity {
      font-size: clamp(1rem, 3.5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:5rem;
      padding: 1rem;
      z-index: 2;
      width: 73%;
    background-color: #fc7f4e;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;   
}




.titleCommunitySUB {
      font-size: clamp(0rem, 0.9vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:13rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}

.communityShop {
    background-color: #000000;
    font-size: clamp(1rem,1.5vw,10rem); 
    padding: 1rem 3rem ;
    position: relative;
    top:17rem;
    z-index: 30;
    transition: all 0.3s ease;

}


.communityMarket:hover .titleCommunity{
    background-color: rgb(255, 255, 255);
    color:black;


}


.communityMarket:hover .titleCommunitySUB{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0rem;
    top:12rem;

}

.communityMarket:hover .communityShop {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    top:14rem;

}






.brandnewdiv {
    background: linear-gradient(
      135deg,
      rgb(255, 255, 255), 
      rgb(112, 130, 146)
    );
    padding:40rem 0rem;
    padding-bottom: 5rem;
    position: relative;
    top:0rem;
    z-index: 2;
    overflow: hidden;
      
}

.brandnewdiv .title {
    font-size: clamp(1rem, 3vw, 10rem);
    width: 50%;
    margin:0;
    top:-24rem;
    line-height: 0.9;
    text-align: center;   
    left:25%;
    z-index: 10;
    font-family: "PoppinsSemiBold";
    position: relative;
}


.brandnewdiv .subtitle {
    font-size: clamp(1rem, 1.3vw, 2rem);
    width: 70%;
    margin:0;
    top:-23rem;
    line-height: 1.1;
    text-align: center;   
    left:15%;
      z-index: 10;

    position: relative;   
}

.brandnewdiv input {
    position: absolute;
    width: 30%;
    padding:1rem 0rem;
    padding-left:2rem;
    top:22rem;
    border-radius: 1.5rem;
    left:28%;
    border:none;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1vw, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 10;

}

.search {
    position: absolute;
    font-size: clamp(1rem, 1vw, 2.5rem);
    border:none;
    color:white;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #333333);
    cursor: pointer;
    padding:1rem 2rem;
    top:23.3rem;
    right:28%;
    font-family: "PoppinsLight";
    border-radius: 1.4rem;
      z-index: 10;

    transition: all 0.4s ease;
}

.search:hover {
    transform: scale(1.01);
}


.circle3, .circle4 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,            
  rgba(121, 121, 121, 0.856) 15%,  
  rgba(255, 255, 255, 0.671) 40%
);

filter: blur(20px);
    border-radius: 50%;
}

.circle3 {
    left: -40rem;
    top:10rem;
}

.circle4 {
    top:-55rem;
    right: -45rem;
}





@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {
  .type {
    height: 60rem;
  }

  .storePicks,
  .communityMarket {
    width: 80%;
    left: 10%;
    top: 1rem;
    height: 23rem;
  }

  .communityMarket:hover,
  .storePicks:hover {
    width: 80%;
    left: 10%;
    top: 1rem;
  }

  .typebox {
    width: 80%;
    top: 22.9rem;
    height: 40rem;
    left: 10%;
  }

  .line {
    display: none;
  }

  .circle1,
  .circle2 {
    height: 40rem;
    width: 50rem;
  }

  .circle1 {
    left: -40rem;
    top: -5rem;
  }

  .circle2 {
    top: 15rem;
    right: -40rem;
  }

  .choose {
    font-size: clamp(1rem, 1.9rem, 10rem);
    line-height: 0.9;
    top: 1rem;
    left: 10%;
    width: 80%;
  }

  .titleStore,
  .titleCommunity {
    font-size: clamp(1rem, 1.9rem, 10rem);
    line-height: 0.9;
    padding: 0.5rem;
    position: relative;
    top: 1rem;
    text-align: left;
    left: 10%;
    width: 75%;
  }

  .titleStoreSUB,
  .titleCommunitySUB {
    font-size: clamp(0rem, 0.9rem, 10rem);
    top: 0.5rem;
    left: 11%;
  }

  .storeShop,
  .communityShop {
    font-size: clamp(1rem, 1.3rem, 10rem);
    padding: 0.5rem 2rem;
    top: 1.5rem;
  }

    .communityShop {
        top:0.8rem;
    }


  .storePicks:hover .titleStore,
  .communityMarket:hover .titleCommunity {
    top: 1rem;
    left: 8%;
    padding: 0.7rem;
    font-size: clamp(1rem, 2.1rem, 10rem);
    width: 75%;
  }

  .storePicks:hover .titleStoreSUB,
  .communityMarket:hover .titleCommunitySUB {
    left: 9.7%;
    padding: 0.4rem;
    top: 0rem;
    width: 75%;
    font-size: clamp(0rem, 0.7rem, 10rem);
  }

  .storePicks:hover .storeShop,
  .communityMarket:hover .communityShop {
    left: 0rem;
    top: 1rem;
    padding: 0.6rem 1.3rem;
    font-size: clamp(1rem, 1.6rem, 10rem);
  }

  .brandnewdiv {
    padding: 5rem 0rem 8rem;
    overflow: hidden;
  }

  .brandnewdiv .title {
    font-size: clamp(1rem, 1.8rem, 10rem);
    width: 100%;
    top: -1rem;
    line-height: 1;
    left: 5%;
  }

  .brandnewdiv .subtitle {
    font-size: clamp(0rem, 1.2rem, 2rem);
    width: 85%;
    top: -0.5rem;
    left: 5%;
  }

  .brandnewdiv input {
    width: 80%;
    padding: 0.6rem 1rem;
    padding-left: 1.5rem;
    top: -1.4rem;
    border-radius: 0.7rem;
    left: 0rem;
    font-size: clamp(0rem, 0.8rem, 2.5rem);
  }

  .search {
    font-size: clamp(0rem, 1.1rem, 2.5rem);
    padding: 0.5rem 1rem;
    top: 18rem;
    left: 49vw;
    margin-left: -5rem;
    font-family: "PoppinsLight";
    border-radius: 0.7rem;
  }

  .brandnewdiv img {
    width: 160%;
    top: 1rem;
    opacity: 0.2;
    right: -17rem;
    z-index: 1;
  }

}


@media (max-width: 360px) {
  .type {
    height: 55rem;
  }

  .storePicks,
  .communityMarket {
    height: 20rem;
  }

  .communityMarket:hover,
  .storePicks:hover {
    height: 20rem;
  }

  .circle1 {
    left: -45rem;
  }

  .circle2 {
    top: 10rem;
    right: -45rem;
  }

  .choose {
    font-size: clamp(1rem, 1.7rem, 10rem);
    left: 5%;
    width: 90%;
  }

  .titleStore,
  .titleCommunity {
    font-size: clamp(1rem, 1.7rem, 10rem);
    left: 10%;
    width: 70%;
  }

  .titleStoreSUB,
  .titleCommunitySUB {
    font-size: clamp(0rem, 0.7rem, 10rem);
  }

  .storeShop,
  .communityShop {
    font-size: clamp(1rem, 1rem, 10rem);
    top: 2rem;
  }

  .communityShop {
    top: 1.5rem;
  }

  .storePicks:hover .titleStore,
  .communityMarket:hover .titleCommunity {
    font-size: clamp(1rem, 1.8rem, 10rem);
    width: 74%;
  }

  .storePicks:hover .titleStoreSUB,
  .communityMarket:hover .titleCommunitySUB {
    left: 9.5%;
    font-size: clamp(0rem, 0.6rem, 10rem);
    width: 74%;
  }

  .storePicks:hover .storeShop,
  .communityMarket:hover .communityShop {
    font-size: clamp(1rem, 1.4rem, 10rem);
  }

  .brandnewdiv .title {
    font-size: clamp(1rem, 1.5rem, 10rem);
  }

  .brandnewdiv .subtitle {
    font-size: clamp(0rem, 1rem, 2rem);
  }

  .brandnewdiv input {
    padding: 0.5rem 0rem 0.5rem 1rem;
    top: -1rem;
    font-size: clamp(0rem, 0.6rem, 2.5rem);
  }

  .search {
    font-size: clamp(0rem, 0.8rem, 2.5rem);
    top: 17rem;
    margin-left: -4rem;
  }

  .brandnewdiv img {
    width: 180%;
  }
}