.aiDiv {
  height: 90rem;

}

.background {
  width: 100%;
  height: 130rem;
  left: 0%;
  object-fit: cover;
  position: absolute;
  transform: scaleX(-1);
}





.particleWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-60%, 20%);
  width: 20rem;
  height: 20rem;
  z-index: 2;




}




.type {
  width: 100%;
  position: relative;
  top: 0rem;
  height: 70rem;
  overflow: hidden;
  z-index: auto;
}




.storePicks {
  position: absolute;
  width: 34.9rem;
  left: 50%;
  transform: translateX(-120%);
  top: 18rem;
  height: 35rem;
  z-index: 3;
  transition: all 0.3s ease;
}






.typebox {
  width: 100%;
  position: absolute;
  top: 19rem;
  height: 40rem;
  left: 0%;
  z-index: 0;
  overflow: hidden;
}



.titleStore1 {
  font-size: clamp(1rem, 13rem, 18rem);
  text-align: center;
  line-height: 0.8;
  letter-spacing: -0.8rem;
  position: absolute;
  top: -17rem;
  text-align: left;
  left: 1rem;
  z-index: 2;
  width: 240%;
  color: rgb(255, 255, 255);
  font-family: "PoppinsMedium";
  transition: all 0.3s ease;
}

.titleStore2 {
  font-size: clamp(1rem, 13rem, 18rem);
  text-align: center;
  line-height: 0.8;
  letter-spacing: -0.8rem;
  position: absolute;
  top: -7rem;
  text-align: left;
  left: 1rem;
  z-index: 2;
  width: 130%;
  color: rgb(255, 255, 255);
  font-family: "PoppinsMedium";
  transition: all 0.3s ease;
}



.titleStoreSUB {
  font-size: clamp(0rem, 1.5rem, 10rem);
  line-height: 1;
  top: 17rem;
  text-align: left;
  left: 3rem;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-family: "PoppinsExtraLight";
  transition: all 0.3s ease;
  width: 37rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 5px 5px rgba(255, 255, 255, 0.041);
  position: relative;
  overflow: hidden;
}

.titleStoreSUB::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.titleStoreSUB::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}


.storeShop {
  font-size: clamp(1rem, 2rem, 10rem);
  padding: 1rem 15.6rem;
  white-space: nowrap;
  position: relative;
  top: 17rem;
  font-family: "PoppinsRegular";
  border-radius: 1rem;
  left: 3rem;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: white;
  color: rgb(61, 61, 61);
  transition: all 0.3s ease;

}

.storeShop:hover {
  transform: scale(1.005);
}



.explanationDiv {
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 80rem;
  height: 22rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 5px 5px rgba(255, 255, 255, 0.041);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

}


.leftText {
  font-size: clamp(1rem, 2rem, 5rem);
  width: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  left: 4%;
  top: 40%;
  transform: translateY(-50%);
  line-height: 1;
  color: rgb(255, 255, 255);
  font-family: "PoppinsExtraLight";
  transition: all 0.3s ease;
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}

.middleText {
  font-size: clamp(1rem, 2rem, 5rem);
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  line-height: 1;
  color: rgb(255, 255, 255);
  font-family: "PoppinsExtraLight";
  transition: all 0.3s ease;
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}


.rightText {
  font-size: clamp(1rem, 2rem, 5rem);
  width: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  line-height: 1;
  right: 4%;
  top: 40%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-family: "PoppinsExtraLight";
  transition: all 0.3s ease;
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}


.explanationTitle {
  font-size: clamp(1rem, 3.2rem, 5rem);
  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -70%);
  line-height: 1;
  color: rgb(255, 255, 255);
  font-family: "PoppinsRegular";
  transition: all 0.3s ease;
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}


.explanationSubtitle {
  font-size: clamp(1rem, 1.8rem, 5rem);
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 50%);
  line-height: 1;
  color: rgb(127, 127, 127);
  font-family: "PoppinsRegular";
  transition: all 0.3s ease;
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}


.launch {
  font-size: clamp(0rem, 1.8rem, 10rem);
  line-height: 1;
  top: 13rem;
  text-align: left;
  left: 3rem;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-family: "PoppinsLight";
  width: 37rem;
  left: 0%;
  padding: 1.2rem 4rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 5px 5px rgba(255, 255, 255, 0.041);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}











.brandnewdiv {
  background: linear-gradient(135deg,
      rgb(255, 255, 255),
      rgb(112, 130, 146));
  padding: 45rem 0rem;
  padding-bottom: 5rem;
  position: relative;
  margin-top: 40rem;
  top: 0rem;
  z-index: 2;
  overflow: hidden;

}

.brandnewdiv .title {
  font-size: clamp(1rem, 3.6rem, 10rem);
  width: 60rem;
  margin: 0;
  top: -22rem;
  line-height: 0.9;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-family: "PoppinsSemiBold";
  position: relative;
}


.brandnewdiv .subtitle {
  font-size: clamp(1rem, 1.56rem, 2rem);
  width: 70%;
  margin: 0;
  top: -21rem;
  line-height: 1.1;
  text-align: center;
  left: 15%;
  z-index: 10;

  position: relative;
}

.brandnewdiv input {
  position: absolute;
  width: 35.7rem;
  padding: 1rem 0rem;
  padding-left: 2rem;
  top: 29rem;
  border-radius: 1.5rem;
  left: 50%;
  transform: translateX(-69.5%);
  border: none;
  font-family: "PoppinsLight";
  font-size: clamp(1rem, 1.2rem, 2.5rem);
  transition: transform 0.3s ease;
  z-index: 10;

}

.search {
  position: absolute;
  font-size: clamp(1rem, 1.2rem, 2.5rem);
  border: none;
  color: white;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #333333);
  cursor: pointer;
  padding: 1rem 2rem;
  top:30.455rem;
  right: 50%;
  transform: translateX(200%);
  font-family: "PoppinsLight";
  border-radius: 1.4rem;
  z-index: 10;
  font-weight: normal;

  transition: all 0.4s ease;
}

.search:hover {
  transform: translateX(200%) scale(1.01);
}


.circle3,
.circle4 {
  position: absolute;
  height: 90rem;
  width: 90rem;
  background: radial-gradient(circle,
      rgba(121, 121, 121, 0.856) 15%,
      rgba(255, 255, 255, 0.671) 40%);

  filter: blur(20px);
  border-radius: 50%;
}

.circle3 {
  left: -40rem;
  top: 10rem;
}

.circle4 {
  top: -55rem;
  right: -45rem;
}





@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {
  .type {
    height: 60rem;
  }

  .storePicks,
  .communityMarket {
    width: 80%;
    left: 10%;
    top: 8rem;
    height: 23rem;
  }

  .communityMarket {
    top: 33rem;
  }



  .communityMarket:hover,
  .storePicks:hover {
    width: 80%;
    left: 10%;
    top: 8rem;
  }


  .communityMarket:hover {
    top: 33rem;
  }

  .typebox {
    width: 80%;
    top: 22.9rem;
    height: 40rem;
    left: 10%;
  }

  .line {
    display: none;
  }

  .circle1,
  .circle2 {
    height: 40rem;
    width: 50rem;
  }

  .circle1 {
    left: -40rem;
    top: -5rem;
  }

  .circle2 {
    top: 15rem;
    right: -40rem;
  }

  .choose {
    font-size: clamp(1rem, 1.9rem, 10rem);
    line-height: 0.9;
    top: 1rem;
    left: 10%;
    width: 80%;
  }

  .titleStore,
  .titleCommunity {
    font-size: clamp(1rem, 1.9rem, 10rem);
    line-height: 0.9;
    padding: 0.5rem;
    position: relative;
    top: 0rem;
    text-align: left;
    left: 10%;
    width: 75%;
  }

  .titleStoreSUB,
  .titleCommunitySUB {
    font-size: clamp(0rem, 0.8rem, 10rem);
    top: -0.2rem;
    left: 11%;
  }

  .storeShop,
  .communityShop {
    font-size: clamp(1rem, 1.3rem, 10rem);
    padding: 0.5rem 2rem;
    top: 1.5rem;
  }

  .communityShop {
    top: 0.8rem;
  }




  .storePicks:hover .titleStoreSUB,
  .communityMarket:hover .titleCommunitySUB {
    left: 9.7%;
    padding: 0.4rem;
    top: -1.4rem;
    width: 75%;
  }

  .storePicks:hover .storeShop,
  .communityMarket:hover .communityShop {
    left: 0rem;
    top: -1rem;
  }

  .brandnewdiv {
    padding: 12rem 0rem 8rem;
    overflow: hidden;
  }

  .brandnewdiv .title {
    font-size: clamp(1rem, 1.8rem, 10rem);
    width: 100%;
    top: -5rem;
    line-height: 1;
    left: 0%;
  }

  .brandnewdiv .subtitle {
    font-size: clamp(0rem, 1rem, 2rem);
    width: 85%;
    top: -4.5rem;
    left: 7.5%;
  }

  .brandnewdiv input {
    width: 75%;
    padding: 0.6rem 1rem;
    padding-left: 1.5rem;
    top: 12.5rem;
    border-radius: 0.7rem;
    left: 7.5%;
    font-size: clamp(0rem, 0.7rem, 2.5rem);
  }

  .search {
    font-size: clamp(0rem, 1.1rem, 2.5rem);
    padding: 0.5rem 1rem;
    top: 17rem;
    left: 49vw;
    white-space: nowrap;
    margin-left: -5rem;
    border-radius: 0.7rem;
  }

  .circle3,
  .circle4 {
    height: 50rem;
    width: 50rem;

  }

  .circle3 {
    left: -25rem;
    top: -20rem;
  }

  .circle4 {
    top: -15rem;
    right: -30rem;
  }


}


@media (max-width: 360px) {
  .type {
    height: 55rem;
  }

  .storePicks,
  .communityMarket {
    top: 8rem;
    height: 20rem;
  }

  .communityMarket {
    top: 30rem;
  }

  .communityMarket:hover,
  .storePicks:hover {
    top: 8rem;
    height: 20rem;
  }

  .communityMarket:hover {
    top: 30rem;
  }

  .circle1 {
    left: -45rem;
  }

  .circle2 {
    top: 10rem;
    right: -45rem;
  }

  .choose {
    font-size: clamp(1rem, 1.7rem, 10rem);
    left: 5%;
    width: 90%;
  }

  .titleStore,
  .titleCommunity {
    font-size: clamp(1rem, 1.7rem, 10rem);
    left: 10%;
    width: 70%;
    top: -0.5rem;
  }

  .titleStoreSUB,
  .titleCommunitySUB {
    font-size: clamp(0rem, 0.7rem, 10rem);
    top: -0.7rem;
  }

  .storeShop,
  .communityShop {
    font-size: clamp(1rem, 1rem, 10rem);
    top: 1rem;
  }

  .communityShop {
    top: 0.3rem;
  }


  .brandnewdiv .title {
    font-size: clamp(1rem, 1.5rem, 10rem);
    left: 0%;
  }

  .brandnewdiv .subtitle {
    font-size: clamp(0rem, 0.8rem, 2rem);
    position: relative;
    left: 7.5%;
  }

  .brandnewdiv input {
    padding: 0.5rem 0rem 0.5rem 0.6rem;
    top: 11rem;
    left: 11%;
    font-size: clamp(0rem, 0.6rem, 2.5rem);
  }

  .search {
    font-size: clamp(0rem, 0.8rem, 2.5rem);
    top: 15rem;
    right: 23%;
  }


  .circle3,
  .circle4 {
    height: 50rem;
    width: 50rem;

  }

  .circle3 {
    left: -25rem;
    top: -20rem;
  }

  .circle4 {
    top: -15rem;
    right: -30rem;
  }



}