.type {
    background-color: black;
    width: 100%;
    position: relative;
    top:0rem;
    height: 75rem;   
    overflow: hidden; 
    z-index: 1;    
}


.storePicks {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 39.9%;
    left:10%;
    top:-0.9rem;
    height: 40rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px);
      z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.storePicks:hover {
    background-color: #008080;
    width:80%;
    z-index: 20;


}

.communityMarket {
    background-color: rgb(255, 255, 255);
    width: 39.9%;
    position: relative;
    left:50%;
    top:-42.2rem;
    height: 40rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px); 
    z-index: 2;     
    transition: all 0.3s ease;
    cursor: pointer;
}

.communityMarket:hover {
    background-color: #fc7f4e;
    width:80%;
    left:10%;
    top:-42.2rem;
    z-index: 20;


}





.typebox {
    background-color: rgba(255, 255, 255, 0);
    width:80%;
    position: absolute;
    top:22.9rem;
    height: 40rem; 
    left:10%;
    z-index: 0;  
    overflow: hidden;      
}

.line {
  position: absolute;           
  left:49.9%;            
  width: 0.2%;       
  height: 115%;        
  background-color: #ff4d4d; 
  transform: translateY(-50%);
  z-index: 30;
}

.circle1, .circle2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #000000 0%,               
  #000000 60%,              
  rgba(121, 121, 121, 0.856) 85%,  
  rgba(255, 255, 255, 0.671) 90%
);
filter: blur(20px);
    border-radius: 50%;
}

.circle1 {
    left: -35rem;
    top:-5rem;
}

.circle2 {
    top:-30rem;
    right: -35rem;
}


.choose {
      font-size: clamp(1rem, 5.5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: relative;
      top:3rem;   
      left:36rem;
      width: 40%;
      color: white;
      font-family: "PoppinsSemiBold";    
}

.titleStore {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:5rem;
      padding: 1rem;
      z-index: 2;
      width: 73%;
    background-color: #008080;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;     
}

.titleStoreSUB {
      font-size: clamp(1rem, 1.1vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:18rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}


.storeShop {
    background-color: #000000;
    font-size: clamp(1rem,2vw,10rem); 
    padding: 1rem 3rem ;
    position: relative;
    top:19rem;
    z-index: 30;
    transition: all 0.3s ease;

}

.storePicks:hover .titleStore{
    background-color: rgb(255, 255, 255);
    color:black;
    top:-2.5rem; 
    left:55rem;
    padding: 2rem;
    font-size: clamp(1rem, 8vw,10rem); 
    width: 30%;


}

.storePicks:hover .titleStoreSUB{
    color: rgb(255, 255, 255);
    left:7rem;
    background-color: rgb(0, 0, 0);
    padding:0.7rem;
    top:7.1rem;
    width: 45%;
    font-size: clamp(1rem, 1.1vw,10rem); 

}

.storePicks:hover .storeShop {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    left:-18.5rem;
    top:10rem;
    padding: 1rem 10.3rem ;
    font-size: clamp(1rem,4vw,10rem); 
    font-family: "PoppinsMedium";

}






.titleCommunity {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:4.5rem;
      padding: 1rem;
      z-index: 2;
      width: 76%;
    background-color: #fc7f4e;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;   
}




.titleCommunitySUB {
    font-size: clamp(1rem, 1.1vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:18rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}

.communityShop {
    background-color: #000000;
    font-size: clamp(1rem,2vw,10rem); 
    padding: 1rem 3rem ;
    position: relative;
    top:19rem;
    z-index: 30;
    transition: all 0.3s ease;

}


.communityMarket:hover .titleCommunity{
    background-color: rgb(255, 255, 255);
    color:black;
    top:-4rem; 
    left:8rem;
    font-size: clamp(1rem, 7vw,10rem); 
    width: 80%;


}


.communityMarket:hover .titleCommunitySUB{
    color: rgb(255, 255, 255);
    left:8rem;
    background-color: rgb(0, 0, 0);
    padding:0.7rem;
    top:21.1rem;
    width: 45%;
    font-size: clamp(1rem, 1.1vw,10rem); 

}

.communityMarket:hover .communityShop {
    background-color: #ffffff;
    color: black;
    font-size: clamp(1rem,4vw,10rem); 
    padding: 4.1rem 3rem ;
    position: relative;
    top:8.8rem;
    left:23.85rem;
    z-index: 30;
    font-family: "PoppinsMedium";
    transition: all 0.3s ease;

}






.brandnewdiv {
    background: linear-gradient(
      135deg,
      rgb(255, 255, 255), 
      rgb(112, 130, 146)
    );
    padding:20rem 0rem;
    padding-bottom: 5rem;
    position: relative;
    top:0rem;
    z-index: 2;
      
}

.brandnewdiv h2 {
    font-size: clamp(1rem, 5vw, 10rem);
    width: 70%;
    margin:0;
    top:-11rem;
    line-height: 0.9;
    text-align: left;   
    left:9rem;
    font-family: "PoppinsSemiBold";
    position: relative;
}


.brandnewdiv p {
    font-size: clamp(2rem, 1vw, 2rem);
    width: 70%;
    margin:0;
    top:-9rem;
    line-height: 1.1;
    text-align: left;   
    left:9rem;
    position: relative;   
}

.brandnewdiv input {
    position: relative;
    width: 45rem;
    padding:1rem 0rem;
    padding-left:2rem;
    top:-9rem;
    border-radius: 1.5rem;
    left:-27rem;
    border:none;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 8;
}

.search {
    position: absolute;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    border:none;
    color:white;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #333333);
    cursor: pointer;
    padding:1rem 2rem;
    top:25.5rem;
    left:57rem;
    font-family: "PoppinsLight";
    border-radius: 1.4rem;
    transition: all 0.4s ease;
}

.search:hover {
    transform: scale(1.01);
}


.brandnewdiv img {
    width: 25%;
    position: absolute;
    top:6rem;
    right:6.25rem;

}