.containerOf {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.274);
    backdrop-filter: blur(5px);         
    -webkit-backdrop-filter: blur(5px); 
    width: 100%;
    height: 100%;
    z-index: 6;
    transition: all 0.4s ease;
    
}

.purchaseDiv {
    width: 79rem;
    position: fixed;
    height: 50rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    z-index: 6;

    display: flex;
    flex-direction: column; 
    padding: 2rem;
    box-sizing: border-box;
    
}



.closeBtn {
  border: none;
  width: 2.7rem;
  height: 2.6rem;
  border-radius: 10px;
  position: absolute;
  right:2.2rem;
  top:2.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.closeBtn svg {
  position: relative;
  left:-0.04rem;
  fill:rgba(0, 0, 0, 0.863);
  top:0.06rem;
}


.closeBtn:hover {
    background-color: rgb(255, 70, 70);
}

.closeBtn:hover svg {
    fill: white;
}

.header .title {
    font-family: "PoppinsRegular";
    color: #313131; 
    font-size: clamp(1rem,2rem,5rem);
}

.purchaseList {
    flex: 1; 
    overflow-y: auto;
      overflow-x: hidden;

    margin-top: 0rem;
}

.purchaseList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.purchaseList li {
    background: #ffffff; 
    border: 1px solid #3f3f3f; 
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, background 0.2s ease;
    cursor: pointer;
}

.purchaseList li .code {
    font-family: "PoppinsMedium";
    font-size: clamp(1rem,1.5rem,5rem);
    position: relative;
    top:1rem;
    left:-39.5%;
    color: #313131;
}


.purchaseList li .amount {
    font-family: "PoppinsRegular";
    font-size: clamp(1rem,1.5rem,5rem);
    position: relative;
    width: 98.7%;
    padding-top: 1rem;
    border-top: 1px solid #cccccc;
    color: #313131;
    text-align: left;
    padding-left: 1rem;

}


.purchaseList li .date {
    color:#8d8d8d;
    font-size: clamp(1rem,1.2rem,5rem);
    position: relative;
    top:-3.7rem;
    right:-29.5rem;
} 

.productList {
  list-style: none;
  padding: 0;
  margin: 0rem 0;
  transition: all 0.4s ease;
  overflow-x: hidden;
}

.productItem {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  padding: 0rem;
  margin-top: 1rem;
  gap: 1rem;
  transition: all 0.4s ease;
}

.productItem:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}



.productImage {
  width: 110px;
  height: 110px;
  position: relative;
  left:-30.3rem;
  padding: 0 0;
  background-color: #e7e7e7;
  object-fit: cover;
  border-radius: 0.5rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  padding: 0 0;
}

.productName {
  font-size: 1.5rem;
  font-family: "PoppinsRegular";
  position: absolute;
  top:-7.3rem;
  left:-25rem;
  white-space: nowrap;
  color: #333;
}

.productCompany {
  position: absolute;
  white-space: nowrap;
  font-size: 0.95rem;
  top:-7.9rem;
  left:-25rem;
  color: #777;
}

.productQuantity{
  font-size: 1.5rem;
  color: #313131;
  position: absolute;
  top:-7.3rem;
  font-family: "PoppinsMedium";
  right:-33rem;
}

.productPrice {
  font-size: 1.2rem;
  color: #313131;
  position: absolute;
  top:-5rem;
  left:-25rem;
}


.loadingTitle {
    font-family: "PoppinsRegular";
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 1540px) {
 .containerOf {
    padding: 1rem 0rem;
    top:-1.5rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -45%) scale(0.8);

    
} 
}

@media (max-width: 1240px) {
 .containerOf {
    padding: 1.1rem 0rem;
    top:-2.21rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -45%) scale(0.6);

    
} 
}


@media (max-width: 950px) {
 .containerOf {
    padding: 1.1rem 0rem;
    top:-2.21rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -46%) scale(0.4);

    
} 
}


@media (max-width: 750px) {
 .containerOf {
    padding: 1.1rem 0rem;
    top:-2.21rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -46%) scale(0.8);
    width: 45rem;
    position: fixed;
    height: 50rem;
    
} 




.purchaseList li .code {
    top:1rem;
    left:-30.5%;

}




.purchaseList li .date {
    color:#8d8d8d;
    font-size: clamp(1rem,1.2rem,5rem);
    position: relative;
    top:-3.7rem;
    right:-29.5rem;
} 






.productImage {
  left:-13.7rem;

}



.productName {

  top:-7.4rem;
  left:-8.8rem;
  line-height: 0.9;
  width: 22rem;
  text-align: left;
  white-space:initial;

}

.productCompany {

  font-size: 0.95rem;
  top:-8.4rem;
  left:-8.8rem;

}

.productQuantity{
  top:-7.3rem;
  right:-16rem;
}

.productPrice {
  font-size: 1.2rem;
  color: #313131;
  position: absolute;
  top:-4.4rem;
  left:-8.8rem;
}
}

@media (max-width: 580px) {
 .containerOf {
    padding: 1.1rem 0rem;
    top:-2.21rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -46%) scale(0.6);
    width: 45rem;
    position: fixed;
    height: 50rem;
    
} 
}

@media (max-width: 580px) {
 .containerOf {
    padding: 1.1rem 0rem;
    top:-2.21rem;

    
}

.purchaseDiv {

    transform: translate(-50%, -46%) scale(0.48);
    width: 45rem;
    position: fixed;
    height: 50rem;
    
} 
}