

.container {
    position: relative; 
background: radial-gradient(
  circle,
  #000000 0%,  
  #000000 80%,  
  rgba(0, 0, 0, 0.5) 100%
);
    height: 178.4vh;
    overflow-y: hidden;
    overflow-x: hidden;

}


.circle1, .circle2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #000000 0%,               
  #000000 60%,              
  rgba(121, 121, 121, 0.856) 85%,  
  rgba(255, 255, 255, 0.671) 90%
);
filter: blur(20px);
    border-radius: 50%;
}

.circle1 {
    left: -35rem;
    top:-5rem;
}

.circle2 {
    top:-30rem;
    right: -35rem;
}

.box {
    position: absolute;
    height: 40rem;
    width: 65rem;
    top:7rem;
    border-radius: 6rem;
    left:29rem;
    background: linear-gradient(
     13deg,
     rgb(0, 0, 0), 
     rgb(8, 8, 8), 
     rgba(255, 255, 255, 0.103), 
     rgb(8, 8, 8), 
    rgb(0, 0, 0)
   );
  backdrop-filter: blur(0px);
color: #f0f4f8;
}

.box2 {
    position: absolute;
    height: 40rem;
    width: 65rem;
    top:59.7rem;
    border-radius: 6rem;
    left:29rem;
    background: linear-gradient(
     13deg,
     rgb(0, 0, 0), 
     rgb(8, 8, 8), 
     rgba(255, 255, 255, 0.103), 
     rgb(8, 8, 8), 
    rgb(0, 0, 0)
   );
  backdrop-filter: blur(0px);
color: #f0f4f8;
}


.title {

    position: relative;
    border-radius: 1.7rem;
    padding: 0.4rem;
    left:4rem;
    top:-2rem;
    width: 30rem;
    white-space: nowrap;
    font-size: clamp(1rem, 3.5vw, 8rem);
    letter-spacing: -0.05rem;
    font-family: "PoppinsExtraLight";
}






.techStore {
    position: absolute;
    height: 40rem;
    width: 50rem;
    top:7rem;
    border-radius: 6rem;
    right:10rem;
background: linear-gradient(
  145deg,
  #ffffff6c,   
  #ffffff2f,   
  #ffffff15    
);
    overflow: hidden;
  backdrop-filter: blur(15px);
color: #f0f4f8;    
}

.labelUsername {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:11.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);    
}

.labelPassword {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:17.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);      
}

.username {
    position:absolute;
    left:4.5rem;
    width: 29.5rem;
    top:12rem;
    padding: 0.5rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);
    padding-left: 1rem;
    color:black;
}

.password {
    position:absolute;
    top:18rem;
    left:4.5rem;
    width: 29.5rem;
    padding: 0.5rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);
    padding-left: 1rem;
    color:black;    
}

.submit {
    position: absolute;
    bottom:10rem;
    left:4.5rem;
    width: 30.3rem;
background: radial-gradient(
  circle,
  #1b2a3d 0%,
  #3a3f8c 70%,
  rgba(255, 255, 255, 0.1) 100%
);
    color:white;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.submit:hover {
    transform: scale(1.01);
    background-color: #274b7a  ;
}

.forgot {
    position: absolute;
    top:22.5rem;
    left:5rem;
    color: #ffffff;
    text-decoration: underline;
}


.toggleBtn {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:20rem;
    left:32rem;
    z-index: 10;
    cursor: pointer;
}

.subtitle {
    position: absolute;
    bottom:5rem;
    left:8.8rem;    
}

.signnow {
    position: absolute;
    bottom:6rem;
    font-family: "PoppinsSemiBold";
    left:22.7rem;
}

.errorMsg {
    position: absolute;
    top:-6.4rem;
    left:18rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
    rgb(180, 39, 39) 0%,     
    rgb(220, 50, 50) 60%,    
     rgba(255, 100, 100, 0.3) 100%  
    );
    color:white;
    font-size: clamp(0.2rem, 1.3vw, 2.5rem);  
    padding: 0.7rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.safeMsg {
    position: absolute;
    bottom:8.2rem;
    left:4.5rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
     rgb(29, 77, 29) 0%,               
     rgb(50, 120, 50) 70%,               
     rgba(200, 255, 200, 0.1) 100%       
    );
    color:white;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.logo {
    display: inline-block;
    width: 40%;  
    position: relative; 
    overflow: hidden; 
    left:17rem;
    bottom: 6rem;
    border-radius: 50%;

}     
.logo img {
    display: block;
    width: 100%;
    height: auto;

    animation: rotateInfinite 19s linear infinite; 
}

@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}