

.container {
    position: relative; 
background: radial-gradient(
  circle,
  #000000 0%,  
  #000000 80%,  
  rgba(0, 0, 0, 0.5) 100%
);
    height: 178.4vh;
    overflow-y: hidden;
    overflow-x: hidden;

}


.circle1, .circle2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #000000 0%,               
  #000000 60%,              
  rgba(121, 121, 121, 0.856) 85%,  
  rgba(255, 255, 255, 0.671) 90%
);
filter: blur(20px);
    border-radius: 50%;
}

.circle1 {
    left: -35rem;
    top:-5rem;
}

.circle2 {
    top:-30rem;
    right: -35rem;
}

.box {
    overflow: hidden;
    position: absolute;
    height: 40rem;
    width: 75rem;
    top:7rem;
    border-radius: 6rem;
    left:24rem;
    background: linear-gradient(
     13deg,
     rgb(0, 0, 0), 
     rgb(8, 8, 8), 
     rgba(255, 255, 255, 0.103), 
     rgb(8, 8, 8), 
    rgb(0, 0, 0)
   );
  backdrop-filter: blur(0px);
color: #f0f4f8;
}




.box .title {

    position: relative;
    border-radius: 1.7rem;
    padding: 0.4rem;
    left:4.5rem;
    top:0rem;
    width: 34rem;
    text-align: left;
    line-height: 0.9;
    font-size: clamp(1rem, 3.3vw, 8rem);
    letter-spacing: -0.05rem;
    font-family: "PoppinsMedium";  
}






.techStore {
    position: absolute;
    height: 40rem;
    width: 50rem;
    top:7rem;
    border-radius: 6rem;
    right:10rem;
background: linear-gradient(
  145deg,
  #ffffff6c,   
  #ffffff2f,   
  #ffffff15    
);
    overflow: hidden;
  backdrop-filter: blur(15px);
color: #f0f4f8;    
}

.box .labelUsername {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:12.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);    
}

.box .labelPassword {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:18.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);      
}

.box .username {
    position:absolute;
    left:4.5rem;
    width: 29.5rem;
    top:13rem;
    padding: 0.5rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);
    padding-left: 1rem;
    color:black;
}

.box .password {
    position:absolute;
    top:19rem;
    left:4.5rem;
    width: 29.5rem;
    padding: 0.5rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);
    padding-left: 1rem;
    color:black;    
}

.box .submit {
    position: absolute;
    bottom:9rem;
    left:4.5rem;
    width: 30.3rem;
background: radial-gradient(
  circle,
  #1b2a3d 0%,
  #3a3f8c 70%,
  rgba(255, 255, 255, 0.1) 100%
);
    color:white;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.box .submit:hover {
    transform: scale(1.01);
    background-color: #274b7a  ;
}

.forgot {
    position: absolute;
    top:23.5rem;
    left:5rem;
    color: #ffffff;
    text-decoration: underline;
}


.toggleBtn {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:21rem;
    left:32rem;
    z-index: 10;
    cursor: pointer;

}

.toggleBtn svg {
    height: 24px;
    width: 24px;
    fill: black;
}

.subtitle {
    position: absolute;
    bottom:4rem;
    left:8.8rem;    
}

.signnow {
    position: absolute;
    bottom:5rem;
    font-family: "PoppinsSemiBold";
    left:22.7rem;
}



.box .errorMsg {
    position: absolute;
    z-index: 20;
    top:-6.4rem;
    left:23rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
    rgb(180, 39, 39) 0%,     
    rgb(220, 50, 50) 60%,    
     rgba(255, 100, 100, 0.3) 100%  
    );
    color:white;
    font-size: clamp(0.2rem, 1.3vw, 2.5rem);  
    padding: 0.7rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.box .safeMsg {
    position: absolute;
    bottom:7.2rem;
    left:4.5rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
     rgb(29, 77, 29) 0%,               
     rgb(50, 120, 50) 70%,               
     rgba(200, 255, 200, 0.1) 100%       
    );
    color:white;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}




.box .logo {
    display: inline-block;
    width: 100%; 
    height: 90%;
    position: relative; 
    overflow: hidden; 
    left:22rem;
    bottom: 8rem;
    object-fit: contain;
    transform: rotate(90deg);


}  

.box .layer {
    width: 130%; 
    height: 100%;
    position: absolute; 
    background-color: #0000003b;
    overflow: hidden; 
    left:1rem;
    top:0rem;
    object-fit: contain;
}

.box .logo .background {
    display: block;
    z-index: -1;
    width: 100%;
    height: 120%; 
    object-fit: contain;
}




.box2 {

    position: absolute;
    height: 40rem;
    width: 75rem;
    top:59.7rem;
    border-radius: 6rem;
    left:24rem;
    background: linear-gradient(
     13deg,
     rgb(0, 0, 0), 
     rgb(8, 8, 8), 
     rgba(255, 255, 255, 0.103), 
     rgb(8, 8, 8), 
    rgb(0, 0, 0)
   );
  backdrop-filter: blur(0px);
color: #f0f4f8;
    overflow: hidden;
}

.box2 .title {
    position: relative;
    border-radius: 1.7rem;
    padding: 0.4rem;
    left:42.5rem;
    top:3rem;
    width: 30rem;
    width: 50%;
    text-align: left;
    line-height: 0.8;
    font-size: clamp(1rem, 4.2vw, 8rem);
    letter-spacing: -0.05rem;
    font-family: "PoppinsMedium";  
    z-index: 10;  
}


.box2 .username {
    position:absolute;
    left:4.5rem;
    width: 14rem;
    top:13rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;
    
}


.box2 .email {
    position:absolute;
    left:22rem;
    width: 14rem;
    top:13rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;
    
}



.box2 .password {
    position:absolute;
    top:19rem;
    left:4.5rem;
    width: 31.5rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;      
}


.box2 .passwordAgain {
    position:absolute;
    top:25rem;
    left:4.5rem;
    width: 31.5rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;      
}

.box2 .firstName {
    position:absolute;
    left:4.5rem;
    width: 14rem;
    top:7rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;
}

.box2 .lastName {
    position:absolute;
    left:22rem;
    width: 14rem;
    top:7rem;
    padding: 0.8rem 0rem;
    border-radius: 1.1rem;
    font-size: clamp(0.2rem, 0.6vw, 2.5rem);
    padding-left: 1rem;
    color:black;
}

.box2 .labelFirstName {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:6.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);    
}

.box2 .labelLastName {
    font-family: "PoppinsRegular";
    position:absolute;
    left:22.5rem;
    top:6.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);      
}



.box2 .labelUsername {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:12.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);    
}

.box2 .labelEmail{
    font-family: "PoppinsRegular";
    position:absolute;
    left:22.5rem;
    top:12.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);    
}

.box2 .labelPassword {
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:18.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);      
}


.box2 .labelPasswordAgain{
    font-family: "PoppinsRegular";
    position:absolute;
    left:5rem;
    top:24.5rem;
    font-size: clamp(0.2rem, 1vw, 2.5rem);     
}

.toggleBtn1 {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:20.9rem;
    left:34rem;
    z-index: 10;
    cursor: pointer;
}

.toggleBtn1 svg {
    fill: black;
    height: 24px;
    width: 24px;
}



.toggleBtn2 {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:26.9rem;
    left:34rem;
    z-index: 10;
    cursor: pointer;
}

.toggleBtn2 svg {
    fill: black;
    height: 24px;
    width: 24px;
}



.box2 .subtitle {
    position: absolute;
    bottom:4rem;
    left:10rem;    
}

.box2 .subsubtitle {
    position: absolute;
    top:16rem;
    left:43rem; 
    width: 40%; 
    text-align: left;
    font-family: "PoppinsRegular";
    line-height: 0.9;
    font-size: clamp(0.2rem, 1.3vw, 2.5rem);  
    z-index: 10;    
}

.box2 .signnow {
    position: absolute;
    bottom:5rem;
    font-family: "PoppinsSemiBold";
    left:23.5rem;
}


.box2 .logo {
    display: inline-block;
    width: 100%; 
    height: 90%;
    position: relative; 
    overflow: hidden; 
    left:22rem;
    bottom: 8rem;
    object-fit: contain;
    transform: rotate(90deg);


}  

.layer {
    width: 61%; 
    height: 100%;
    position: absolute; 
    background-color: #0000003b;
    overflow: hidden; 
    left:3rem;
    top:0rem;

}

.box2 .logo img {
    display: block;
    position: relative;
    z-index: -1;
    width: 90.6%;
    height: 120%; 
    left:-19rem;

}


.box2 .submit {
    position: absolute;
    bottom:10rem;
    right:7rem;
    width: 20.3rem;
    z-index: 10;
    background-color: white;
    color:black;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.box2 .submit:hover {
    transform:scale(1.03);
    background-color: #2962FF;
    color:white;
}

.box2 .errorMsg {
    position: absolute;
    z-index: 20;
    top:-6.4rem;
    left:23rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
    rgb(180, 39, 39) 0%,     
    rgb(220, 50, 50) 60%,    
     rgba(255, 100, 100, 0.3) 100%  
    );
    color:white;
    font-size: clamp(0.2rem, 1.3vw, 2.5rem);  
    padding: 0.7rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.box2 .safeMsg {
    position: absolute;
    z-index: 20;
    top:-6.4rem;
    left:23rem;
    width: 28.3rem;
    background: radial-gradient(
    circle,
     rgb(29, 77, 29) 0%,               
     rgb(50, 120, 50) 70%,               
     rgba(200, 255, 200, 0.1) 100%       
    );
    color:white;
    font-size: clamp(0.2rem, 1.5vw, 2.5rem);  
    padding: 0.5rem 1rem;
    border:none;
    font-family: "PoppinsLight";
    border-radius: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;

}


@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {
.container {
    height: 178.4vh;
    background: linear-gradient(
     13deg,
     rgb(0, 0, 0), 
    rgb(29, 29, 29), 
     rgb(19, 19, 19), 
     rgb(15, 15, 15), 
     rgb(34, 34, 34), 
    rgb(0, 0, 0)
   );
    

}


.circle1, .circle2 {
    height: 40rem;
    width: 40rem;
}

.circle1 {
    left:-7.5rem;
    top:-28rem;
}

.circle2 {
    top:-10rem;
    left: -20rem;
}

.box {
    height: 20rem;
    width: 90%;
    top:9rem;
    border-radius: 3rem;
    left:5%;
}




.box .title {

    left:1rem;
    top:0.5rem;
    width: 15rem;
    line-height: 1;
    font-size: clamp(1rem, 1.7rem, 8rem);

}




.box .labelUsername {
    left:1.5rem;
    top:7rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);    
}

.box .labelPassword {
    left:1.5rem;
    top:10rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
}

.box .username {
    left:1.3rem;
    width: 69.5vw;
    top:6.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.6rem, 2.5rem);     
    padding-left: 1rem;

}

.box .password {
    left:1.3rem;
    width: 69.5vw;
    top:9.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.6rem, 2.5rem);     
    padding-left: 1rem; 
}

.box .submit {
    bottom:4rem;
    left:1.3rem;
    width: 74.5vw;
    font-size: clamp(0.2rem, 0.8rem, 2.5rem);  
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;


}



.forgot {
    top:12.7rem;
    left:1.5rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);    
}


.toggleBtn {
    top:11rem;
    left:71vw;

}

.toggleBtn svg {
    height: 14px;
    width: 14px;
}

.subtitle {
    bottom:1.7rem;
    left:1.7rem;  
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);    

}

.signnow {
    position: absolute;
    bottom:2.2rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);    
    left:8.7rem;  
}



.box .errorMsg {

    top:-6rem;
    left:14%;
    width: 60%;
    font-size: clamp(0.2rem, 0.6rem, 2.5rem);  
    padding: 0.4rem 1rem;
    white-space: nowrap;
    border-radius: 0.7rem;


}

.box .safeMsg {
    bottom:3.2rem;
    left:1.28rem;
    width: 74.5vw;
    font-size: clamp(0.2rem, 0.8rem, 2.5rem);  
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;

}

.box .logo {
    display: none;


} 


.box2 {
    height: 30rem;
    width: 90%;
    top:40rem;
    border-radius: 3rem;
    left:5%;
}

.box2 .title {
    left:1rem;
    top:0.5rem;
    width: 15rem;
    line-height: 1;
    font-size: clamp(1rem, 1.7rem, 8rem);
}


.box2 .username {
    left:1.3rem;
    width: 32.5vw;
    top:9.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;
    
}


.box2 .email {
    left:47.5vw;
    width: 32.5vw;
    top:9.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;
    
}



.box2 .password {
    left:1.3rem;
    width: 74.7vw;
    top:12.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;   
}


.box2 .passwordAgain {
    left:1.3rem;
    width: 74.7vw;
    top:15.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;
}

.box2 .firstName {
    left:1.3rem;
    width: 32.5vw;
    top:6.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;
}

.box2 .lastName {
    left:47.5vw;
    width: 32.5vw;
    top:6.4rem;
    padding: 0.3rem 0rem;
    border-radius: 0.6rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
    padding-left: 1rem;
}

.box2 .labelFirstName {
    left:1.5rem;
    top:7rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
}

.box2 .labelLastName {
    left:48.5vw;
    top:7rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
}



.box2 .labelUsername {
    left:1.5rem;
    top:10rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);    
}

.box2 .labelEmail{
    left:48.5vw;
    top:10rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);     
}

.box2 .labelPassword {
    left:1.5rem;
    top:13rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);       
}


.box2 .labelPasswordAgain{
    left:1.5rem;
    top:16rem;
    font-size: clamp(0.2rem, 0.5rem, 2.5rem);      
}

.toggleBtn1 {
    top:13.9rem;
    left:76vw;
}

.toggleBtn1 svg {
    fill: black;
    height: 14px;
    width: 14px;
}



.toggleBtn2 {
    top:16.9rem;
    left:76vw;
}

.toggleBtn2 svg {
    fill: black;
    height: 14px;
    width: 14px;
}



.box2 .subtitle {
    bottom:9rem;
    margin-left:-6.6rem;
    left:50vw;

}

.box2 .subsubtitle {
    top:21.5rem;
    left:1.5rem; 
    width: 90%; 
    font-size: clamp(0.2rem, 0.8rem, 2.5rem);     
}

.box2 .signnow {
    bottom:9.5rem;
    margin-left:0.2rem;
    left:50vw;
}


.box2 .logo {
    width: 21.5rem; 
    height: 100%; 
    left:2rem;
    bottom: -9.5rem;



}  

.layer {
    width: 100%; 
    height: 100%;
    left:0rem;
    top:0rem;

}

.box2 .logo img {

    z-index: -1;
    width: 150%;
    height: 120%; 
    left:-19rem;

}


.box2 .submit {
    bottom:2rem;
    margin-left: 1rem;
    left:20vw;
    width: 38vw;
    font-size: clamp(0.2rem, 0.8rem, 2.5rem);  
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;

}

.box2 .submit:hover {
    transform:scale(1.03);
    background-color: #2962FF;
    color:white;
}

.box2 .errorMsg {
    top:-6rem;
    left:15%;
    width: 60%;
    font-size: clamp(0.2rem, 0.6rem, 2.5rem);  
    padding: 0.4rem 1rem;
    white-space: nowrap;
    border-radius: 0.7rem;

}

.box2 .safeMsg {
    top:-6rem;
    left:15%;
    width: 60%;
    font-size: clamp(0.2rem, 0.6rem, 2.5rem);  
    padding: 0.4rem 1rem;
    white-space: nowrap;
    border-radius: 0.7rem;

}


}
