.container {
    padding-top: 10rem;
    position: relative;
    width: 100%;
    height: 340vh;
    background: linear-gradient(
      45deg,
      rgb(255, 255, 255), 
      rgb(211, 219, 226), 
      rgb(112, 130, 146)
    );
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
    padding-bottom: 15vh;
    transition: all 0.3s ease;
}

.container1 {

    background: linear-gradient(135deg, #ffffff, #fff9f3, #fceabb);
    width: 90%;
    position: relative;
    left:5%;
    height: 40rem;
}

.container2 {
    background: linear-gradient(45deg, 
    #fceabb,
     #fff9f3,
    #ffffff
     );
    width: 90%;
    position: relative;
    left:5%;
    top:15rem;
    height: 40rem;    
}


.storePicks {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 39.9%;
    left:10%;
    top:-0.9rem;
    height: 40rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px);
      z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.storePicks:hover {
    background-color: #008080;
    width:80%;
    z-index: 20;


}

.communityMarket {
    background-color: rgb(255, 255, 255);
    width: 39.9%;
    position: relative;
    left:50%;
    top:-42.55rem;
    height: 40rem;   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(12px); 
    z-index: 2;     
    transition: all 0.3s ease;
    cursor: pointer;
}

.communityMarket:hover {
    background-color: #fc7f4e;
    width:80%;
    left:10%;
    top:-42.2rem;
    z-index: 20;


}


.type {
    background-color: black;
    width: 100%;
    position: relative;
    top:20rem;
    height: 80rem;   
    overflow: hidden;     
}


.typebox {
    background-color: rgba(255, 255, 255, 0);
    width:80%;
    position: absolute;
    top:22.9rem;
    height: 40rem; 
    left:10%;
    z-index: 0;  
    overflow: hidden;      
}

.line {
  position: absolute;           
  left:49.9%;            
  width: 0.2%;       
  height: 115%;        
  background-color: #ff4d4d; 
  transform: translateY(-50%);
  z-index: 30;
}

.circle1, .circle2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #000000 0%,               
  #000000 60%,              
  rgba(121, 121, 121, 0.856) 85%,  
  rgba(255, 255, 255, 0.671) 90%
);
filter: blur(20px);
    border-radius: 50%;
}

.circle1 {
    left: -35rem;
    top:-5rem;
}

.circle2 {
    top:-30rem;
    right: -35rem;
}

.title {
    position: relative;
    left:0rem;
    text-align: left;
    margin-top: 0rem;
    top:-10rem;
    background-color: #EAEAEA;
    padding-left: 5rem;
    color:rgb(0, 0, 0);    
    font-weight: bold;  
    font-size: clamp(7rem, 6vw,10rem);
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-22rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.popularExplanation .subsubtitle {
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-27rem;   
      font-family: "PoppinsRegular";
}


.popularButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:6.2rem;
      position: absolute;
      margin-top: -27.6rem;
      z-index: 40;
      width: 24%;
      padding: 1.07rem 8rem;
      border-radius: 2rem;
      transition: all 0.3s ease;


}

.popularButton:hover {
    background-color: #36a9b8;
}

.populardiv {
background: linear-gradient(135deg,
    #2c3e50,
    #4ca1af,
    #1c1c2b);
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    width: 50%;
    height: 25rem;
    position: relative;
    left:48.5rem;
    top:3.5rem;
    
}


.popular {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5vw, 2.5rem);
}


.itemsPopular .searchRate {
    position: absolute;
    margin-top: -7.5rem;
    left:1.5rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: rgb(235, 158, 15);
}

.itemsPopular .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 3rem;
    position: relative;

    
}







.itemsPopular p {
    position: absolute;
    top:8.5rem;   
    left:1.5rem; 
}

.itemsPopular li {
    margin-top: 0rem;
    flex: 1 0 30%; 
    box-sizing: border-box; 
    padding:6rem 1rem;
    border-radius: 1rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsPopular span {
    position: absolute;
    top:10.25rem;    
    margin-left: 3.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsPopular h3 {
    text-align: left;
    position: absolute;
    top:1rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: 7rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1vw, 2rem);


}


.sellerExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:57rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: right; 
      line-height: 0.9;
      position: relative;
      top:-19rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.sellerExplanation .subsubtitle {
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: right; 
      line-height: 1.3;
      position: relative;
      left:7.5rem;
      top:-24rem;   
      font-family: "PoppinsRegular";
}


.sellerButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: right; 
      line-height: 1.3;
      position: absolute;
      margin-top: -24.6rem;
      z-index: 40;  
      left:15rem;
      width: 24%;
      padding: 1.07rem 8rem;
      border-radius: 2rem;
      transition: all 0.3s ease;


}

.sellerButton:hover {
    background-color: #36a9b8;
}





.sellerdiv {
background: linear-gradient(135deg,
    #200122,
    #6f0000,
    #0f0c29);
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    width: 50%;
    height: 25rem;
    position: relative;
    left:5rem;
    top:3.5rem;
  
    
}



.sellers {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5vw, 2.5rem);
}

.itemsBought .boughtRate {
    position: absolute;
    margin-top: -7.5rem;
    left:1.5rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: rgb(111, 27, 145);
}

.itemsBought .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsBought {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 3rem;
    position: relative;
    
}





.itemsBought p {
    position: absolute;
    top:8.5rem;   
    left:1.5rem; 
}

.itemsBought li {
    margin-top: 0rem;
    flex: 1 0 30%; 
    box-sizing: border-box; 
    padding:6rem 1rem;
    border-radius: 1rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsBought span {
    position: absolute;
    top:10.25rem;    
    margin-left: 3.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsBought h3 {
    text-align: left;
    position: absolute;
    top:1rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: 7rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1vw, 2rem);


}

.itemsPopular li,
.itemsBought li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemsPopular li:hover,
.itemsBought li:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

.itemsPopular img {
    position: absolute;
    left:-1.6rem;
    top:1.5rem;
}

.itemsBought img {
    position: absolute;
    left:-1.6rem;
    top:1.5rem;
}



.itemsPopular li:hover,
.itemsBought li:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}



.choose {
      font-size: clamp(1rem, 5.5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: relative;
      top:3rem;   
      left:36rem;
      width: 40%;
      color: white;
      font-family: "PoppinsSemiBold";    
}

.titleStore {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:5rem;
      padding: 1rem;
      z-index: 2;
      width: 73%;
    background-color: #008080;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;     
}

.titleStoreSUB {
      font-size: clamp(1rem, 1.4vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:20rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}


.storePicks:hover .titleStore{
    background-color: rgb(255, 255, 255);
    color:black;
    top:-2.5rem; 
    font-size: clamp(1rem, 8vw,10rem); 
    width: 30%;


}

.storePicks:hover .titleStoreSUB{
    color: rgb(255, 255, 255);
    left:40rem;
    background-color: rgb(0, 0, 0);
    padding:1rem;
    top:7.1rem;
    width: 50%;
    font-size: clamp(1rem, 1.3vw,10rem); 

}




.titleCommunity {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: center; 
      line-height: 0.8;
      position: absolute;
      top:-2rem;  
      text-align: left;  
      left:4.5rem;
      padding: 1rem;
      z-index: 2;
      width: 76%;
    background-color: #fc7f4e;
      color: rgb(255, 255, 255);
      font-family: "PoppinsMedium";
      transition: all 0.3s ease;   
}




.titleCommunitySUB {
      font-size: clamp(1rem, 1.4vw,10rem); 
      text-align: center; 
      line-height: 1;
      position: relative;
      top:20rem;  
      text-align: left;  
      left:5rem;
      z-index: 2;
      width: 80%;
      color: rgb(0, 0, 0);
      font-family: "PoppinsRegular";  
      transition: all 0.3s ease;   
}

.communityMarket:hover .titleCommunity{
    background-color: rgb(255, 255, 255);
    color:black;
    top:-7rem; 

    font-size: clamp(1rem, 8vw,10rem); 
    width: 88%;


}


.communityMarket:hover .titleCommunitySUB{
    color: rgb(255, 255, 255);
    left:4.5rem;
    background-color: rgb(0, 0, 0);
    padding:1rem;
    top:21.1rem;
    width: 50%;
    font-size: clamp(1rem, 1.1vw,10rem); 

}



.brandnewdiv {
    background: linear-gradient(
      135deg,
      rgb(255, 255, 255), 
      rgb(112, 130, 146)
    );
    padding:20rem 0rem;
    padding-bottom: 5rem;
    position: relative;
    top:20rem;
      
}

.brandnewdiv h2 {
    font-size: clamp(8rem, 1.15vw, 2rem);
    width: 70%;
    margin:0;
    top:-11rem;
    line-height: 1.1;
    text-align: left;   
    left:3rem;
    position: relative;
}


.brandnewdiv p {
    font-size: clamp(3rem, 1.15vw, 2rem);
    width: 70%;
    margin:0;
    top:-10rem;
    line-height: 1.1;
    text-align: left;   
    left:3.5rem;
    position: relative;   
}

.brandnewdiv input {
    position: relative;
    width: 55rem;
    padding:1rem 0rem;
    padding-left:4rem;
    top:-10.5rem;
    border-radius: 1.5rem;
    left:-15.5rem;
    border:none;
    font-family: "PoppinsLight";
    font-size: clamp(2.4rem, 1vw, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 8;
}

.brandnewdiv button {
    position: relative;
    font-size: clamp(2.4rem, 1vw, 2.5rem);    
    border:none;
    color:white;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #333333);
    cursor: pointer;
    padding:1rem 2rem;
    top:-10.5rem;
    left:-15rem;
    font-family: "PoppinsLight";
    border-radius: 1.4rem;
    transition: all 0.4s ease;
}

.brandnewdiv button:hover {
    transform: scale(1.01);
}





@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {}

@media (max-width: 	360px) {}