.container {
    padding-top: 10rem;
    position: relative;
    width: 100%;
    height: 90rem;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
    padding-bottom: 10rem;
    transition: all 0.3s ease;
}

.containers {
    display: flex;          
    flex-direction: row;     
    justify-content: space-around; 
    align-items: center; 
    height: 15rem;
    position: relative;
    width: 83.2rem;
    margin: 25.8rem auto 0 auto;
}

.container1 {

    width: 41rem;
    position: relative;
    background-color: rgb(221, 229, 233);
    left:-0.4%;
    top:0rem;
    height: 15rem;
}

.container2 {

    width: 41rem;
    position: relative;
    background-color: rgb(221, 229, 233);
    left:25.1%;
    transform: translateX(-50%);
    top:0rem;
    height: 15rem;
}


.discoverBox {
  width: 83.35rem;
  left:50%;
  transform: translateX(-50%);
  height: 30rem;
  background-color: rgb(205, 199, 238);
  top:4.8rem;
  position: absolute;

  
}

.discoverBox .title {
    position: relative;
    left:0rem;
    text-align: left;
    top: 2.2rem;
    padding-left: 6rem;
    color:rgb(0, 0, 0);    
    font-weight: bold;  
    font-size: clamp(1rem, 4.8rem,10rem);
}

.discoverBox .subtitle {
  top:-2.8rem;
  color: rgb(0, 0, 0);
  font-family: "PoppinsLight";
  font-size: clamp(1rem, 1.56rem,10rem);
  width: 40%;
  line-height: 1;
  left:0rem;
  padding-left: 6rem;
  text-align: left;
  position: relative;
}

.discoverBox img {
  width: 60%;
  position: relative;
  left:20%;
  top:-14.8rem;
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 2.4rem,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-20rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.popularExplanation .subsubtitle {
      font-size: clamp(1rem, 1rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-22rem;   
      width: 110%;
      font-family: "PoppinsRegular";
}


.popularButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(0rem, 0.85rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:0rem;
      position: absolute;
      top: -7rem;
      z-index: 40;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s ease;


}

.popularButton:hover {
    background-color: #36a9b8;
}


.container1 img {
  position: relative;
  width: 45%;
  top:0rem;
  left:8rem;
}

.sellerExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(1rem, 2.4rem,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-20rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.sellerExplanation .subsubtitle {
      font-size: clamp(1rem, 1rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-22rem;   
      width: 110%;
      font-family: "PoppinsRegular";
}


.sellerButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(0rem, 0.85rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:0rem;
      position: absolute;
      top: -7rem;
      z-index: 40;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s ease;


}

.sellerButton:hover {
    background-color: #36a9b8;
}


.container2 img {
  position: relative;
  width: 55%;
  top:0rem;
  left:8rem;
}



.populardiv {
    padding: 3rem 0 5rem 0;
    width: 83.35rem;
    height: 25rem;
    margin: 2rem auto 0 auto; 
    position: relative;         



    
}



.popular {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5rem, 2.5rem);
}


.itemsPopular .searchRate {
    position: absolute;
    top: -3.5rem;
    left:0rem;
    font-size: clamp(0.8rem, 1.2rem, 2rem);
    color: rgb(255, 255, 255);
    padding: 0rem 1.24rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    background-color: rgb(203, 206, 255);
}

.itemsPopular .guarantee {
    position: absolute;
    top:19.7rem;   
    right: 0rem;  
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 4rem;
    position: relative;
    

    
}









.itemsPopular .item {
    margin-top: 0rem;
    flex: 1 0 15%; 
    box-sizing: border-box; 
    padding:8rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(230, 234, 236);
}


.itemsPopular span {
    position: absolute;
    top:20.25rem;    
    font-family: "PoppinsSemiBold";
    left: 0rem;  
    font-size: clamp(1rem, 1.08rem, 2rem);
    color:rgb(0, 0, 0);
}

.itemsPopular .name {
    text-align: left;
    position: absolute;
    top:16rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: rgb(51, 51, 51);
    align-items: center;
    left: 0rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 0.96rem, 2rem);


}


.itemsPopular img {
    position: absolute;
    left:50%;
    width: 100%;
    top:50%;
    transform: translate(-50%,-50%);
}




.sellerdiv {
    padding: 3rem 0 5rem 0;
    width: 83.35rem;
    height: 25rem;
    margin: -4rem auto 0 auto; 
    position: relative;   
    
}



.sellers {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5rem, 2.5rem);
}


.itemsBought .boughtRate {
    position: absolute;
    top: -3.5rem;
    left:0rem;
    font-size: clamp(0.8rem, 1.2rem, 2rem);
    color: rgb(255, 255, 255);
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    background-color: rgb(255, 203, 210);
}

.itemsBought .guarantee {
    position: absolute;
    top:19.7rem;   
    right: 0rem;  
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.itemsBought {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 4rem;
    position: relative;
    

    
}



.itemsBought .item {
    margin-top: 0rem;
    flex: 1 0 15%; 
    box-sizing: border-box; 
    padding:8rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(230, 234, 236);
}






.itemsBought span {
    position: absolute;
    top:20.25rem;    
    font-family: "PoppinsSemiBold";
    left: 0rem;  
    font-size: clamp(1rem, 1.08rem, 2rem);
    color:rgb(0, 0, 0);
}

.itemsBought .name {
    text-align: left;
    position: absolute;
    top:16rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: rgb(51, 51, 51);
    align-items: center;
    left: 0rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 0.96rem, 2rem);


}


.itemsBought img {
    position: absolute;
    left:50%;
    width: 100%;
    top:50%;
    transform: translate(-50%,-50%);
}




.itemsPopular .item,
.itemsBought .item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemsPopular .item:hover,
.itemsBought .item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}




.itemsPopular .item:hover,
.itemsBought .item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}




.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20%;
  height: 100vh; 
}

.loadingImage {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {
  .container {
    height: 80.5rem;
  }


.container1 {

    width: 37%;
    left:3.5%;
    top:-5rem;
    height: 15rem;
}

.container2 {

    width: 37%;
    right:3.5%;
    top:-5rem;
    height: 15rem;
}


.discoverBox {
  width: 80%;
  left:10%;
  height: 20rem;



  
}

.discoverBox .title {
    left:0rem;
    top: 2.5rem;
    padding-left: 1rem;
    font-weight: normal;  
    font-size: clamp(1rem, 2.2rem,10rem);
}

.discoverBox .subtitle {
  top:0rem;
  font-size: clamp(0.8rem, 0.8rem,10rem);
  width: 80%;
  left:0rem;
  padding-left: 1rem;

}

.discoverBox img {
  width: 20rem;
  position: relative;
  left:0vw;
  margin-left:-0.8rem;
  top:3rem;
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 105%;
    height: 32rem;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(0rem, 1.15rem,10rem); 
      top:-20rem;
      left:-4rem;
  
      width: 30%; 
}

.popularExplanation .subsubtitle {
      font-size: clamp(0rem, 0.65rem,10rem); 
      top:-21rem;   
      left:-4rem;
      width: 75%;
}


.popularButton {
      font-size: clamp(0rem, 0.65rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:-4rem;
      top: -8.5rem;
      padding: 0.3rem 0.8rem;



}


.container1 img {
  width: 8rem;
  top:8.5rem;
  left:5%;
}

.sellerExplanation {


    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 105%;
    height: 32rem;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(0rem, 1.15rem,10rem); 
      top:-20rem;  
      left:-4rem;

      width: 30%; 
}

.sellerExplanation .subsubtitle {
      font-size: clamp(0rem, 0.65rem,10rem); 
      top:-21rem;
      left:-4rem;
   
      width: 75%;
}


.sellerButton {
      font-size: clamp(0rem, 0.65rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:-4rem;

      top: -8.5rem;
      padding: 0.3rem 0.8rem;


}




.container2 img {
  width: 8rem;
  top:9.5rem;
  left:5%;
}


  .title {
    left: -5rem;
    top: -10rem;
    padding-right: 30rem;
    font-weight: normal;
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 2.5rem, 10rem);
  }

  
  .populardiv,
  .sellerdiv {
    padding: 2rem 0rem 5rem;
    width: 80vw;
    height: 23rem;
    left: 1rem;
  }

  .populardiv {
    top: 13rem;
  }

  .sellerdiv {
    top: 11.5rem;
  }

  .itemsPopular,
  .itemsBought {
    gap: 1rem;
    padding: 0rem 1rem;
  }

  .itemsPopular .item,
  .itemsBought .item {
    top: -2.5rem;
    flex: 1 0 33%;
    padding: 4.5rem 2rem;
    border-radius: 0.3rem;
  }

  .itemsPopular span,
  .itemsBought span {
    top: 8rem;
    margin-left: -4rem;
    left: 35.5vw;
    font-size: clamp(0rem, 0.65rem, 2rem);
    color: rgb(0, 0, 0);
    font-family: "PoppinsSemiBold";
  }

  .itemsPopular .name,
  .itemsBought .name {
    top: 3.4rem;
    width: 96%;
    font-family: "PoppinsMedium";
    left: -7.1rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.1rem, 0.55rem, 2rem);
  }

  .item img {
    width: 7.5rem;
    top: 1rem;
    margin-left:-4.5rem;
    left: 20.5vw;
  }

  .itemsPopular .searchRate {
    top: 7.5rem;
    margin-left:-3.55rem;
    left: 9vw;
    font-size: clamp(0.1rem, 0.6rem, 2rem);
    color: white;
    text-align: left;
    line-height: 1;
    white-space: nowrap;
    padding: 0.3rem 10vw;
    font-family: "PoppinsSemiBold";
    background-color: rgb(89, 182, 189);
  }

  .itemsPopular .guarantee,
  .itemsBought .guarantee {
    top: 6.3rem;
    left: -4.2rem;
    white-space: nowrap;
    font-size: clamp(0rem, 0.6rem, 2rem);
    color: #1d3c94;
  }

  .itemsBought .boughtRate {
    top: 7.5rem;
    margin-left:-3.3rem;
    left: 9vw;
    font-size: clamp(0.1rem, 0.6rem, 2rem);
    color: white;
    text-align: left;
    line-height: 1;
    white-space: nowrap;
    padding: 0.3rem 10vw;
    font-family: "PoppinsSemiBold";
    background-color: rgb(189, 92, 89);
  }

  .itemsBought p {
    position: absolute;
    top: 8.5rem;
    left: 1.5rem;
  }



}




@media (max-width: 360px) {
  .container {
    height: 76rem; 
  }


.container1 {

    width: 37%;
    left:3.5%;
    top:-5rem;
    height: 15rem;
}

.container2 {

    width: 37%;
    right:3.5%;
    top:-5rem;
    height: 15rem;
}


.discoverBox {
  width: 80%;
  left:10%;
  height: 20rem;



  
}

.discoverBox .title {
    left:0rem;
    top: 2.5rem;
    padding-left: 1rem;
    font-weight: normal;  
    font-size: clamp(1rem, 2.2rem,10rem);
}

.discoverBox .subtitle {
  top:0rem;
  font-size: clamp(0.8rem, 0.8rem,10rem);
  width: 80%;
  left:0rem;
  padding-left: 1rem;

}

.discoverBox img {
  width: 16rem;
  position: relative;
  left:0vw;
  margin-left:-0.1rem;
  top:3rem;
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 105%;
    height: 32rem;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(0rem, 1.15rem,10rem); 
      top:-20rem;  
      left:-4rem;
      width: 30%; 
}

.popularExplanation .subsubtitle {
      font-size: clamp(0rem, 0.65rem,10rem); 
      top:-21rem;
      left:-4rem;   
      width: 75%;
}


.popularButton {
      font-size: clamp(0rem, 0.65rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:-4rem;
      top: -8.5rem;
      padding: 0.3rem 0.8rem;



}


.container1 img {
  width: 6rem;
  top:9.5rem;
  left:5%;
}

.sellerExplanation {


    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 105%;
    height: 32rem;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(0rem, 1.15rem,10rem); 
      top:-20rem;  
      left:-4rem;
      width: 30%; 
}

.sellerExplanation .subsubtitle {
      font-size: clamp(0rem, 0.65rem,10rem); 
      top:-21rem;   
      left:-4rem;
      width: 75%;
}


.sellerButton {
      font-size: clamp(0rem, 0.65rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:-4rem;
      top: -8.5rem;
      padding: 0.3rem 0.8rem;


}




.container2 img {
  width: 6rem;
  top:10rem;
  left:5%;
}


  .title {
    top: -10rem; 
  }

  .populardiv,
  .sellerdiv {
    padding: 2rem 0rem 5rem;
    width: 80vw;
    height: 20rem;
    left: 1rem;
  }



  .itemsPopular .item,
  .itemsBought .item {
    padding: 4rem 2rem; 
  }

  .itemsPopular span,
  .itemsBought span {
    top: 7.1rem; 
    margin-left:-4rem;
    left:38vw;
    font-size: clamp(0rem, 0.55rem, 2rem); 
  }

  .itemsPopular .name,
  .itemsBought .name {
    top: 2.3rem; 
    width: 90%;
    left: -7.1rem; 
    font-size: clamp(0.1rem, 0.45rem, 2rem);
  }

  .item img {
    width: 6rem; 
    margin-left: -4rem; 
    left: 21.5vw; 
  }

  .itemsPopular .guarantee,
  .itemsBought .guarantee {
    top: 5.43rem; 
    font-size: clamp(0rem, 0.5rem, 2rem); 
  }
}

