.container {
    padding-top: 10rem;
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
    padding-bottom: 15vh;
    transition: all 0.3s ease;
}


.populardiv {
    background: linear-gradient(135deg,
     #ff416c, 
     #ff4b2b,
      #ff6a00);
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    
}


.popular {
    position: relative;
    left:8rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;

    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(7rem, 1.5vw, 2.5rem);
}


.itemsPopular .searchRate {
    position: absolute;
    margin-top: -16rem;
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: rgb(235, 158, 15);
}

.itemsPopular .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 8rem;
    position: relative;

    
}






.itemsPopular span {
    position: absolute;
    top:18.5rem;    
}

.itemsPopular p {
    position: absolute;
    top:17.09rem;    
}

.itemsPopular li {
    margin-top: -7rem;
    flex: 1 0 14%; 
    box-sizing: border-box; 
    padding:10.5rem 1rem;
    border-radius: 2rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsPopular span {
    position: absolute;
    top:18.5rem;    
    margin-left: 2.6rem;  
    font-size: clamp(1rem, 1.1vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsPopular h3 {
    text-align: left;
    position: absolute;
    top:12rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: -0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(1rem, 1.15vw, 2rem);


}







.sellerdiv {
    background: linear-gradient(135deg,
     #4facfe,
      #00f2fe,
       #43e97b);
    padding:3rem 0rem;
    padding-bottom: 5rem;
  
    
}



.sellers {
    position: relative;
    left:8rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;

    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(7rem, 1.5vw, 2.5rem);
}

.itemsBought .boughtRate {
    position: absolute;
    margin-top: -16rem;
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: rgb(111, 27, 145);
}

.itemsBought .guarantee {
    position: absolute;
    margin-top:1.75rem;
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsBought {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    margin-top:4rem;
    padding: 0rem 8rem;
    position: relative;
    
}



.itemsBought span {
    position: absolute;
    top:18.5rem;    
}

.itemsBought p {
    position: absolute;
    top:17.09rem;    
}

.itemsBought li {
    margin-top: -7rem;
    flex: 1 0 14%; 
    box-sizing: border-box; 
    padding:10.5rem 1rem;
    border-radius: 2rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}


.itemsBought span {
    position: absolute;
    top:18.5rem;    
    font-size: clamp(1rem, 1.1vw, 2rem);
    margin-left: 2.6rem;  
    color:rgb(16, 82, 16);
}

.itemsBought h3 {
    text-align: left;
    position: absolute;
    top:12rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: -0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(1rem, 1.15vw, 2rem);
}

.itemsPopular li,
.itemsBought li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemsPopular li:hover,
.itemsBought li:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

.itemsPopular img {
    position: absolute;
    left:-1.3rem;
    top:1.5rem;
}

.itemsBought img {
    position: absolute;
    left:-1.3rem;
    top:1.5rem;
}



.itemsPopular li:hover,
.itemsBought li:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}



.brandnewdiv {
    background: linear-gradient(
      135deg,
      rgb(255, 255, 255), 
      rgb(112, 130, 146)
    );
    padding:20rem 0rem;
    padding-bottom: 5rem;
      
}

.brandnewdiv h2 {
    font-size: clamp(8rem, 1.15vw, 2rem);
    width: 70%;
    margin:0;
    top:-11rem;
    line-height: 1.1;
    text-align: left;   
    left:3rem;
    position: relative;
}


.brandnewdiv p {
    font-size: clamp(3rem, 1.15vw, 2rem);
    width: 70%;
    margin:0;
    top:-10rem;
    line-height: 1.1;
    text-align: left;   
    left:3.5rem;
    position: relative;   
}

.brandnewdiv input {
    position: relative;
    width: 55rem;
    padding:1rem 0rem;
    padding-left:4rem;
    top:-10.5rem;
    border-radius: 1.5rem;
    left:-15.5rem;
    border:none;
    font-family: "PoppinsLight";
    font-size: clamp(2.4rem, 1vw, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 8;
}

.brandnewdiv button {
    position: relative;
    font-size: clamp(2.4rem, 1vw, 2.5rem);    
    border:none;
    color:white;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #333333);
    cursor: pointer;
    padding:1rem 2rem;
    top:-10.5rem;
    left:-15rem;
    font-family: "PoppinsLight";
    border-radius: 1.4rem;
    transition: all 0.4s ease;
}

.brandnewdiv button:hover {
    transform: scale(1.01);
}

