.container {
    padding-top: 10rem;
    position: relative;
    width: 100%;
    height: 100rem;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
    padding-bottom: 10rem;
    transition: all 0.3s ease;
}

.containers {
    display: flex;          
    flex-direction: row;     
    justify-content: space-around; 
    align-items: center; 
    height: 15rem;
    position: relative;
    width: 90rem;
    margin: 25.8rem auto 0 auto;
}

.container1 {

    width: 44.3rem;
    position: relative;
    background-color: rgb(221, 229, 233);
    left:-0.34%;
    top:0rem;
    height: 15rem;
}

.container2 {

    width: 44.3rem;
    position: relative;
    background-color: rgb(221, 229, 233);
    left:25%;
    transform: translateX(-50%);
    top:0rem;
    height: 15rem;
}


.discoverBox {
  width: 90rem;
  left:50%;
  transform: translateX(-50%);
  height: 30rem;
  background-color: rgb(205, 199, 238);
  top:4.8rem;
  position: absolute;

  
}

.discoverBox .title {
    position: relative;
    left:0rem;
    text-align: left;
    top: 2.2rem;
    padding-left: 6rem;
    color:rgb(0, 0, 0);    
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 4.8rem,10rem);
}

.discoverBox .subtitle {
  top:-2.8rem;
  color: rgb(0, 0, 0);
  font-family: "PoppinsLight";
  font-size: clamp(1rem, 1.56rem,10rem);
  width: 40%;
  line-height: 1;
  left:0.2rem;
  padding-left: 6rem;
  text-align: left;
  position: relative;
}

.discoverBox img {
  width: 60%;
  position: relative;
  left:20%;
  top:-14.8rem;
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 2.4rem,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-20rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.popularExplanation .subsubtitle {
      font-size: clamp(1rem, 1rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-22rem;   
      width: 110%;
      font-family: "PoppinsRegular";
}


.popularButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(0rem, 0.85rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:0rem;
      position: absolute;
      top: -7rem;
      z-index: 40;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s ease;


}

.popularButton:hover {
    background-color: #36a9b8;
}


.container1 img {
  position: relative;
  width: 45%;
  top:-1rem;
  left:9rem;
}

.sellerExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(1rem, 2.4rem,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-20rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.sellerExplanation .subsubtitle {
      font-size: clamp(1rem, 1rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-22rem;   
      width: 105%;
      font-family: "PoppinsRegular";
}


.sellerButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(0rem, 0.85rem,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:0rem;
      position: absolute;
      top: -7rem;
      z-index: 40;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s ease;


}

.sellerButton:hover {
    background-color: #36a9b8;
}


.container2 img {
  position: relative;
  width: 55%;
  top:-1rem;
  left:9rem;
}



.populardiv {
    padding: 3rem 0 5rem 0;
    width: 90rem;
    height: 25rem;
    margin: 2rem auto 0 auto; 
    position: relative;         



    
}



.popular {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-size: clamp(5rem, 1.5rem, 2.5rem);
    
}


.itemsPopular .searchRate {
    position: absolute;
    top: -3rem;
    left:-0.05rem;
    width: 14.7rem;
    font-size: clamp(0.8rem, 1.2rem, 2rem);
    color: rgb(255, 255, 255);
    padding: 0rem 1.24rem;
    white-space: nowrap;
    background-color: rgb(142, 147, 255);
}




.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 0rem;
    position: relative;
    

    
}









.itemsPopular .item {
    margin-top: 0rem;
    flex: 1 0 15%; 
    box-sizing: border-box; 
    padding:11.5rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255); 
    border: 1.9px solid rgb(219, 219, 219);


}

.popularInfo {
    background-color: rgb(243, 243, 243);
    position: absolute;
    padding:6rem 1rem; 
    top:0.7rem;
    width: 77%;
    left:50%;
    transform: translateX(-50%);

}

.itemsPopular .guaranteeTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsPopular .guarantee {
    position: absolute;
    top:16.7rem;   
    left: 0.85rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}

.itemsPopular .availTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    right: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsPopular .avail {
    position: absolute;
    top:16.7rem;   
    left: 12.45rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.itemsPopular .priceTitle {
    position: absolute;
    top:18.5rem;    
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsPopular .price {
    position: absolute;
    top:19.25rem;    
    font-family: "PoppinsSemiBold";
    left: 0.8rem;  
    font-size: clamp(1rem, 1.2rem, 2rem);
    color:#313131;
}

.itemsPopular .name {
    text-align: left;
    position: absolute;
    top:12.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: #313131;
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1rem, 2rem);


}


.itemsPopular img {
    position: absolute;
    left:50%;
    width: 110%;
    top:50%;
    transform: translate(-50%,-50%);
}



.itemsPopular .cart {
    position: absolute;
    background-color: white;
    border: none;
    top:19.5rem;
    right: 0.85rem;  
    cursor: pointer;
    z-index: 20;
    padding: 1.2rem 1.2rem;
    border: 1px solid rgb(54, 132, 250);
    transition: all 0.3s ease;
}


.itemsPopular .cartText {
    position: absolute;
    transition: all 0.3s ease;
    white-space: nowrap;
    top:15%;
    left:60%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: "PoppinsRegular";
}


.itemsPopular .cart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(54, 132, 250);
    position: absolute;
    transition: all 0.3s ease;
}

.itemsPopular .cart:hover {
    padding: 1.2rem 4rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);
}

.itemsPopular .cart:hover svg {
    left:20%;
    fill:white;
}


.itemsPopular .inCart {
    padding: 1.2rem 1.2rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);  
}

.itemsPopular .inCart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease;
}



.sellerdiv {
    padding: 3rem 0 5rem 0;
    width: 90rem;
    height: 25rem;
    margin: -4rem auto 0 auto; 
    position: relative;   
    
}





.itemsBought .boughtRate {
    position: absolute;
    top: -3rem;
    left:-0.05rem;
    width: 14.7rem;
    font-size: clamp(0.8rem, 1.2rem, 2rem);
    color: rgb(255, 255, 255);
    padding: 0rem 1.24rem;
    white-space: nowrap;
    background-color: rgb(255, 125, 143);
}




.itemsBought {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 0rem;
    position: relative;
    

    
}









.itemsBought .item {
    margin-top: 0rem;
    flex: 1 0 15%; 
    box-sizing: border-box; 
    padding:11.5rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255); 
    border: 1.9px solid rgb(219, 219, 219);


}

.popularInfo {
    background-color: rgb(243, 243, 243);
    position: absolute;
    padding:6rem 1rem; 
    top:0.7rem;
    width: 77%;
    left:50%;
    transform: translateX(-50%);

}

.itemsBought .guaranteeTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsBought .guarantee {
    position: absolute;
    top:16.7rem;   
    left: 0.85rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}

.itemsBought .availTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    right: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsBought .avail {
    position: absolute;
    top:16.7rem;   
    left: 12.45rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.itemsBought .priceTitle {
    position: absolute;
    top:18.5rem;    
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.itemsBought .price {
    position: absolute;
    top:19.25rem;    
    font-family: "PoppinsSemiBold";
    left: 0.8rem;  
    font-size: clamp(1rem, 1.2rem, 2rem);
    color:#313131;
}

.itemsBought .name {
    text-align: left;
    position: absolute;
    top:12.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: #313131;
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1rem, 2rem);


}


.itemsBought img {
    position: absolute;
    left:50%;
    width: 110%;
    top:50%;
    transform: translate(-50%,-50%);
}



.itemsBought .cart {
    position: absolute;
    background-color: white;
    border: none;
    top:19.5rem;
    right: 0.85rem;  
    cursor: pointer;
    padding: 1.2rem 1.2rem;
    border: 1px solid rgb(54, 132, 250);
    transition: all 0.3s ease;
}


.itemsBought .cartText {
    position: absolute;
    transition: all 0.3s ease;
    white-space: nowrap;
    top:15%;
    left:60%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: "PoppinsRegular";
}


.itemsBought .cart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(54, 132, 250);
    position: absolute;
    transition: all 0.3s ease;
}

.itemsBought .cart:hover {
    padding: 1.2rem 4rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);
}

.itemsBought .cart:hover svg {
    left:20%;
    fill:white;
}


.itemsBought .inCart {
    padding: 1.2rem 1.2rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);  
}

.itemsBought .inCart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease;
}



.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loadingImage {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.cartSpinnerDiv {
    padding: 0.52rem 0.52rem;
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 0.33rem;
    position: absolute;
    border-radius: 50%;
    right: 110%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}


.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    animation: spin 0.8s linear infinite;
    display: block;
    margin: 0 auto;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





@media (max-width: 1540px) {
.container {
    padding-top: 10rem;
    height: 72rem;
    padding-bottom: 10rem;

}

.containers {
    height: 15rem;
    width: 74.2rem;
    margin: 25.8rem auto 0 auto;
}

.container1 {

    width: 34.5rem;
    left:1.12%;
    top:-8rem;
    height: 13rem;
}

.container2 {

    width: 34.5rem;
    left:22.21%;
    top:-8rem;
    height: 13rem;
}


.discoverBox {
  width: 70rem;
  height: 24.3rem;
  top:3.7rem;


  
}

.discoverBox .title {
    left:-1rem;
    top: 2.2rem;
    font-size: clamp(1rem, 3.8rem,10rem);
}

.discoverBox .subtitle {
  top:-2rem;
  font-size: clamp(1rem, 1.22rem,10rem);
  width: 35%;
  left:-0.7rem;

}

.discoverBox img {
  width: 58%;
  left:20%;
  top:-11.6rem;
}


.popularExplanation {

    width: 35%;
    height: 32rem;
    left:4rem;
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 2rem,10rem); 

}

.popularExplanation .subsubtitle {
      font-size: clamp(0rem, 0.85rem,10rem); 
      top:-21.7rem;   
      width: 110%;

}


.popularButton {
      font-size: clamp(0rem, 0.8rem,10rem); 
      left:0rem;
      top: -8.7rem;
      z-index: 40;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;


}


.container1 img {
  width: 45%;
  top:0.5rem;
  left:7rem;
}

.sellerExplanation {

    width: 35%;
    height: 32rem;
    left:4rem;
}

.sellerExplanation .subtitle {
      font-size: clamp(1rem, 2rem,10rem); 
}

.sellerExplanation .subsubtitle {
      font-size: clamp(0rem, 0.85rem,10rem); 
      top:-21.7rem;   
      width: 110%;
}


.sellerButton {
      font-size: clamp(0rem, 0.8rem,10rem); 
      left:0rem;
      top: -8.7rem;
      z-index: 40;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;


}



.container2 img {
  width: 55%;
  top:0.5rem;
  left:7rem;
}


.populardiv {
    padding: 0rem 0 5rem 0;
    width: 71.2rem;
    height: 25rem;
    margin: -4.8rem auto 0 auto; 



    
}




.itemsPopular .searchRate {
    top: -2.8rem;
    left:0rem;
    width: 9.4rem;
    font-size: clamp(0.8rem, 0.95rem, 2rem);
    padding: 0rem 1.24rem;
    border-radius: 0.4rem;
}

.itemsPopular .guarantee {
    position: absolute;
    top:16.8rem;   
    right: 0.3rem;  
    font-size: clamp(0rem, 0.75rem, 2rem);
}



.itemsPopular {
    gap: 1rem; 
    padding: 0rem 4rem;
    

    
}




.itemsPopular .item {
    padding:7rem 1rem;
    border-radius: 0.25rem;

}


.itemsPopular span {
    top:17.45rem;    
    left: 0.35rem;  
    font-size: clamp(0rem, 0.9rem, 2rem);
}

.itemsPopular .name {
    top:14rem;
    line-height: 1.1;
    left: 0rem;
    font-size: clamp(0.5rem, 0.81rem, 2rem);


}



.sellerdiv {
    padding: 0rem 0 5rem 0;
    width: 71.2rem;
    height: 25rem;
    margin: -6rem auto 0 auto; 
    
}




.itemsBought .boughtRate {
    top: -2.8rem;
    left:0rem;
    width: 9.4rem;
    font-size: clamp(0.8rem, 0.95rem, 2rem);
    padding: 0rem 1.24rem;
    border-radius: 0.4rem;
}

.itemsBought .guarantee {
    position: absolute;
    top:16.8rem;   
    right: 0.3rem;  
    font-size: clamp(0rem, 0.75rem, 2rem);
}



.itemsBought {
    gap: 1rem; 
    padding: 0rem 4rem;
    
    

    
}



.itemsBought .item {
    padding:7rem 1rem;
    border-radius: 0.25rem;
}






.itemsBought span {
    top:17.45rem;    
    left: 0.35rem;  
    font-size: clamp(0rem, 0.9rem, 2rem);
}

.itemsBought .name {
    top:14rem;
    line-height: 1.1;
    left: 0rem;
    font-size: clamp(0.5rem, 0.81rem, 2rem);


}



}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {

}


@media (max-width: 360px) {

}

