.container {
    padding-top: 10rem;
    position: relative;
    width: 100%;
    height: 82rem;
    background: linear-gradient(
      45deg,
      rgb(255, 255, 255), 
      rgb(211, 219, 226), 
      rgb(112, 130, 146)
    );
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 8;
    padding-bottom: 15vh;
    transition: all 0.3s ease;
}

.container1 {

    background: linear-gradient(135deg, #ffffff, #fff9f3, #fceabb);
    width: 90%;
    position: relative;
    left:5%;
    height: 40rem;
}

.container2 {
    background: linear-gradient(45deg, 
    #fceabb,
     #fff9f3,
    #ffffff
     );
    width: 90%;
    position: relative;
    left:5%;
    top:15rem;
    height: 40rem;    
}




.title {
    position: relative;
    left:0rem;
    text-align: left;
    margin-top: 0rem;
    top:-10rem;
    background-color: #EAEAEA;
    padding-left: 6rem;
    color:rgb(0, 0, 0);    
    font-weight: bold;  
    font-size: clamp(7rem, 6vw,10rem);
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: left; 
      line-height: 0.9;
      position: relative;
      top:-22rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.popularExplanation .subsubtitle {
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: left; 
      line-height: 1.3;
      position: relative;
      top:-27rem;   
      font-family: "PoppinsRegular";
}


.popularButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: left; 
      line-height: 1.3;
      left:6.2rem;
      position: absolute;
      margin-top: -27.6rem;
      z-index: 40;
      width: 24%;
      padding: 1.07rem 8rem;
      border-radius: 2rem;
      transition: all 0.3s ease;


}

.popularButton:hover {
    background-color: #36a9b8;
}

.populardiv {
background: linear-gradient(135deg,
    #2c3e50,
    #4ca1af,
    #1c1c2b);
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    width: 50%;
    height: 25rem;
    position: relative;
    left:48.5rem;
    top:3.5rem;
    
}


.popular {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5vw, 2.5rem);
}


.itemsPopular .searchRate {
    position: absolute;
    margin-top: -7.5rem;
    left:1.5rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: rgb(235, 158, 15);
}

.itemsPopular .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 3rem;
    position: relative;

    
}







.itemsPopular p {
    position: absolute;
    top:8.5rem;   
    left:1.5rem; 
}

.itemsPopular .item {
    margin-top: 0rem;
    flex: 1 0 30%; 
    box-sizing: border-box; 
    padding:6rem 1rem;
    border-radius: 1rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsPopular span {
    position: absolute;
    top:10.25rem;    
    margin-left: 3.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsPopular h3 {
    text-align: left;
    position: absolute;
    top:1rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: 7rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 0.8vw, 2rem);


}


.sellerExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:57rem;
    top:17rem;
    border-radius: 3rem; 
}

.sellerExplanation .subtitle {
      font-size: clamp(1rem, 5vw,10rem); 
      text-align: right; 
      line-height: 0.9;
      position: relative;
      top:-19rem;   
      width: 120%;
      font-family: "PoppinsSemiBold";
}

.sellerExplanation .subsubtitle {
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: right; 
      line-height: 1.3;
      position: relative;
      left:7.5rem;
      top:-24rem;   
      font-family: "PoppinsRegular";
}


.sellerButton {
    background-color: #2c8f9c;
    color:white;
      font-size: clamp(1rem, 1.5vw,10rem); 
      text-align: right; 
      line-height: 1.3;
      position: absolute;
      margin-top: -24.6rem;
      z-index: 40;  
      left:15rem;
      width: 24%;
      padding: 1.07rem 8rem;
      border-radius: 2rem;
      transition: all 0.3s ease;


}

.sellerButton:hover {
    background-color: #36a9b8;
}





.sellerdiv {
background: linear-gradient(135deg,
    #200122,
    #6f0000,
    #0f0c29);
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    width: 50%;
    height: 25rem;
    position: relative;
    left:5rem;
    top:3.5rem;
  
    
}



.sellers {
    position: relative;
    left:4rem;
    text-align: left;
    margin-top: 0rem;
    top:-1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5vw, 2.5rem);
}

.itemsBought .boughtRate {
    position: absolute;
    margin-top: -7.5rem;
    left:1.5rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: rgb(111, 27, 145);
}

.itemsBought .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsBought {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 3rem;
    position: relative;
    
}





.itemsBought p {
    position: absolute;
    top:8.5rem;   
    left:1.5rem; 
}

.itemsBought .item {
    margin-top: 0rem;
    flex: 1 0 30%; 
    box-sizing: border-box; 
    padding:6rem 1rem;
    border-radius: 1rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsBought span {
    position: absolute;
    top:10.25rem;    
    margin-left: 3.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsBought h3 {
    text-align: left;
    position: absolute;
    top:1rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: 7rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 0.8vw, 2rem);


}

.itemsPopular .item,
.itemsBought .item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemsPopular .item:hover,
.itemsBought .item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

.itemsPopular img {
    position: absolute;
    left:-1.6rem;
    top:1.5rem;
}

.itemsBought img {
    position: absolute;
    left:-1.6rem;
    top:1.5rem;
}



.itemsPopular .item:hover,
.itemsBought .item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}










@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {}




@media (max-width: 	360px) {

.container {
    height: 46rem;

}

.container1 {

    height: 22rem;
}

.container2 {

    top:13rem;
    height: 20rem;    
}


.title {
    left:-5rem;
    top:-10rem;
    padding-right: 30rem;
    font-weight: normal;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 2.5rem,10rem);
}

.popularExplanation {

    padding:3rem 0rem;
    padding-bottom: 5rem;
    width: 35%;
    height: 32rem;
    position: absolute;
    left:5rem;
    top:17rem;
    border-radius: 3rem; 
}

.popularExplanation .subtitle {
      font-size: clamp(1rem, 1.5rem,10rem); 
      left:-4rem;
      top:-20.5rem;   
      width: 200%;
}

.popularExplanation .subsubtitle {
      font-size: clamp(0.5rem, 0.7rem,10rem); 
      width: 250%;
      top:-21.5rem;   
      left:-4rem;
}


.popularButton {
      font-size: clamp(0rem, 0.7rem,10rem); 
      left:-4rem;
      top: 20.7rem;
      width: auto;
      padding: 0.3rem 2rem;


}


.populardiv {
    padding:2rem 0rem;
    padding-bottom: 5rem;
    width: 80vw;
    height: 1rem;
    left:1rem;
    top:12.5rem;
    
}


.popular {
    left:1rem;
    text-align: left;
    margin-top: 0rem;
    top:1rem;
    margin-bottom: -1rem;
    color:white;    
    font-weight: bold;  
    font-style: italic;  
    font-size: clamp(5rem, 1.5vw, 2.5rem);
}


.itemsPopular .searchRate {
    position: absolute;
    margin-top: -7.5rem;
    left:1.5rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: rgb(235, 158, 15);
}

.itemsPopular .guarantee {
    position: absolute;
    margin-top:1.75rem;   
    margin-left: 4.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #1d3c94;
}



.itemsPopular {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 1rem;
    position: relative;

    
}







.itemsPopular p {
    position: absolute;
    top:8.5rem;   
    left:1.5rem; 
}

.itemsPopular .item {
    top: -2.5rem;
    flex: 1 0 20%; 
    box-sizing: border-box; 
    padding:1.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}


.itemsPopular span {
    position: absolute;
    top:10.25rem;    
    margin-left: 3.5rem;  
    font-size: clamp(1rem, 0.8vw, 2rem);
    color:rgb(16, 82, 16);
}

.itemsPopular h3 {
    text-align: left;
    position: absolute;
    top:1rem;
    line-height: 1.1;
    margin-top: 3.3rem;
    align-items: center;
    margin-left: 7rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 0.8vw, 2rem);


}


}