.container {
    height: auto;
    min-height: 160rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.account {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 35%;
    height: 25rem;
    left: 10%;
    top: 7rem;
    z-index: 2;
    border-radius: 2rem;
    overflow: hidden;
    transition: all 1s ease;
}

.account.active {
      width: 80%; 
      height: 20rem; 
}

.account .pp {
    width: 13rem;
    position: absolute; 
    left: 0rem;         
    top: 12rem;  
    z-index: 5;    
    transition: all 1s ease;  
}

.account.active .pp {
    width: 11rem;
    top: 9rem;  
}

.editPpTitle {
    color: rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    top:2rem;
    left:3rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    font-size: clamp(1rem, 1.2rem, 10rem);    
}

.uploadButton{
    z-index: 10;
    position: absolute;
    left:5rem;
    bottom: 3rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-color: rgb(138, 138, 248);
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadButton:hover {
    transform: scale(1.02);
    background-color: rgb(94, 94, 255);
}

.uploadButton p {
    top:-3.8rem;
    position: relative;
    font-family: "PoppinsExtraLight";
    font-size: clamp(1rem, 6rem, 10rem);
    line-height: 1;

}

.account .name {
    position: absolute;  
    top: 13rem;         
    width: 100%;   
    left:0rem;     

    display: flex;
    flex-direction: column;    
    align-items: left;     
    

    background: linear-gradient(0deg, rgba(49, 49, 49, 0.644), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);        
    -webkit-backdrop-filter: blur(5px); 
    padding: 1rem 1rem;
    padding-bottom: 11rem;
    padding-left: 14rem;
    z-index: 4;
    transition: all 1s ease;  
}

.account.active .name {
    top: 0rem;    
    background: linear-gradient(-90deg, rgba(49, 49, 49, 0.644), rgba(255, 255, 255, 0));
    padding: 10rem 1rem;
    padding-left: 2rem;
 
}

.account .name .customerName {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    font-size: clamp(1rem, 2rem, 10rem);
}

.editName {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    right: 46%;
    top: 3rem;
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.nameInput {
  position: absolute;
  top: 6rem;
  right: 35%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}

.account .name .username {
    color: white;
    font-family: "PoppinsLight";
    white-space: nowrap;
    font-size: clamp(0.8rem, 1.2rem, 10rem);
    margin-top: 4.5rem; 
    position: absolute;
}

.editUsername {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    right: 46%;
    top: 9rem;
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.usernameInput {
  position: absolute;
  top: 12rem;
  right: 35%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}


.balanceContainer {
    position: absolute; 
    width: 35%;
    height: 5rem;
    left: 10%;
    top: 33rem;
    z-index: 0;
    background-color: rgb(230, 230, 230);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 1s ease;
}

.balanceContainer.hidden {
  left:-45%;
  pointer-events: none; 
}

.balance {
    color:rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    position:absolute;
    top:-1rem;
    left:0.5rem;
    border-radius: 0.8rem;
    padding: 0.9rem 2rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1.5rem, 10rem);

}

.balanceContainer button {
    color:rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position:absolute;
    top:1.25rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1rem, 10rem);  
    cursor: pointer;  
    transition: all 0.3s ease;
}

.balanceContainer .add {
    background-color: #3B82F6;
    right:14.5rem;
}

.balanceContainer .transaction {
    background-color: #797979;
    right:0.5rem;
}

.balanceContainer button:hover {
    transform: scale(1.02);
}

.balanceContainer .add:hover {
    background-color: #488cfa;
}

.balanceContainer .transaction:hover {
    background-color: #5f5f5f;
}


.descriptionTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    top: 36rem; 
    position: absolute;
    left: 11%;
    color: rgb(49, 49, 49);
}

.descriptionTitle.active {
    top: 26rem;   
}

.accountDescription {
    position: absolute;
    top:42rem;
    width: 35%;
    left: 10%;
    height: 15rem;
    background-color: rgb(230, 230, 230);
    border-radius: 2rem;
    overflow-y: scroll;
    transition: all 1s ease;
}

.accountDescription.active {
    width: 80%;    
    top:32rem;

}

.descriptionInput {
  position: absolute;
  top: 1rem;
  left: 1%;
  width: 35%;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 8rem 5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: auto;

  transition: all 1s ease;
}


.description {
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1rem, 10rem);
    margin-top: 1.3rem; 
    text-align: left;
    position: absolute;
    width: 90%;
    left: 4.5%;
    color: rgb(49, 49, 49);
}


.editContainer {
    background-color: rgb(230, 230, 230);
    height: 6.5rem;
    width: 42%;
    right:10%;
    top:7rem;
    border-radius: 2rem;
    position: absolute;
    transition: all 1s ease;
}

.editContainer.active {
  background-color: #76abff;
  top:50rem;
}

.editContainer .editTitle {
     font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 1.5rem; 
    position: absolute;
    left: 4rem;
    color: rgb(49, 49, 49);   
}

.editContainer.active .editTitle {
    color: white;
}

.editContainer button {
    color:rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position:absolute;
    top:1.8rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 3rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1.2rem, 10rem);  
    cursor: pointer;  
    transition: all 0.3s ease;  
}

.editContainer .edit {
    background-color: #3B82F6;
    right:15rem;
}

.editContainer .save {
    background-color: #797979;
    right:5rem;
}

.editContainer .cancel {
    background-color: #797979;
    right:5rem;
}


.editContainer .saveEdit {
    background-color: #ffffff;
    color: black;
    right:17rem;
}



.editContainer button:hover {
    transform: scale(1.02);
}

.editContainer .edit:hover {
    background-color: #488cfa;
}

.editContainer .save:hover {
    background-color: #5f5f5f;
}

.editContainer .cancel:hover {
    background-color: #5f5f5f;
}

.editContainer .saveEdit:hover {
    background-color: #d8e7ff;    
}


.activityContainer {
    background-color: rgb(230, 230, 230);
    height: 41.5rem;
    width: 42%;
    right:10%;
    top:15.5rem;
    border-radius: 2rem;
    position: absolute;
    transition: all 1s ease;
}


.spentContainer {
    background-color: rgb(230, 230, 230);
    height: 41.5rem;
    width: 42%;
    left:10%;
    top: 113rem;
    border-radius: 2rem;
    position: absolute;

}

.activityContainer.hidden {
  right:-45%;
  pointer-events: none; 
}



.activityTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 3rem; 
    position: absolute;
    left: 9%;
    color: rgb(49, 49, 49);
}

.activitySubTitle {
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1.2rem, 10rem);
    margin-top: 7.5rem; 
    text-align: left;
    position: absolute;
    width: 82%;
    left: 9%;
    color: rgb(49, 49, 49);
}

.chart {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 1rem 0rem;
    padding-top: 2rem;
    padding-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
}


.itemsContainer {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 80%;
    height: 50rem;
    right: 10%;
    top: 60rem;
    border-radius: 2rem;
    overflow: hidden;    
}

.itemTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 3rem, 10rem);
    position: absolute;
    left: 6%;
    color: rgb(49, 49, 49);
}

.itemSubtitle{
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1.3rem, 10rem);
    margin-top: 7.3rem; 
    text-align: left;
    position: absolute;
    width: 82%;
    left: 6.2%;
    color: rgb(49, 49, 49);
}




.items .guarantee {
    position: absolute;
    top:2.7rem;   
    right: 1rem;  
    font-size: clamp(0rem, 0.7vw, 2rem);
    color: #1d3c94;
}



.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; 
    padding: 0 5rem; 
    box-sizing: border-box;
    list-style-type: none;

    
}

.info {
    width: 100%;
    height: 5rem;
    top:12rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.116);
    left:0rem;
    border-radius: 0.5rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
}









.items .item {
    box-sizing: border-box;
    padding:7rem 0rem;    
    border-radius: 0.5rem;
    top:7rem;
    margin-top:3rem;
    background-color: rgb(230, 234, 236);
    color: black;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.items .item:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}


.items .price {
    position: absolute;
    top:2.25rem;    
    font-family: "PoppinsSemiBold";
    left: 1rem;  
    font-size: clamp(1rem, 0.9vw, 2rem);
    color:rgb(0, 0, 0);
}

.items .name {
    text-align: left;
    position: absolute;
    top:-0.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: rgb(51, 51, 51);
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    z-index: 5;
    font-size: clamp(0.5rem, 0.85vw, 2rem);


}


.items img {
    position: absolute;
    left:5%;
    width: 90%;
    top:1.2rem;
}

.noItem {
    position: absolute;
    background-color: white;
    padding: 0rem 5rem;
    border-radius: 2rem;
    margin-top:30%;
    left:30%;
    color: rgb(58, 58, 58);
    z-index: 20;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
}

.purchaseContainer {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 35%;
    height: auto;
    min-height:41.5rem;
    right: 10%;
    top: 113rem;
    border-radius: 2rem;
    overflow: hidden;      
}


.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.pageButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background 0.2s ease;
}

.pageButton:hover {
  background-color: #ddd;
}

.pageButton.active {
  background-color: #333;
  color: white;
}


.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loadingImage {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}