.container {
    height: auto;
    min-height: 177rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.account {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 35%;
    height: 25rem;
    left: 10%;
    top: 7rem;
    z-index: 2;
    border-radius: 2rem;
    overflow: hidden;
    transition: all 0.8s ease;
}

.account.active {
      width: 80%; 
      height: 20rem; 
      top: 15rem;
}

.account .pp {
    width: 11.5rem;
    height: 11.5rem;
    position: absolute; 
    left: 1rem;         
    top: 12.5rem;  
    z-index: 5;    
    padding: 0;
    background-color: white;
    border-radius: 50%;
    transition: all 1s ease;  
    overflow: hidden;
}

.account.active .pp {
    width: 11rem;
    top: 9rem;  
}

.editPpTitle {
    color: rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    top:2rem;
    left:3rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    font-size: clamp(1rem, 1.2rem, 10rem);    
}

.uploadButton{
    z-index: 10;
    position: absolute;
    left:5rem;
    bottom: 3rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-color: rgb(138, 138, 248);
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadButton:hover {
    transform: scale(1.02);
    background-color: rgb(94, 94, 255);
}

.uploadButton p {
    top:-3.8rem;
    position: relative;
    font-family: "PoppinsExtraLight";
    font-size: clamp(1rem, 6rem, 10rem);
    line-height: 1;

}

.ppPreviewTitle {
    color: rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    top:2rem;
    left:23.8rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    font-size: clamp(1rem, 1.2rem, 10rem);  
}

.ppPreview {
    width: 10.2rem;
    height: 10.2rem;
    position: absolute; 
    left: 23rem;         
    top: 6.9rem;  
    z-index: 5;    
    padding: 0;
    background-color: white;
    border-radius: 50%;
    transition: all 1s ease;  
    overflow: hidden;    
}

.account .name {
    position: absolute;  
    top: 13rem;         
    width: 100%;   
    left:0rem;     

    display: flex;
    flex-direction: column;    
    align-items: left;     
    

    background: linear-gradient(0deg, rgba(49, 49, 49, 0.644), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);        
    -webkit-backdrop-filter: blur(5px); 
    padding: 1rem 1rem;
    padding-bottom: 11rem;
    padding-left: 14rem;
    z-index: 4;
    transition: all 1s ease;  
}

.account.active .name {
    top: 0rem;    
    background: linear-gradient(-90deg, rgba(49, 49, 49, 0.644), rgba(255, 255, 255, 0));
    padding: 10rem 1rem;
    padding-left: 2rem;
 
}

.account .name .customerName {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    font-size: clamp(1rem, 2rem, 10rem);
}

.editName {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    right: 44.8vw;
    margin-right: 2.2rem;
    top: 3rem;
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.nameInput {
  position: absolute;
  top: 6rem;
  right: 45.8%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}

.account .name .username {
    color: white;
    font-family: "PoppinsLight";
    white-space: nowrap;
    font-size: clamp(0.8rem, 1.2rem, 10rem);
    margin-top: 4.5rem; 
    position: absolute;
}

.editUsername {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    right: 44.8vw;
    margin-right: 2.2rem;
    top: 9rem;
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.usernameInput {
  position: absolute;
  top: 12rem;
  right: 45.8%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}

.errorUsername {
  position: absolute;
  top: 12.2rem;
  right: 45.8%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";
  overflow: hidden;
  background: linear-gradient(90deg, #cc6666 0%, #aa4444 100%);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 4.5rem;
  text-align: center;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease; 
}

.confirmUsername {
  position: absolute;
  top: 12.2rem;
  right: 45.8%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background: linear-gradient(90deg, #66bb66 0%, #559955 100%);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 3.5rem;
  padding-top: 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;   
}

.editPassword {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    margin-right:-7.5rem; 
    right: 33.3vw;      
    top: 3rem;        
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.passwordInput {
  position: absolute;
  top: 4.5rem;
  left: 58.5%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}

.editPasswordAgain {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    margin-right:-7.5rem; 
    right: 33.3vw;     
    top: 9rem;
    font-size: clamp(1rem, 1.1rem, 10rem);    
}

.passwordAgainInput {
  position: absolute;
  top: 10.5rem;
  left: 58.5%;
  width: 10%;
  white-space: nowrap;
  height: 1.5rem;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 0.5rem 5rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: hidden;

  transition: all 1s ease;    
}



.toggleBtn1 {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:6.43rem;
    left:54.7vw;
    margin-left: 6rem;
    z-index: 7;
    cursor: pointer;
}

.toggleBtn1 svg {
    fill: rgb(80, 80, 80);
    height: 24px;
    width: 24px;
}



.toggleBtn2 {
    position: absolute;
    border:none;
    background-color: rgba(245, 222, 179, 0);
    top:12.45rem;
    left:54.7vw;
    margin-left: 6rem;
    z-index: 7;
    cursor: pointer;
}

.toggleBtn2 svg {
    fill: rgb(80, 80, 80);
    height: 24px;
    width: 24px;
}

.passwordContainer {
    background-color: rgb(255, 255, 255);
    position:absolute;
    right:7%; 
    font-size: clamp(0.5rem, 0.8rem, 10rem);  
    top: 4.5rem; 
    border-radius: 1rem; 
    text-align: left;
    padding: 0rem  0.5rem;
    padding-top:2rem;
    font-family: "PoppinsRegular";
    overflow: hidden;
}

.passwordContainer .passwordType {
    padding: 0rem 0.4rem;
    color: white;
    border-radius: 0.3rem;
}

.passwordTitle {
    font-size: clamp(0.5rem, 1.2rem, 10rem); 
    background-color: rgb(37, 37, 37); 
    color:white;
    margin:0;
    position: absolute;
    padding:0.3rem 4rem;
    white-space: nowrap;
    top:0rem;
    left:-0.3rem;
}

.balanceContainer {
    position: absolute; 
    width: 35%;
    height: 5rem;
    left: 10%;
    top: 33rem;
    z-index: 0;
    background-color: rgb(230, 230, 230);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 1s ease;
}

.balanceContainer.hidden {
  top: 23rem;
  pointer-events: none; 
}

.balance {
    color:rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    position:absolute;
    top:-1rem;
    left:0.5rem;
    border-radius: 0.8rem;
    padding: 0.9rem 2rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1.5rem, 10rem);

}

.balanceContainer button {
    color:rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position:absolute;
    top:1.25rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1rem, 10rem);  
    cursor: pointer;  
    transition: all 0.3s ease;
}

.balanceContainer .add {
    background-color: #3B82F6;
    right:14.5rem;
}

.balanceContainer .transaction {
    background-color: #797979;
    right:0.5rem;
}

.balanceContainer button:hover {
    transform: scale(1.02);
}

.balanceContainer .add:hover {
    background-color: #488cfa;
}

.balanceContainer .transaction:hover {
    background-color: #5f5f5f;
}


.descriptionTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    top: 36rem; 
    position: absolute;
    left: 11%;
    color: rgb(49, 49, 49);
}

.descriptionTitle.active {
    top: 34rem;   
}

.accountDescription {
    position: absolute;
    top:42rem;
    width: 35%;
    left: 10%;
    height: 15rem;
    background-color: rgb(230, 230, 230);
    border-radius: 2rem;
    overflow-y: scroll;
    transition: all 1s ease;
}

.accountDescription.active {
    width: 80%;    
    top:40rem;

}

.descriptionInput {
  position: absolute;
  top: 1rem;
  left: 1%;
  width: 35%;

    font-family: "PoppinsRegular";

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;

  padding: 8rem 5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #333;
  resize: none; 
  outline: none; 
  
  overflow-y: auto;

  transition: all 1s ease;
}


.description {
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1rem, 10rem);
    margin-top: 1.3rem; 
    text-align: left;
    position: absolute;
    width: 90%;
    left: 4.5%;
    color: rgb(49, 49, 49);
}


.editContainer {
    background-color: rgb(230, 230, 230);
    height: 6.5rem;
    width: 42%;
    right:10%;
    top:7rem;
    border-radius: 2rem;
    position: absolute;
    z-index:5;
    transition: all 1s ease;
}

.editContainer.active {
  background-color: #76abff;
  right:29%;
}

.errorEditContainer {
    background-color: rgb(240, 67, 67);
    height: 6.5rem;
    width: 42%;
    right:29%;
    top:7rem;    
    border-radius: 2rem;
    position: absolute;
    transition: all 1s ease;
}

.editContainer .editTitle {
     font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 1.5rem; 
    position: absolute;
    left: 4rem;
    color: rgb(49, 49, 49);   
}

.errorEditContainer .editTitle {
     font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 1.5rem; 
    position: absolute;
    left: 4rem;
    color: white; 
}

.editContainer.active .editTitle {
    color: white;
}

.editContainer button {
    color:rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position:absolute;
    top:1.8rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 3rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1.2rem, 10rem);  
    cursor: pointer;  
    transition: all 0.3s ease;  
}

.errorEditContainer button {
    color:rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position:absolute;
    top:1.8rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 3rem;
    background-color: #ffffff;
    font-size: clamp(0.8rem, 1.2rem, 10rem);  
    cursor: pointer;  
    transition: all 0.3s ease;  
}

.editContainer .edit {
    background-color: #3B82F6;
    right:15rem;
}

.editContainer .save {
    background-color: #797979;
    right:5rem;
}

.editContainer .cancel {
    background-color: #797979;
    right:5rem;
}

.errorEditContainer .cancel {
    background-color: #ffffff;
    color: black;
    right:5rem;  
}


.editContainer .saveEdit {
    background-color: #ffffff;
    color: black;
    right:17rem;
}

.errorEditContainer .errorSave {
    background-color: #797979;
    color: rgb(255, 255, 255);
    right:17rem;
    pointer-events: none; 
    cursor: not-allowed; 
}


.editContainer button:hover {
    transform: scale(1.02);
}

.errorEditContainer button:hover {
    transform: scale(1.02);
}

.editContainer .edit:hover {
    background-color: #488cfa;
}

.editContainer .save:hover {
    background-color: #5f5f5f;
}

.editContainer .cancel:hover {
    background-color: #5f5f5f;
}

.editContainer .saveEdit:hover {
    background-color: #d8e7ff;    
}


.activityContainer {
    background-color: rgb(230, 230, 230);
    height: 41.5rem;
    width: 42%;
    right:10%;
    top:15.5rem;
    border-radius: 2rem;
    position: absolute;
    transition: all 1s ease;
}


.spentContainer {
    background-color: rgb(230, 230, 230);
    height: 41.5rem;
    width: 42%;
    left:10%;
    margin-top: 63rem;
    border-radius: 2rem;
    position: absolute; 

}

.activityContainer.hidden {
  right:-45%;
  pointer-events: none; 
}



.activityTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 3rem; 
    position: absolute;
    left: 9%;
    color: rgb(49, 49, 49);
}

.activitySubTitle {
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1.2rem, 10rem);
    margin-top: 7.5rem; 
    text-align: left;
    position: absolute;
    width: 82%;
    left: 9%;
    color: rgb(49, 49, 49);
}

.chart {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 1rem 0rem;
    padding-top: 2rem;
    padding-right: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
}


.itemsContainer {
    position: relative;
    background-color: rgb(230, 230, 230);
    width: 80%;
    min-height: 50rem;
    left: 10%;
    padding-bottom: 9rem;
    top: 60rem;
    border-radius: 2rem;
    overflow: hidden;    
}

.itemTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 3rem, 10rem);
    position: absolute;
    left: 6%;
    color: rgb(49, 49, 49);
}

.itemSubtitle{
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1.3rem, 10rem);
    margin-top: 7.3rem; 
    text-align: left;
    position: absolute;
    width: 82%;
    left: 6.2%;
    color: rgb(49, 49, 49);
}




.items .guarantee {
    position: absolute;
    top:2.7rem;   
    right: 1rem;  
    font-size: clamp(0rem, 0.7vw, 2rem);
    color: #1d3c94;
}



.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; 
    padding: 0 5rem; 
    box-sizing: border-box;
    list-style-type: none;

    
}

.info {
    width: 100%;
    height: 5rem;
    top:12rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.116);
    left:0rem;
    border-radius: 0.5rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
}









.items .item {
    box-sizing: border-box;
    padding:7rem 0rem;    
    border-radius: 0.5rem;
    top:7rem;
    margin-top:3rem;
    background-color: rgb(230, 234, 236);
    color: black;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.items .item:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}

.items .addItem .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #3B82F6;
    background-color: rgba(247, 247, 247, 1);
    transition: all 0.3s ease;
}

.items .addItem .item:hover {
    background-color:#65a0ff;
    color: white;
}

.items .price {
    position: absolute;
    top:2.25rem;    
    font-family: "PoppinsSemiBold";
    left: 1rem;  
    font-size: clamp(1rem, 0.9vw, 2rem);
    color:rgb(0, 0, 0);
}

.items .name {
    text-align: left;
    position: absolute;
    top:-0.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: rgb(51, 51, 51);
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    z-index: 5;
    font-size: clamp(0.5rem, 0.85vw, 2rem);


}


.items img {
    position: absolute;
    left:5%;
    width: 90%;
    top:1.2rem;
}

.noItem {
    position: absolute;
    background-color: white;
    padding: 0rem 5rem;
    border-radius: 2rem;
    margin-top:30%;
    left:30%;
    color: rgb(58, 58, 58);
    z-index: 20;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
}

.purchaseContainer {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 35%;
    height: auto;
    min-height:41.5rem;
    right: 10%;
    margin-top: 63rem;
    border-radius: 2rem;
    overflow: hidden;      
}


.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.pageButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background 0.2s ease;
}

.pageButton:hover {
  background-color: #ddd;
}

.pageButton.active {
  background-color: #333;
  color: white;
}


.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loadingContainerPage {
  position: fixed;
  display: flex;
  z-index: 6;
  width: 100%;
  background-color: #00000042;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loadingImage {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.loadingImage {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cropModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.cropContainer {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 400px;
  max-width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cropContainer .reactEasyCrop_Container {
  width: 100%;
  height: 300px ;
  background: #f3f3f3;
  border-radius: 0.5rem;
  position: absolute;
  top:0rem;
}

.cropContainer input[type="range"] {
  width: 50%;
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
}

.cropModal button {
  padding: 0.5rem 3rem;
  top:14rem;
  margin-left: 1rem;
  font-family: "PoppinsLight";
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: clamp(0rem,1.5rem,10rem);
  position: relative;
  transition: all 0.3s ease;
}

.cropModal button:first-of-type {
  background: #3B82F6; 
  color: white;


}

.cropModal button:first-of-type:hover {
    transform: scale(1.03);
    background: #1864df; 
}

.cropModal button:last-of-type {
  background: #eee;
  color: #333;

}

.cropModal button:last-of-type:hover {
  transform: scale(1.03);
  background: #c0c0c0;
}