.container {
    height: 100rem;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.account {
    position: relative; 
    background-color: rgb(230, 230, 230);
    width: 35%;
    height: 25rem;
    left: 5%;
    top: 7%;
    border-radius: 2rem;
    overflow: hidden;
}

.account .pp {
    width: 13rem;
    position: absolute; 
    left: 0rem;         
    top: 12rem;  
    z-index: 5;      
}

.account .name {
    position: absolute;  
    top: 13rem;         
    width: 100%;   
    left:0rem;     

    display: flex;
    flex-direction: column;    
    align-items: left;     
    

    background: linear-gradient(0deg, rgba(49, 49, 49, 0.644), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);        
    -webkit-backdrop-filter: blur(5px); 
    padding: 1rem 1rem;
    padding-bottom: 11rem;
    padding-left: 14rem;
    z-index: 4;
}

.account .name .customerName {
    color: white;
    font-family: "PoppinsRegular";
    white-space: nowrap;
    position: absolute;
    font-size: clamp(1rem, 2rem, 10rem);
}

.account .name .username {
    color: white;
    font-family: "PoppinsLight";
    white-space: nowrap;
    font-size: clamp(0.8rem, 1.2rem, 10rem);
    margin-top: 4.5rem; 
    position: absolute;
}

.descriptionTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    margin-top: 8.5rem; 
    position: absolute;
    left: 6%;
    color: rgb(49, 49, 49);
}

.accountDescription {
    position: relative;
    top:12rem;
    width: 35%;
    left:5%;
    height: 15rem;
    background-color: rgb(230, 230, 230);
    border-radius: 2rem;
}

.description {
    font-family: "PoppinsRegular";
    font-size: clamp(0.8rem, 1rem, 10rem);
    margin-top: 1.3rem; 
    text-align: left;
    position: absolute;
    width: 90%;
    left: 4.5%;
    color: rgb(49, 49, 49);
}


.itemsContainer {
    position: absolute; 
    background-color: rgb(230, 230, 230);
    width: 50%;
    height: 45rem;
    right: 5%;
    top: 7rem;
    border-radius: 2rem;
    overflow: hidden;    
}

.itemTitle {
    font-family: "PoppinsMedium";
    white-space: nowrap;
    font-size: clamp(0.8rem, 2.3rem, 10rem);
    position: absolute;
    left: 6%;
    color: rgb(49, 49, 49);
}

.items {
    position: absolute; 
    width: 97%;
    height: 37rem;
    right: 1%;
    top: 7rem;
    border-radius: 1.6rem;
    overflow: hidden;       
}