.container {
    background: linear-gradient(0deg,rgb(255, 233, 233),white);
    display: flex;
    width: 100%;
    position: relative;
    min-height: 55vh;
    height: auto;
    padding-bottom: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.div {
    position: relative;
    width: 110rem;
    min-height: 49.6vw;
    top: -4.9rem;
    transform: translate(0%, 10%);

}



.titleDiv {
    width: 65rem;
    height: 6rem;
    position: relative;
    top: -2%;
    left: 50%;
    transform: translate(-80.1%, 80%);
    border-bottom: 1.9px solid rgb(219, 219, 219);
}

.title {
    position: relative;
    z-index: 5;
    font-size: clamp(1rem, 2.3rem, 10rem);
    font-family: "PoppinsMedium";
    top: 1rem;
    color: #313131;
    left: -37.3%;
}

.count {
    position: relative;
    z-index: 5;
    font-size: clamp(1rem, 2.3rem, 10rem);
    font-family: "PoppinsMedium";
    top: -4.76rem;
    color: #313131;
    right: -43.6%;
}

.cartDiv {
    width: 80rem;
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translate(-65%, 3rem);
    border-radius: 1rem;


}

.productDetailsTitle {
    position: absolute;
    top: -2.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.3rem, 5rem);
    color: #424242
}

.productQuantityTitle {
    position: absolute;
    top: -2.5rem;
    left: 32.15rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.3rem, 5rem);
    color: #424242
}

.productPriceTitle {
    position: absolute;
    top: -2.5rem;
    left: 46.15rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.3rem, 5rem);
    color: #424242
}

.productTotalTitle {
    position: absolute;
    top: -2.5rem;
    left: 57.8rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.3rem, 5rem);
    color: #424242
}

.productDiv {
    width: 65rem;
    height: 10rem;
    position: relative;
    top: 0%;
    left: 50%;
    background-color: white;
    transform: translate(-61.8%, 15%);
    border-radius: 0.5rem;
    margin-bottom: 2rem;


}

.productImage {
    width: 14%;
    position: absolute;
    top: 50%;
    left: 2.3%;
    background-color: #e7e7e7;
    transform: translateY(-50%);
    z-index: 2;
}

.generalInfo {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

}

.productName {
    color: #313131;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 1.2rem, 5rem);
    width: 28%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    left: 18%;
    top: 14%;
}

.productSeller {
    color: #a0a0a0;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem, 1rem, 5rem);
    width: 25%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    left: 18%;
    top: 8%;
}

.productPrice {
    color: #313131;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 1.3rem, 5rem);
    width: 25%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    left: 69.5%;
    top: 43%;
}

.productTotal {
    color: #313131;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 1.3rem, 5rem);
    width: 25%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    right: -87.5%;
    top: 17.8%;
}

.decrease {
    font-size: 1.7rem;
    padding: 0rem 1rem;
    border-radius: 8px;
    border: 1px solid rgba(219, 219, 219, 0);
    left: 30rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: "PoppinsLight";
    background: #ff403600;
    color: rgb(82, 82, 82);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;
}

.increase {
    font-size: 1.7rem;
    padding: 0rem 1rem;
    border-radius: 8px;
    border: 1px solid rgba(219, 219, 219, 0);
    top: 50%;
    transform: translateY(-50%);
    font-family: "PoppinsLight";
    right: 25rem;
    background: #ff403600;
    color: rgb(82, 82, 82);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;


}

.increase:hover,
.decrease:hover {
    border: 1px solid rgb(219, 219, 219);

}

.number {
    font-size: 1.5rem;
    min-width: 2rem;
    font-family: "PoppinsRegular";
    color: #313131;
    text-align: center;
    right: 28.54rem;
    top: 49%;
    transform: translateY(-102.5%);
    padding: 0.2rem 0.5rem;
    border: 1px solid rgb(160, 160, 160);
    position: absolute;

}

.totalDiv {
    position: fixed;
    top: -8.5rem;
    min-height: 35rem;
    left:69rem;
    width: 33rem;
    border-radius: 0.5rem;
    background-color: white;

}

.summaryDiv {
    position: relative;
    top: 0rem;
    min-height: 8rem;
    padding-bottom: 2rem;
    width: 33rem;
    border-bottom: 1px solid rgb(204, 204, 204);



}

.orderProductDiv{
    position: relative;
    min-height: 5rem;
    margin-bottom: -4.5rem;
    width: 33rem;



}

.summaryTitle {
    position: relative;
    z-index: 5;
    width: 50%;
    text-align: left;
    font-size: clamp(1rem, 1.4rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: 1.3rem;
    line-height: 1;
    color: #383838;
    left: 2.3rem;  
}

.orderAmount {
     position: relative;
    z-index: 5;
    width: 60%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsLight";
    top: 1.96rem;
    color: #808080;
    left: 2.3rem;   
}

.orderName {
     position: relative;
    z-index: 5;
    width: 50%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsLight";
    top: -0.69rem;
    line-height: 1;
    color: #808080;
    left: 4rem;   
}

.orderTotal {
     position: relative;
    z-index: 5;
    width: 50%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsRegular";
    top: -3.05rem;
    line-height: 1;
    color: #383838;
    left: 25.5rem;   
}

.discountDiv {
    position: relative;
    top: -3.5rem;
    min-height: 10rem;
    width: 33rem;
    border-bottom: 1px solid rgb(204, 204, 204);    
}

.amountTitle {
    position: relative;
    z-index: 5;
    width: 60%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsLight";
    top: 4.46rem;
    color: #808080;
    left: 2.3rem;     
}

.amount {
     position: relative;
    z-index: 5;
    width: 50%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsRegular";
    top: 1.8rem;
    line-height: 1;
    color: #383838;
    left:25.5rem;   
}


.discountTitle {
    position: relative;
    z-index: 5;
    width: 60%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsLight";
    top: 1.2rem;
    color: #808080;
    left: 2.3rem;     
}

.discount {
     position: relative;
    z-index: 5;
    width: 50%;
    text-align: left;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsRegular";
    top: -1.5rem;
    line-height: 1;
    color: #383838;
    left: 25.7rem;   
}


.orderTotalDiv {
    position: relative;
    top: -5.5rem;
    min-height: 5rem;
    width: 33rem;
    border-bottom: 1px solid rgb(204, 204, 204);     
}

.totalPriceTitle {
    position: relative;
    z-index: 5;
    width: 60%;
    text-align: left;
    font-size: clamp(1rem, 1.4rem, 10rem);
    color: #383838;
    font-family: "PoppinsSemiBold";
    top: 2.7rem;
    left: 2.3rem;     

}

.totalPrice {
    position: relative;
    z-index: 5;
    width: 60%;
    text-align: left;
    font-size: clamp(1rem, 1.4rem, 10rem);
    color: #383838;
    font-family: "PoppinsSemiBold";
    top: -0.85rem;
    right: -75.5%;
}

.checkout {
    color:white;
    background-color: rgb(255, 148, 148);
    font-size: clamp(1rem,1.7rem,5rem);
    font-family: "PoppinsRegular";
    padding: 1rem 9rem;
    position: relative;
    top:-2.8rem;
}

.samsungs {
    position: absolute;
    width: 48%;
    top: 5.53rem;
    left: 50%;
    transform: translateX(-69.5%);
}

.emptyTitle {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-family: "PoppinsRegular";
    top: -4rem;
    white-space: nowrap;
    color: #313131;
    left: 50%;
    transform: translateX(-65%);
}

.emptyButton {
    font-size: clamp(0rem, 1.3rem, 10rem);
    line-height: 1;
    top: 4rem;
    text-align: left;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-family: "PoppinsLight";
    width: 37rem;
    left: -9.35%;
    padding: 0.7rem 3.3rem;
    background-color: #5784ff;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.emptyButton:hover {
    background-color: #225dff;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingImage {
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}