.container {
  height: 100vw;
background: linear-gradient(270deg, #ff9a8b, #ffb685, #ffd18b);

  background-size: 600% 600%;
  animation: gradientMove 12s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3rem;
}
  
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.div {
    position: absolute;
    height: 90rem;
    width: 90rem;
    top:0%;
    left:50%;
    transform: translate(-50%,10%);
    background-color: rgb(255, 255, 255);
}

.circle1, .circle2 {
    border-radius: 50%;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(219, 219, 219);
}

.circle1 {
    top:2rem;
    left:2rem;
}

.circle2 {
    top:2rem;
    right:2rem;
}

.titleDiv {
    width: 80rem;
    height: 6rem;
    position: relative;
    top: -2%;
    left: 50%;
    transform: translate(-50%,80%);
    border-bottom: 1.9px solid rgb(219, 219, 219);
}

.title {
    position: relative;
    z-index: 5;
    font-size: clamp(1rem, 2.3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top:1rem;
    color: #313131;
    left: -39.7%;
}

.count {
    position: relative;
    z-index: 5;
    font-size: clamp(1rem, 2.3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top:-4.76rem;
    color: #313131;
    right: -44.9%;    
}

.cartDiv {
    width: 80rem;
    min-height: 20rem;
    position: relative;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 15%);
    border-radius: 1rem;
}

.productDiv {
    border: 1px solid rgb(219, 219, 219);
    width: 80rem;
    height: 10rem;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 15%);
    border-radius: 0.5rem;   
    margin-bottom: 2rem; 
}

.productImage {
    width: 13%;
    position: absolute;
    top:50%;
    left:1.3%;
    background-color: #e7e7e7;
    transform: translateY(-50%);
    z-index: 2;
}

.generalInfo {
    position: absolute;
    top:50%;
    width: 100%;
    transform: translateY(-50%);
    
}

.productName {
    color: #313131;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem,1.4rem,5rem);
    width: 25%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    left:17%;
    top:14%;
}

.productSeller {
    color: #a0a0a0;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem,1rem,5rem);
    width: 25%;
    line-height: 0.95;
    position: relative;
    text-align: left;
    left:17%;
    top:8%;    
}

.decrease {
    font-size: 2rem;
    padding: 0rem 1rem;
    border-radius: 8px;
    border: 1px solid rgba(219, 219, 219, 0);
    left: 36rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: "PoppinsLight";
    background: #ff403600;
    color: rgb(82, 82, 82);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;
}

.increase {
    font-size: 2rem;
    padding: 0rem 1rem;
    border-radius: 8px;
    border: 1px solid rgba(219, 219, 219, 0);
    top: 50%;
    transform: translateY(-50%);
    font-family: "PoppinsLight";
    right: 33rem;
    background: #ff403600;
    color: rgb(82, 82, 82);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;


}

.increase:hover,
.decrease:hover {
        border: 1px solid rgb(219, 219, 219);

}

.number {
    font-size: 1.7rem;
    min-width: 2rem;
    font-family: "PoppinsRegular";
    color: #313131;
    text-align: center;
    right: 37.1rem;
    top: 50%;
    transform: translateY(-102.5%);
    padding: 0.2rem 0.5rem;
    border: 1px solid rgb(160, 160, 160);
    position: absolute;

}



.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingImage {
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}