.container {
    height: 100rem;
    background-color: rgb(255, 255, 255);

}

.titleDiv {
    background-color: rgb(238, 238, 238);
    width: 80rem;
    height: 8rem;
    position: absolute;
    top: 21.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.title {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: -0.2rem;
    color: #313131;
    left: 3.2rem;
}

.cartDiv {
    background-color: rgb(238, 238, 238);
    width: 80rem;
    height: 70rem;
    position: absolute;
    top: 121.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}