body {
    overflow-x: hidden; 
}


.container {
    overflow-x: hidden;
    height: 180rem;
}





.item {
    
    flex: 0 0 calc(20% - 1rem);
    box-sizing: border-box; 
    padding:25rem 20rem;
    left:13.5rem;
    top:7rem;
    border-radius: 2rem;
    color: black;
    position: absolute;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}




.amount {
    position: absolute;
    font-size: clamp(1rem, 1.5rem, 10rem);  
    font-family: "PoppinsSemiBold";
    background-color:#FF4136;
    color:white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    top:2rem;
    right: 4rem;

}


.image {
    width: 50rem;
    position: absolute;
    left:-6rem;
    top:5rem;
}

.itemDescription {
    
    flex: 0 0 calc(20% - 1rem);
    box-sizing: border-box; 
    padding:25rem 25rem;
    right:13.5rem;
    top:7rem;
    border-radius: 2rem;
    color: black;
    position: absolute;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}



.guarantee {
    position: absolute;
    top:24rem;   
    left:3.5rem; 
    font-size: clamp(1rem, 1.5rem, 10rem);  
}

.company {
    text-align: left;
    position: absolute;
    top:4rem;
    line-height: 1.1;
    align-items: center;
    left:3rem;
    padding: 0rem 0.4rem;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem, 1.5rem, 10rem);    
}

.name {
    text-align: left;
    position: absolute;
    top:5rem;
    line-height: 0.85;
    align-items: center;
    left:3rem;
    padding: 0rem 0.4rem;
    font-family: "PoppinsSemiBold";
    font-size: clamp(1rem, 3rem, 10rem);
}

.description {
    text-align: left;
    position: absolute;
    top:12.5rem;
    line-height: 1.1;
    width: 35rem;
    align-items: center;
    left:3rem;
    padding: 0rem 0.4rem;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem, 1.5rem, 10rem);    
}


.price {
    position: absolute;
    top:29.5rem;       
    font-size: clamp(1rem, 2.5rem, 10rem);
    left:0rem; 
    color: #000000;  
    font-family: "PoppinsSemiBold";
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.discounted {
    position: absolute;
    top:26.8rem;    
    font-size: clamp(1rem, 2.2rem, 10rem);
    left:8rem; 
    color:rgb(92, 92, 92);
    font-family: "PoppinsRegular";
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.discounted::after {
  content: "";
  position: absolute;
  left: 3rem;
  right: 0;
  height: 3px;          
  background: rgb(68, 67, 67);  
  width: 70%;   
  top: 50%;             
  transform: translateY(-50%);
}

.discount {
    position: absolute;
    top:28rem;       
    font-size: clamp(1rem, 2rem, 10rem);
    left:4rem; 
    color: white;  
    background-color: #FF4136;
    font-family: "PoppinsSemiBold";
    padding: 0.1rem 1rem;
    border-radius: 1rem;

}

.discountedPrice {
    position: absolute;
    top:29.5rem;       
    font-size: clamp(1rem, 2.5rem, 10rem);
    left:0rem; 
    color: #FF4136;  
    font-family: "PoppinsSemiBold";
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.buy {
    position: absolute;
    bottom: 6rem;
    padding: 1rem 4rem;
    font-size: clamp(1rem, 2rem, 10rem);
    left:4rem;
    cursor: pointer;
    border: 0.15rem solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-radius: 2rem;
    background-color: white;
    font-family: "PoppinsLight";
    transition: all 0.3s ease;
}


.buy:hover {
    background-color: #3B82F6;
    color:white;
    transform: scale(1.05);
    border: 0.15rem solid rgb(245, 245, 245);
}


.cart {
    position: absolute;
    bottom: 6rem;
    padding: 0.3rem 3.5rem;
    font-size: clamp(1rem, 1rem, 10rem);
    right:15rem;
    cursor: pointer;
    border: 0.15rem solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-radius: 2rem;
    background-color: white;
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
}

.cart:hover {
    background-color: rgb(255, 140, 0);
    color:white;
    transform: scale(1.05);
    border: 0.15rem solid rgb(245, 245, 245);  
}

.favourite {
    position: absolute;
    bottom: 8.9rem;
    padding: 0.3rem 2rem;
    font-size: clamp(1rem, 1rem, 10rem);
    right:15rem;
    cursor: pointer;
    border: 0.15rem solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-radius: 2rem;
    background-color: white;
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
}

.favourite:hover {
    background-color: #FF4136;
    color:white;
    transform: scale(1.05);
    border: 0.15rem solid rgb(245, 245, 245);     
}


.rating {
    position: absolute;
    font-family: "PoppinsLight";    
    top:19rem;
    left:3.5rem;
}


.ratingLine {
    position: absolute;
    height: 0.5rem;
    background-color: rgb(110, 160, 63);
    z-index: 1;
    top:22rem;
    left:3.5rem;
}

.overallRating {
    position: absolute;
    height: 0.5rem;
    width: 15rem;
    background-color: rgb(180, 180, 180);
    top:22rem;
    left:3.5rem;
}


.check {
    position: absolute;
    padding: 0.5rem 3rem;
    font-size: clamp(1rem, 1rem, 10rem);
    top:20rem;
    left:22rem;
    cursor: pointer;
    border: 0.15rem solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-radius: 1.5rem;
    background-color: white;
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
}

.check:hover {
    background-color: #9b59b6; 
    color:white;
    transform: scale(1.05);
    border: 0.15rem solid rgb(245, 245, 245);
}

.propertiesTitle {
    position:absolute;
    z-index: 5;
    font-size: clamp(1rem, 3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top:59rem;
    left:18.5rem;
}


.properties {
  width: 92.2rem;
  box-sizing: border-box; 
  padding: 5rem;
  padding-top: 10rem;
  right: 13.5rem;
  gap: 1rem;
  top: 59rem;
  border-radius: 2rem;
  color: black;
  position: absolute;
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  background-color: rgb(245, 245, 245);    
}


.property {
  padding: 1rem 1.5rem;
  font-size: clamp(1rem, 1rem, 2rem);
  cursor: pointer;
  color: rgb(68, 68, 68);
  border-radius: 1rem;
  background-color: white;
  font-family: "PoppinsRegular";
  transition: all 0.3s ease;  

  display: flex;                  
  justify-content: space-between; 
  align-items: center;            
}

.property:hover {
    transform: scale(1.02);
}


.review {
  width: 92.2rem;
  box-sizing: border-box; 
  padding: 5rem;
  padding-top: 10rem;
  right: 13.5rem;
  gap: 1rem;
  top: 120.5rem;
  border-radius: 2rem;
  color: black;
  position: absolute;
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  background-color: rgb(245, 245, 245);    
}

.reviewTitle {
    position:absolute;
    z-index: 5;
    font-size: clamp(1rem, 3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top:-0.5rem;
    left:4.5rem;
}

.items {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.similar {
  width: 92.2rem;
  box-sizing: border-box; 
  padding: 5rem;
  padding-top: 10rem;
  right: 13.5rem;
  gap: 1rem;
  top: 137.5rem;
  border-radius: 2rem;
  color: black;
  position: absolute;
  display: grid; 

  overflow: hidden;
    background-color: rgb(231, 231, 231);
}

.similarTitle {
    position:absolute;
    z-index: 5;
    font-size: clamp(1rem, 3rem, 10rem);
    font-family: "PoppinsSemiBold";
    top:1rem;
    left:5rem;
}


.itemContainer {
    border-radius: 3rem;
    padding: 0rem 3rem;
    padding-top: 9rem;
    width: 65%;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 18rem;
    z-index: 0;
    opacity:1;

}


.items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    margin-top:-19rem;
    padding: 1rem 1rem;
    padding-top: 20rem;
    position: relative;
    justify-content: flex-start; 
    background-color: rgb(231, 231, 231);

    
}



.items span {
    position: absolute;
    top:18.5rem;    
}

.items .guarantee {
    position: absolute;
    top:18rem;   
    left:2rem; 
    font-size: clamp(0rem, 0.8rem, 2rem);

}

.items .similarItem {
    
    flex: 0 0 calc(25% - 1rem);
    box-sizing: border-box; 
    padding:10.5rem 1rem;
    border-radius: 2rem;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}



.items .itemName  {
    text-align: left;
    position: absolute;
    top:1rem;
    width: 30%;
    font-family: "PoppinsRegular";
    line-height: 1.1;
    margin-top: 3.5rem;
    align-items: center;
    right: 1rem;
    padding: 0rem 0.4rem;
    font-size: clamp(1rem, 1.3rem, 2rem);
}


.items .similarItem {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.items .similarItem:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

.items img {
    position: absolute;
    left:-1.3rem;
    top:2rem;
    width: 270px;
}



.items .itemOld {
    position: absolute;
    top:17.7rem;    
    font-size: clamp(1rem, 1.5rem, 2rem);
    right: 2rem;  
    color:rgb(0, 0, 0);
    padding:0.3rem 1rem;
    border-radius: 1rem;
}

.items .itemNew {
    position: absolute;
    top:16.3rem;    
    font-size: clamp(1rem, 1.2rem, 2rem);
    right: 2rem;  
    color:rgb(68, 67, 67);
    padding:0.3rem 1rem;
    border-radius: 1rem;
    text-decoration: line-through;

}



.itemNew::after {
  content: "";
  position: absolute;
  left: 0.7rem;
  right: 0;
  height: 2px;          
  background: rgb(68, 67, 67);  
  width: 80%;   
  top: 50%;             
  transform: translateY(-50%);
}

.itemDiscount {
    position: absolute;
    top:16.8rem;       
    font-size: clamp(1rem, 1.2rem, 10rem);
    right:9rem; 
    color: white;
    background-color: #FF4136;  
    font-family: "PoppinsSemiBold";
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;

}

.itemDiscountedPrice {
    position: absolute;
    top:16rem;       
    font-size: clamp(1rem, 1.5rem, 2rem);
    right:0.5rem; 
    color: #FF4136;
    font-family: "PoppinsSemiBold";
    padding: 0.5rem 1.4rem;
    border-radius: 2rem;
}


@media (max-width: 1440px) {

}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

}

@media (max-width: 576px) {}


@media (max-width: 	480px) {


.container {
    height: 147rem;
}





.item {
    
    padding:10rem 0rem;
    width: 90%;
    left:5%;
    top:7rem;
    border-radius: 1rem;

}




.amount {
    font-size: clamp(0rem, 0.9rem, 10rem);  
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    top:0rem;
    right: 1rem;

}


.image {
    width: 23rem;
    left:45vw;
    margin-left:-12rem;

    top:2rem;
}

.itemDescription {
    
    padding:10rem 0rem;
    padding-bottom: 8rem;
    right:5%;
    width: 90%;
    top:28rem;
    border-radius: 1rem;

}



.guarantee {
    top:13rem;   
    left:1.5rem; 
    font-size: clamp(0rem, 0.9rem, 10rem);  
}

.company {
    top:1rem;
    left:1rem;
    font-size: clamp(0rem, 0.9rem, 10rem);    
}

.name {
    top:1.8rem;
    left:1rem;
    font-size: clamp(1rem, 1.4rem, 10rem);
}

.description {
    top:5rem;
    width: 85%;
    left:1rem;
    font-size: clamp(0rem, 0.9rem, 10rem);    
}


.price {
    top:14.5rem;       
    font-size: clamp(1rem, 1.6rem, 10rem);
    left:-2.5rem; 
    padding: 1rem 4rem;
}

.discounted {
    top:13.3rem;    
    font-size: clamp(1rem, 1.3rem, 10rem);
    left:1.5rem; 

}

.discounted::after {
  left: 3.5rem;
  height: 2px;          
  width: 50%;   
}

.discount {
    top:14.6rem;       
    font-size: clamp(1rem, 1.1rem, 10rem);
    left:1.5rem; 
    padding: 0.05rem 0.5rem;
    border-radius: 0.5rem;

}

.discountedPrice {
    top:14.8rem;       
    font-size: clamp(1rem, 1.5rem, 10rem);
    left:-2.5rem; 
    padding: 1rem 4rem;
}

.buy {
    position: relative;
    top: 9.8rem;
    padding: 0.4rem 2rem;
    font-size: clamp(1rem, 1rem, 10rem);
    left:-45vw;
    white-space: nowrap;
    margin-left:11rem;
    border-radius: 1rem;


}



.cart {
    position: relative;
    top: 6.5rem;
    padding: 0.3rem 1.9rem;
    font-size: clamp(0rem, 0.6rem, 10rem);
    left:-25vw;
    white-space: nowrap;
    margin-left:16.5rem;

}



.favourite {
    position: relative;
    top: 6.78rem;
    padding: 0.3rem 1rem;
    font-size: clamp(0rem, 0.6rem, 10rem);
    left:-25vw;
    white-space: nowrap;
    margin-left:16.5rem;
}




.rating {
    top:8rem;
    font-size: clamp(0rem, 0.7rem, 10rem);    
    left:1.5rem;
}


.ratingLine {
    height: 0.5rem;
    top:10rem;
    left:1.5rem;
}

.overallRating {
    height: 0.5rem;
    width: 15rem;
    top:10rem;
    left:1.5rem;
}


.check {
    padding: 0.5rem 2rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    top:11rem;
    left:1.5rem;

}


.propertiesTitle {
    font-size: clamp(1rem, 1.5rem, 10rem);
    top:53rem;
    left:2.5rem;
}


.properties {
  width: 90%;
  padding: 1rem;
  padding-top: 4rem;
  right: 5%;
  gap: 0.5rem;
  top: 53rem;
  border-radius: 1rem;
  grid-template-columns: repeat(1, 1fr);

}


.property {
  padding: 0.5rem 1rem;
  font-size: clamp(0rem, 0.6rem, 2rem);
  white-space: nowrap;
  border-radius: 0.7rem;
        
}



.review {
  width: 90%;
  padding: 3rem;
  padding-top: 5rem;
  right: 5%;
  top: 105.7rem;
  border-radius: 1rem;
  grid-template-columns: repeat(2, 1fr);

}

.reviewTitle {
    font-size: clamp(1rem, 1.5rem, 10rem);
    top:-0.5rem;
    left:1.5rem;
}

.items {
  grid-template-columns: repeat(2, 2fr); 
  gap: 1rem;
}

.similar {
  width: 90%;
  padding: 1rem;
  padding-top: 4rem;
  right: 5%;
  gap: 1rem;
  top: 114.5rem;
  border-radius: 1rem;

}

.similarTitle {
    font-size: clamp(1rem, 1.5rem, 10rem);
    top:0rem;
    left:1.5rem;
}


.itemContainer {
    border-radius: 3rem;
    padding: 0rem 1rem;
    padding-top: 5rem;
    width: 65%;
    margin-top: 18rem;
    z-index: 0;
    opacity:1;

}


.items {

    gap: 1rem; 
    margin-top:-19rem;
    padding: 1rem 0rem;
    padding-top: 19rem;
    align-items: stretch;

    
}



.items span {
    top:18.5rem;    
}

.items .guarantee {
    top:-0.2rem;   
    left:0.5rem; 
    font-size: clamp(0rem, 0.8rem, 2rem);

}

.items .similarItem {
    
    flex: 2 1 130px;
    padding:5rem 2rem; 
    border-radius: 1rem;
    justify-content: space-between;
    min-height: 183px;


}



.items .itemName {

    top:4.5rem;
    width: 93%;
    line-height: 1;
    left: 0rem;
    font-size: clamp(0rem, 0.65rem, 2rem);
}




.items img {
    left:22vw;
    margin-left:-5.4rem;
    top:1rem;
    width: 150px;
}



.items .itemOld {
    top:9.5rem;    
    font-size: clamp(0rem, 0.9rem, 2rem);
    right: -0.5rem;  
}

.items .itemNew {
    top:9rem;    
    font-size: clamp(0rem, 0.6rem, 2rem);
    right: 0rem;  
    text-decoration: line-through;
}

.itemNew::after {
  left: 0.7rem;
  height: 1.7px;          
  width: 70%;   

}



.itemDiscount {
    top:9.35rem;       
    font-size: clamp(0rem, 0.6rem, 10rem);
    right:4.5rem; 
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;

}

.itemDiscountedPrice {
    top:8.5rem;       
    font-size: clamp(0rem, 0.9rem, 2rem);
    right:-1rem; 

}


 }


@media (max-width: 360px) {


.container {
    height: 147rem;
}





.item {
    
    padding:10rem 0rem;
    width: 90%;
    left:5%;
    top:7rem;
    border-radius: 1rem;

}




.amount {
    font-size: clamp(0rem, 0.8rem, 10rem);  
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    top:0rem;
    right: 1rem;

}


.image {
    width: 20rem;
    left:45vw;
    margin-left:-10.5rem;

    top:2rem;
}

.itemDescription {
    
    padding:10rem 0rem;
    padding-bottom: 10rem;
    right:5%;
    width: 90%;
    top:28rem;
    border-radius: 1rem;

}



.guarantee {
    top:13rem;   
    left:1.5rem; 
    font-size: clamp(0rem, 0.8rem, 10rem);  
}

.company {
    top:1rem;
    left:1rem;
    font-size: clamp(0rem, 0.8rem, 10rem);    
}

.name {
    top:2rem;
    left:1rem;
    font-size: clamp(1rem, 1.2rem, 10rem);
}

.description {
    top:4.8rem;
    width: 85%;
    left:1rem;
    font-size: clamp(0rem, 0.8rem, 10rem);    
}


.price {
    top:14.5rem;       
    font-size: clamp(1rem, 1.4rem, 10rem);
    left:-2.5rem; 
    padding: 1rem 4rem;
}

.discounted {
    top:13.55rem;    
    font-size: clamp(1rem, 1.2rem, 10rem);
    left:1.3rem; 

}

.discounted::after {
  left: 3.5rem;
  height: 2px;          
  width: 50%;   
}

.discount {
    top:14.75rem;       
    font-size: clamp(1rem, 1rem, 10rem);
    left:1.5rem; 
    padding: 0.05rem 0.5rem;
    border-radius: 0.5rem;

}

.discountedPrice {
    top:15.3rem;       
    font-size: clamp(1rem, 1.2rem, 10rem);
    left:-2.5rem; 
    padding: 1rem 4rem;
}

.buy {
    position: relative;
    top: 9.5rem;
    padding: 0.4rem 2rem;
    font-size: clamp(1rem, 1rem, 10rem);
    left:-30vw;
    margin-left:5rem;
    border-radius: 1rem;


}



.cart {
    position: relative;
    top: 10rem;
    padding: 0.3rem 1rem;
    font-size: clamp(0rem, 0.6rem, 10rem);
    left:-30vw;
    margin-left:2.5rem;

}



.favourite {
    position: relative;
    top: 8.2rem;
    padding: 0.3rem 1rem;
    font-size: clamp(0rem, 0.6rem, 10rem);
    left:-15vw;
    white-space: nowrap;
    margin-left:10rem;
}




.rating {
    top:8rem;
    font-size: clamp(0rem, 0.7rem, 10rem);    
    left:1.5rem;
}


.ratingLine {
    height: 0.5rem;
    top:10rem;
    left:1.5rem;
}

.overallRating {
    height: 0.5rem;
    width: 15rem;
    top:10rem;
    left:1.5rem;
}


.check {
    padding: 0.5rem 2rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    top:11rem;
    left:1.5rem;

}


.propertiesTitle {
    font-size: clamp(1rem, 1.3rem, 10rem);
    top:55rem;
    left:2.5rem;
}


.properties {
  width: 90%;
  padding: 1rem;
  padding-top: 4rem;
  right: 5%;
  gap: 0.5rem;
  top: 55rem;
  border-radius: 1rem;
  grid-template-columns: repeat(1, 1fr);

}


.property {
  padding: 0.5rem 1rem;
  font-size: clamp(0rem, 0.5rem, 2rem);
  border-radius: 0.7rem;
        
}



.review {
  width: 90%;
  padding: 3rem;
  padding-top: 5rem;
  right: 5%;
  top: 105.5rem;
  border-radius: 1rem;
  grid-template-columns: repeat(2, 1fr);

}

.reviewTitle {
    font-size: clamp(1rem, 1.3rem, 10rem);
    top:0rem;
    left:1.5rem;
}

.items {
  grid-template-columns: repeat(2, 2fr); 
  gap: 1rem;
}

.similar {
  width: 90%;
  padding: 1rem;
  padding-top: 4rem;
  right: 5%;
  gap: 1rem;
  top: 114.5rem;
  border-radius: 1rem;

}

.similarTitle {
    font-size: clamp(1rem, 1.3rem, 10rem);
    top:0.5rem;
    left:1.5rem;
}


.itemContainer {
    border-radius: 3rem;
    padding: 0rem 1rem;
    padding-top: 5rem;
    width: 65%;
    margin-top: 18rem;
    z-index: 0;
    opacity:1;

}


.items {

    gap: 1rem; 
    margin-top:-19rem;
    padding: 1rem 0rem;
    padding-top: 20rem;


    
}



.items span {
    top:18.5rem;    
}

.items .guarantee {
    top:0.2rem;   
    left:0.5rem; 
    font-size: clamp(0rem, 0.6rem, 2rem);

}

.items .similarItem {
    
    flex: 0 0 10%;
    padding:5rem 18.5vw;
    border-radius: 1rem;


}



.items .itemName {

    top:4.5rem;
    width: 95%;
    line-height: 1;
    left: 0rem;
    font-size: clamp(0rem, 0.55rem, 2rem);
}




.items img {
    left:18vw;
    margin-left:-4.7rem;
    top:1rem;
    width: 150px;
}



.items .itemOld {
    top:9.5rem;    
    font-size: clamp(0rem, 0.9rem, 2rem);
    right: -0.5rem;  
}

.items .itemNew {
    top:9rem;    
    font-size: clamp(0rem, 0.6rem, 2rem);
    right: 0rem;  
    text-decoration: line-through;
}

.itemNew::after {
  left: 0.7rem;
  height: 1.7px;          
  width: 70%;   

}



.itemDiscount {
    top:9.35rem;       
    font-size: clamp(0rem, 0.6rem, 10rem);
    right:4.5rem; 
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;

}

.itemDiscountedPrice {
    top:8.5rem;       
    font-size: clamp(0rem, 0.9rem, 2rem);
    right:-1rem; 

}

}