body {
    overflow-x: hidden;
}


.container {
    overflow-x: hidden;
    padding-bottom: 70rem;
    background-color: rgb(255, 255, 255);

}


.headerContainer {
    position: fixed;
    top: 4.9rem;
    width: 100%;
    z-index: 7;
    text-align: left;
    background-color: #f9fafb;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 1.5rem 0;
    padding-right: 5rem;
    margin-left: -5rem;
}




.headerInner {
    max-width: 80rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .headerInner {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .headerInner {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.backButton {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "PoppinsRegular";
    background: none;
    border: none;
    color: #111827;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.backButton:hover {
    color: #374151;
    transform: translateX(-2px);
}

.backIcon {
    width: 1rem;
    height: 1rem;
}


.itemMainContainer {
    width: 90rem;
    height: 35rem;
    position: absolute;
    left: 50%;
    top: 18rem;
    border-radius: 2rem;
    transform: translateX(-50%);
}

.whiteCover {
    background-color: rgb(255, 255, 255);
    width: 90rem;
    position: absolute;
    left: 50%;
    top: 39rem;
    transform: translateX(-50%);
}

.item {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 20.6rem 9rem;
    padding-right: 28rem;
    left: 50%;
    top: 1rem;
    z-index: 1;
    border-radius: 1rem;
    color: black;
    border: 1px solid rgb(219, 219, 219);


}





.amount {
    position: absolute;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsMedium";
    background-color: #ff4036;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.7rem;
    top: -0.3rem;
    right: 1rem;

}


.image {
    border-radius: 2rem;
    width: 40rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -64%);
    top: 50%;
}



.itemAccount {
    width: 37rem;
    box-sizing: border-box;
    padding: 3.1rem 6rem;
    right: 50%;
    z-index: 5;
    top: 29.45rem;
    transform: translateX(50%);
    gap: 1rem;
    color: black;
    position: absolute;
    display: grid;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    border-top: 1.9px solid rgb(219, 219, 219);
    border-bottom: 1.9px solid rgb(219, 219, 219);


}

.itemAccount img {
    border: 1.5px solid rgb(133, 133, 133);
    width: 3rem;
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(-80%, -50%);
    border-radius: 50%;
}

.itemAccount .accountName {
    position: absolute;
    left: 5.5rem;
    color: #313131;
    top: 0.6rem;
    font-size: clamp(1rem, 1.7rem, 10rem);
    font-family: "PoppinsMedium";
}


.itemAccount .accountPosted {
    position: absolute;
    left: 5.6rem;
    color: #313131;
    top: 0.4rem;
    font-size: clamp(1rem, 1rem, 10rem);
}

.itemAccount .accountView {
    position: absolute;
    right: 12%;
    top: 50%;
    background-color: rgb(194, 194, 194);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transform: translate(25%, -51%);
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    font-size: clamp(1rem, 1rem, 10rem);
}

.itemAccount .accountView:hover {
    transform: translate(25%, -50%) scale(1.01);
    background-color: rgb(112, 139, 255);
}

.accountPreview {
    position: absolute;
    width: 101%;
    left: -0.5%;
    background-color: rgb(233, 233, 233);
    top: -8.5rem;
    z-index: 2;
    opacity: 0;
    height: 8.5rem;
    border-radius: 0.5rem;
    border-top: 1.5px solid gray;
    border-left: 1.5px solid gray;
    border-right: 1.5px solid gray;
    transition: all 0.3s ease;
    color: black;
}

.itemAccount:hover .accountPreview {
    opacity: 1;
}

.accountNameDiv {
    background-color: white;
    width: 50%;
    top: 7.5%;
    border-radius: 0.5rem;
    left: 2%;
    position: absolute;
    height: 85%;
}

.accountPreview .accountPreviewPicture {
    border: 1.5px solid rgb(133, 133, 133);
    width: 5rem;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-80%, -50%);
    border-radius: 50%;
}

.accountPreview .accountPreviewName {
    position: absolute;
    left: 6rem;
    top: 1.2rem;
    color: #313131;
    white-space: nowrap;
    font-size: clamp(1rem, 1.2rem, 10rem);
    font-family: "PoppinsMedium";
}

.accountPreview .accountPreviewUsername {
    position: absolute;
    left: 6rem;
    top: 2.7rem;
    color: #313131;
    font-size: clamp(0rem, 0.9rem, 10rem);
    font-family: "PoppinsRegular";
}


.accountDescriptionDiv {
    background-color: white;
    width: 44%;
    top: 7.5%;
    border-radius: 0.5rem;
    right: 2%;
    position: absolute;
    height: 85%;
}

.accountPreviewDescription {
    position: absolute;
    text-align: left;
    left: 1rem;
    width: 90%;
    color: #313131;
    top: 50%;
    transform: translateY(-70%);
    font-size: clamp(0rem, 0.7rem, 10rem);
    font-family: "PoppinsRegular";
}

.options {
    height: 4rem;
    width: 70%;
    z-index: 4;
    top: 36.3rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.options .propertiesButton {
    position: absolute;
    left: 0%;
    top: 50%;
    background-color: rgb(194, 194, 194);
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    transform: translate(0%, -50%);
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    font-size: clamp(0rem, 0.8rem, 10rem);
}

.options .reviewsButton {
    position: absolute;
    left: 47.5%;
    top: 50%;
    background-color: rgb(194, 194, 194);
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    font-size: clamp(0rem, 0.8rem, 10rem);
}

.options .similarButton {
    position: absolute;
    right: 0%;
    top: 50%;
    background-color: rgb(194, 194, 194);
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    transform: translate(0%, -50%);
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    font-size: clamp(0rem, 0.8rem, 10rem);
}


.itemDescription {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 20.6rem 18.4rem;
    padding-left: 30rem;
    right: 50%;
    top: -5.5rem;
    border: 1px solid rgb(219, 219, 219);

    transform: translateX(92.5%);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    position: absolute;
    overflow: hidden;


}


.itemGeneral {
    width: 100%;
    height: 14rem;
    z-index: 21;
    top: 1rem;
    left: 0;
    position: absolute;
    border-bottom: 1.9px solid rgb(219, 219, 219);

}



.company {
    text-align: left;
    position: absolute;
    top: 1rem;
    line-height: 1.1;
    align-items: center;
    left: 3.12rem;
    padding: 0rem 0.4rem;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem, 1.2rem, 10rem);
}

.name {
    text-align: left;
    position: absolute;
    top: 1.5rem;
    color: #313131;
    line-height: 0.85;
    width: 38rem;
    align-items: center;
    left: 3rem;
    padding: 0rem 0.4rem;
    font-family: "PoppinsSemiBold";
    font-size: clamp(1rem, 2.8rem, 10rem);
}

.description {
    text-align: left;
    position: absolute;
    top: 8.5rem;
    line-height: 1.15;
    width: 32rem;
    align-items: center;
    left: 3rem;
    color: #666666;
    padding: 0rem 0.4rem;
    font-family: "PoppinsRegular";
    font-size: clamp(1rem, 1.2rem, 10rem);
}



.priceGeneral {
    width: 100%;
    height: 7.5rem;
    z-index: 10;
    left: 0;
    top: 39.5rem;
    position: absolute;
}

.price {
    position: absolute;
    bottom: 10.2rem;
    font-size: clamp(1rem, 2.2rem, 10rem);
    left: -0.5rem;
    color: #000000;
    font-family: "PoppinsSemiBold";
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.discounted {
    position: absolute;
    bottom: 13.2rem;
    font-size: clamp(1rem, 1.7rem, 10rem);
    left: 3.9rem;
    color: rgb(148, 148, 148);
    font-family: "PoppinsRegular";
    padding: 1rem 4rem;
    border-radius: 2rem;
    text-decoration: line-through;
}



.discount {
    position: absolute;
    bottom: 15.1rem;
    font-size: clamp(1rem, 1.2rem, 10rem);
    left: 3.5rem;
    color: rgb(255, 255, 255);
    background-color: #FF4136;
    font-family: "PoppinsSemiBold";
    padding: 0.1rem 0.7rem;
    border-radius: 0.5rem;

}

.discountedPrice {
    position: absolute;
    bottom: 10.1rem;
    font-size: clamp(1rem, 2.2rem, 10rem);
    left: -0.5rem;
    color: #000000;
    font-family: "PoppinsMedium";
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.buy {
    position: absolute;
    bottom: 9.55rem;
    padding: 0.7rem 6rem;
    font-size: clamp(1rem, 1.6rem, 10rem);
    left: 3.4rem;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 1rem;
    background: linear-gradient(90deg, #4f46e5, #bc96ff);
    background-size: 200%;
    background-position: left;
    font-family: "PoppinsMedium";
    transition: background-position 0.6s ease, transform 0.3s ease;
}

.buy:hover {
    background-position: top;
}

.buySpinnerDiv {
    padding: 0.52rem 0.52rem;
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 0.77rem;
    position: absolute;
    border-radius: 50%;
    left: 82%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}




.decrease {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    border: none;
    left: 23rem;
    top: -9rem;
    font-family: "PoppinsSemiBold";
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;
}

.increase {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    border: none;
    top: -9rem;
    font-family: "PoppinsSemiBold";
    right: 16.5rem;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease;


}



.number {
    font-size: 2rem;
    min-width: 2rem;
    font-family: "PoppinsSemiBold";
    color: #313131;
    text-align: center;
    right: 20rem;
    top: -11.2rem;
    position: absolute;

}

.added {
    position: absolute;
    top: -10.3rem;
    right: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    padding: 1.1rem 1.6rem;
    font-size: 1.6rem;
    font-family: "PoppinsSemiBold";
    color: #fff;

    background: linear-gradient(90deg, #4f46e5, #bc96ff);
    border-radius: 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 4;
}

.added:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 4px #4f46e5;
}

.added svg {
    width: 28px;
    height: 28px;
    fill: white;
    transition: transform 0.3s ease;
}

.added:hover svg {
    transform: scale(1.15);
}

.addedNumber {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    z-index: 10;
    background: white;
    color: #4f46e5;
    font-size: 0.9rem;
    font-family: "PoppinsRegular";
    border-radius: 50%;
    transition: transform 0.3s ease;

}

.added:hover .addedNumber {
    transform: translateY(-0.5px);
}

.addedNumber p {
    margin: 0;
    position: relative;
    top: -0.05rem;
}


.cart {
    position: absolute;
    padding: 0.75rem 4.5rem;
    font-size: clamp(1rem, 1.5rem, 10rem);
    bottom: 9.55rem;
    white-space: nowrap;
    left: 20.3rem;
    cursor: pointer;
    border: 1.5px solid rgb(56, 56, 56);
    color: rgb(68, 68, 68);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
}

.cart:hover {

    transform: scale(1.01);
}

.cartSpinnerDiv {
    padding: 0.52rem 0.52rem;
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 10.3rem;
    position: absolute;
    border-radius: 50%;
    left: 76%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}






.success {
    font-size: clamp(1rem, 1.7rem, 10rem);
    color: #ffffff;
    font-family: "PoppinsRegular";
    position: fixed;
    white-space: nowrap;
    padding: 0.5rem 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    z-index: 5;
    background: linear-gradient(90deg, #00b33c, #99e600);
    transition: all 0.4s ease;
}


.favourite {
    position: absolute;
    padding: 1.9rem 2rem;
    font-size: clamp(0rem, 0.6rem, 10rem);
    bottom: 9.7rem;
    left: 41.77rem;
    cursor: pointer;
    border: none;
    color: rgb(68, 68, 68);
    border-radius: 0.7rem;
    background: linear-gradient(90deg, #4b4b4b, #919191, #ff4b2b, #ff416c);
    background-size: 280%;
    background-position: left;
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;


    right: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 4;
}

.favourite:hover {
    background-size: 300%;
    background-position: right;
    color: white;
    transform: scale(1.01);
}

.favourite svg {
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.ratingGeneral {
    width: 100%;
    height: 24rem;
    top: 2rem;
    left: 0;
    position: absolute;
    z-index: 20;
    border-bottom: 1.9px solid rgb(219, 219, 219);
}

.rating {
    position: absolute;
    font-family: "PoppinsRegular";
    top: 14.5rem;
    color: rgb(68, 68, 68);
    font-size: clamp(0rem, 1.2rem, 10rem);
    left: 3.45rem;
}


.ratingLine {
    position: absolute;
    height: 0.5rem;
    background: linear-gradient(90deg, #4f46e5, #bc96ff);
    z-index: 1;
    top: 17.9rem;
    left: 3.45rem;
}

.overallRating {
    position: absolute;
    height: 0.5rem;
    width: 21rem;
    background-color: rgb(180, 180, 180);
    top: 17.9rem;
    left: 3.45rem;
}




.check {
    position: absolute;
    padding: 0.5rem 6.5rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    top: 19.1rem;
    border: 1.5px solid rgb(56, 56, 56);
    left: 3.45rem;
    cursor: pointer;
    color: rgb(68, 68, 68);
    border-radius: 0.7rem;
    background-color: rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
}



.check:hover {
    border: none;
    background: linear-gradient(90deg, #4f46e5, #bc96ff);

    color: white;
    transform: scale(1.01);
}


.longDescriptionGeneral {
    width: 89.5rem;
    height: 44rem;
    left: 50%;
    border-top: 1px solid rgb(219, 219, 219);
    transform: translateX(-50%);
    top: 59rem;
    position: relative;
    z-index: 6;
}

.longDescriptionGeneral .about {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: -0.5rem;
    color: #313131;
    left: 0.5rem;

}

.longDescriptionGeneral .productLongDescriptionFirst {
    position: relative;
    z-index: 5;
    width: 89rem;
    text-align: left;
    font-size: clamp(0rem, 1.05rem, 10rem);
    font-family: "PoppinsRegular";
    top: 5.5rem;
    color: #313131;
    left: 0.5rem;


}



.itemVideo {
    position: relative;
    width: 88.5rem;
    height: 20rem;
    background-color: black;
    left: 50%;
    top: 6rem;
    transform: translateX(-50%);
    overflow: hidden;
    transition: all 0.7s ease;

}

.itemVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.itemVideo .videoText {
    opacity: 0;
    position: absolute;
    z-index: 20;
    font-size: clamp(1rem, 1.2rem, 10rem);
    left: 50%;
    color: white;
    transform: translateX(-50%);
    top: 30%;
    transition: all 0.3s ease;
}

.itemVideo:hover .videoText {
    opacity: 1;
}



.longDescriptionGeneral .productLongDescriptionSecond {
    position: relative;
    z-index: 5;
    width: 89rem;
    text-align: left;
    font-size: clamp(0rem, 1.05rem, 10rem);
    font-family: "PoppinsRegular";
    top: 7rem;
    color: #313131;
    left: 0.5rem;

}






.propertiesTitle {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: 105rem;
    left: 50%;
    color: #313131;
    transform: translateX(-342%);
}


.properties {
    width: 88.5rem;
    box-sizing: border-box;
    padding: 0rem;
    padding-top: 8rem;
    padding-bottom: 4.5rem;
    left: 50%;
    border-top: 1px solid rgb(219, 219, 219);
    transform: translateX(-50%);
    gap: 0rem;
    top: 61rem;
    color: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


.property {
    padding: 0rem 0rem;
    font-size: clamp(1rem, 1rem, 2rem);
    color: rgb(68, 68, 68);
    font-family: "PoppinsRegular";
    transition: all 0.3s ease;
    border-bottom: 1.5px solid rgb(218, 218, 218);
    display: flex;
    margin-right: 5%;
    position: relative;
    left: 1.7%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.showMoreBtn {
    position: absolute;
    left: 50%;
    bottom: 0rem;
    overflow: hidden;
    background-color: rgb(194, 194, 194);
    color: white;
    padding: 0.3rem 4rem;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    font-size: clamp(0rem, 1.2rem, 10rem);
}




.review {
    width: 89rem;
    box-sizing: border-box;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
    margin: 0 auto;
    gap: 1rem;
    top: 63.7rem;
    color: black;
    position: relative;
    border-top: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
}

.reviewTitle {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: 0.5rem;
    color: #313131;
    left: 0.3rem;
}

.commentBox {
    gap: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    position: relative;
    align-items: center;
    top: 4.5rem;
    height: auto;
    overflow: hidden;
    left: -6.2%;
    width: 113.7%;
    border-radius: 0.5rem;
}

.comment {
    background-color: rgb(241, 241, 241);
    width: 85%;
    position: relative;
    left: 52.9%;
    padding: 0rem 2rem;
    padding-right: 4rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 6rem;
    transform: translateX(-50%);
}

.comment .accountInfo {
    height: 0.5rem;
    width: 112.2%;
    left: -4%;
    position: relative;
}

.accountInfo img {
    width: 6%;
    position: absolute;
    left: -4.6rem;
    top: -1.8rem;
    border-radius: 50%;
    border: 1.5px solid #838383;
}

.accountInfo .commentRate {
    position: absolute;
    font-family: "PoppinsMedium";
    right: 2rem;
    top: -2rem;
    font-size: clamp(1rem, 1.5rem, 10rem);
}

.star {
    color: #ccc;
    margin-right: 2px;
    transition: color 0.3s ease;
}

.star.filled {
    color: rgb(255, 71, 71);
}

.accountInfo .commentCustomerName {
    position: absolute;
    font-family: "PoppinsMedium";
    color: #313131;
    left: 1rem;
    top: -3.6rem;
    font-size: clamp(1rem, 1.5rem, 10rem);
}

.comment .commentText {
    font-family: "Arial";
    color: #313131;
    left: 5.7rem;
    top: 0rem;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: clamp(1rem, 1.2rem, 10rem);
}

.commentBox .reviewSubTitle {
    position: relative;
    z-index: 5;
    font-size: clamp(1rem, 1.6rem, 10rem);
    font-family: "PoppinsMedium";
    color: #313131;
    top: -2.5rem;
    left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%);
}

.send {
    position: relative;
    bottom: 1rem;
    width: 96.4%;
    height: auto;
    border-top: 1.5px solid #c0c0c0;
    padding: 1rem;
    margin-top: 0rem;
    padding-top: 2.5rem;
}

.commentBox .input {
    position: relative;
    top: 0rem;
    padding: 0.35rem 1.3rem;
    padding-bottom: 0rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    width: 81%;
    left: 40.4%;
    min-height: 4.95rem;
    font-family: "PoppinsRegular";
    transform: translateX(-50%);
    font-size: 1rem;
    resize: none;
    overflow: hidden;
    transition: border-color 0.2s ease;
}

.commentBox .input:focus {
    border-color: rgb(112, 139, 255);
}

.commentBox .rate {
    padding: 1.3rem 1.3rem;
    background-color: rgb(255, 112, 112);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 4.2rem;
    position: absolute;
    border-radius: 50%;
    left: 80.3rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.starsContainer {
    position: absolute;
    bottom: 6.65rem;
    left: 81rem;
}

.rate .rateTitle {
    position: absolute;
    top: -0.83rem;
    left: 3.2rem;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 1.2rem, 10rem);
    color: rgb(255, 255, 255);
}

.commentBox .rate svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.commentBox .rate:hover svg {
    left: 30%;
}



.commentBox .replyTitle {
    position: absolute;
    color: gray;
    font-size: clamp(0rem, 0.9rem, 10rem);
    font-family: "PoppinsRegular";
    left: 8.53%;
    top: 56%;
}

.commentBox .showReply {
    position: absolute;
    background-color: gray;
    font-family: "PoppinsRegular";
    color: white;
    padding: 0.35rem 1.4rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    border-radius: 0.8rem;
    left: 8.03%;
    top: 89.2%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.commentBox .showReply:hover {
    background-color: rgb(208, 76, 237);
}

.commentBox .likeDiv {
    position: absolute;
    height: 5rem;
    min-width: 15rem;
}


.commentBox .reply {
    position: relative;
    color: rgb(82, 82, 82);
    padding: 0.23rem 0.5rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    border-radius: 0.5rem;
    left: 0.63%;
    font-family: "PoppinsMedium";
    top: 9.4%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.commentBox .likeCount {
    position: absolute;
    font-family: "PoppinsSemiBold";
    color: rgb(51, 51, 51);
    left: 17%;
    top: -15.6%;
    font-size: clamp(1rem, 1.3rem, 10rem);
}


.commentBox .like {
    position: relative;
    padding: 1.2rem 1.2rem;
    border-radius: 50%;
    left: -30%;
    top: 0%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.commentBox .like:hover {
    background-color: rgb(112, 139, 255);
}

.commentBox .like svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.commentBox .like:hover svg {
    fill: white;
}

.commentBox .rate:hover {
    padding-right: 6.5rem;
    border-radius: 2rem;
    background-color: rgb(255, 56, 56);
}

.commentBox .post {
    padding: 1.3rem 1.3rem;
    background-color: rgb(112, 139, 255);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 1.45rem;
    position: absolute;
    border-radius: 50%;
    left: 80.3rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post .postTitle {
    position: absolute;
    top: -0.83rem;
    left: 3.2rem;
    font-family: "PoppinsMedium";
    font-size: clamp(1rem, 1.2rem, 10rem);
    color: rgb(255, 255, 255);
}

.commentBox .post svg {
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.commentBox .post:hover {
    padding-right: 6.5rem;
    border-radius: 2rem;
    background-color: rgb(56, 92, 255);
}

.commentBox .post:hover svg {
    left: 30%;
}

.showReplies {
    position: relative;
    bottom: 4.5rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: rgb(156, 156, 156);
    padding: 0.3rem 2rem;
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    transition: all 0.3s ease;
    top: -5rem;
    font-size: clamp(0rem, 1.2rem, 10rem);
}



.showMoreComments {
    position: relative;
    bottom: 2.5rem;
    overflow: hidden;
    background-color: rgba(101, 129, 255, 0);
    color: rgb(56, 92, 255);
    padding: 1rem 21rem;
    cursor: pointer;
    font-family: "PoppinsRegular";
    border: none;
    left: 49.5%;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    font-size: clamp(0rem, 1.7rem, 10rem);
}

.replies {
    gap: 0.5rem;
    padding-top: 3rem;
    position: relative;
    align-items: center;
    top: -5rem;
    height: auto;
    overflow: hidden;
    left: -1.2%;
    width: 104%;
    border-radius: 0.5rem;
}

.replyComment {
    background-color: rgb(241, 241, 241);
    width: 75%;
    position: relative;
    left: 55.4%;
    padding: 0rem 2rem;
    padding-right: 4rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transform: translateX(-50%);
}

.cancelReply {
    position: absolute;
    top: 35%;
    right: 7.5%;
    cursor: pointer;
    border: none;
    background-color: #00000000;
}

.cancelReply svg {
    height: 28px;
    width: 28px;
    fill: #313131;
    transition: all 0.3s ease;
}

.cancelReply svg:hover {
    fill: #ff4036
}

.accountReplyInfo {
    height: 0.5rem;
    width: 112.2%;
    left: -4%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.accountReplyInfo img {
    width: 5%;
    position: absolute;
    left: -3.5rem;
    top: -1.55rem;
    border-radius: 50%;
    border: 1.5px solid #838383;
}

.replyCustomerName {
    position: relative;
    font-family: "PoppinsMedium";
    color: #313131;
    left: 0.7rem;
    top: -1.1rem;
    font-size: clamp(1rem, 1.3rem, 10rem);
}


.repliedTo {
    position: relative;
    font-family: "PoppinsRegular";
    color: #313131;
    left: 0.8rem;
    top: -0.9rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
}

.replyText {
    font-family: "Arial";
    color: #313131;
    left: 0.2rem;
    top: -0rem;
    position: relative;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    letter-spacing: 0.05rem;
    font-size: clamp(1rem, 1.1rem, 10rem);
}

.commentBox .likeReplyDiv {
    position: absolute;
    height: 5rem;
    top: 5rem;
    min-width: 15rem;
}


.replyReply {
    position: absolute;
    color: rgb(82, 82, 82);
    padding: 0.23rem 0.5rem;
    font-size: clamp(0rem, 1rem, 10rem);
    border-radius: 0.5rem;
    left: 40%;
    font-family: "PoppinsMedium";
    top: -6%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.replyLikeCount {
    position: absolute;
    font-family: "PoppinsSemiBold";
    color: rgb(51, 51, 51);
    top: -28%;
    left: 17%;
    font-size: clamp(1rem, 1.2rem, 10rem);
}


.replyLike {
    position: absolute;
    padding: 1.2rem 1.2rem;
    border-radius: 50%;
    left: 0%;
    top: -11.1%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.replyLike:hover {
    background-color: rgb(112, 139, 255);
}

.replyLike svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.replyLike:hover svg {
    fill: white;
}

.replySend {
    position: relative;
    display: block;
    width: 87.5%;
    color: #313131;
    font-family: "PoppinsRegular";
    border-radius: 1rem;
    left: 50.5%;
    font-size: clamp(1rem, 1.2rem, 10rem);
    text-align: left;
    transform: translateX(-50%);
    padding: 1rem 0rem;
    padding-bottom: 0rem;
}

.replyCommentSend {
    background-color: rgb(241, 241, 241);
    width: 82.5%;

    border-radius: 1rem;
    text-align: left;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    position: relative;
    left: 50%;
    top: -1rem;
    transform: translateX(-50%);


}

.successMessage {
    background-color: rgb(11, 150, 11);
    width: 30%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: clamp(1rem, 1.3rem, 10rem);
    position: absolute;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.warningMessage {
    background-color: rgb(238, 55, 55);
    width: 45%;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: clamp(1rem, 1.3rem, 10rem);
    position: absolute;
    border-radius: 1rem;
    transition: all 0.3s ease;
}


.spinnerDiv {
    padding: 0.72rem 0.72rem;
    background-color: rgb(112, 139, 255);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 1.45rem;
    position: absolute;
    border-radius: 50%;
    left: 80.3rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;

    animation: spin 0.8s linear infinite;
    display: block;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






.similar {
    width: 89rem;
    border-top: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
    padding: 0rem 0rem;
    padding-top: 10rem;
    margin: 0 auto;
    gap: 1rem;
    top: 67.6rem;
    color: black;
    position: relative;
    display: grid;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.similarTitle {
    position: absolute;
    z-index: 5;
    font-size: clamp(1rem, 2.5rem, 10rem);
    font-family: "PoppinsSemiBold";
    top: 0rem;
    color: #313131;
    left: 0.1rem;
}


.itemContainer {
    background-color: rgb(223, 223, 223);
    border-radius: 3rem;
    padding: 5rem 0rem;
    padding-left: rem;
    padding-top: 9rem;
    width: 83.3rem;
    min-height: 40rem;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
    z-index: 0;
    opacity: 1;
    overflow: hidden;

}



.similarItems {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0rem 0rem;
    top: -2.5rem;
    padding-bottom: 3rem;
    position: relative;



}

.similarItems .info {
    background-color: rgb(243, 243, 243);
    position: absolute;
    padding: 6rem 1rem;
    top: 0.7rem;
    width: 77%;
    left: 50%;
    transform: translateX(-50%);
}




.similarItems .similarItem {
    margin-top: 0rem;
    flex: 1 0 10%;
    box-sizing: border-box;
    padding: 11.5rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1.9px solid rgb(219, 219, 219);


}

.similarItems .guaranteeTitle {
    position: absolute;
    top: 15.5rem;
    font-family: "PoppinsMedium";
    left: 0.85rem;
    font-size: clamp(0rem, 0.8rem, 2rem);
    color: #a0a0a0;
}

.similarItems .guarantee {
    position: absolute;
    top: 16.7rem;
    left: 0.85rem;
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}




.similarItems .availTitle {
    position: absolute;
    top: 15.5rem;
    font-family: "PoppinsMedium";
    right: 0.85rem;
    font-size: clamp(0rem, 0.8rem, 2rem);
    color: #a0a0a0;
}

.similarItems .avail {
    position: absolute;
    top: 16.7rem;
    left: 15.1rem;
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.similarItems .priceTitle {
    position: absolute;
    top: 18.5rem;
    font-family: "PoppinsMedium";
    left: 0.85rem;
    font-size: clamp(0rem, 0.8rem, 2rem);
    color: #a0a0a0;
}

.similarItems .priceOf {
    position: absolute;
    top: 19.25rem;
    font-family: "PoppinsSemiBold";
    left: 0.8rem;
    font-size: clamp(1rem, 1.2rem, 2rem);
    color: #313131;
}



.similarItems .nameOf {
    text-align: left;
    position: absolute;
    top: 12.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: #313131;
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1rem, 2rem);


}


.similarItems img {
    position: absolute;
    left: 50%;
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.similarItems .cartOf {
    position: absolute;
    background-color: white;
    border: none;
    top: 19.5rem;
    right: 0.85rem;
    border-radius: 0;
    cursor: pointer;
    padding: 1.2rem 1.2rem;
    border: 1px solid rgb(54, 132, 250);
    transition: all 0.3s ease;
}


.similarItems .cartText {
    position: absolute;
    transition: all 0.3s ease;
    white-space: nowrap;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "PoppinsRegular";
}


.similarItems .cartOf svg {
    height: 22px;
    width: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(54, 132, 250);
    position: absolute;
    transition: all 0.3s ease;
}

.similarItems .cartOf:hover {
    padding: 1.2rem 4rem;
    background-color: rgb(54, 132, 250);
    border: 1px solid rgb(54, 132, 250);
}

.similarItems .cartOf:hover svg {
    left: 20%;
    fill: white;
}

.similarItems .inCartOf {
    padding: 1.2rem 1.2rem;
    background-color: rgb(54, 132, 250);
    border: 1px solid rgb(54, 132, 250);
}

.similarItems .inCartOf svg {
    height: 22px;
    width: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease;
}

.cartSpinnerDivOf {
    padding: 0.52rem 0.52rem;
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 0.33rem;
    position: absolute;
    border-radius: 50%;
    right: 110%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}


.spinnerOf {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    animation: spin 0.8s linear infinite;
    display: block;
    margin: 0 auto;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingImage {
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 1540px) {
    .itemCover {
        margin-top: -15rem;
        transform: scale(0.8);
    }

    .container {
        padding-bottom: 42rem;

    }

    .headerContainer {
        top: 3.4rem;
        width: 150rem;
        left: 50%;
        transform: translateX(-48%) scale(0.8);
    }

    .review {
        left: 50%;
        transform: translateX(-50%);

    }

    .similar {
        left: 50%;
        transform: translateX(-50%);

    }

}

@media (max-width: 1240px) {
    .itemCover {
        margin-top: -32rem;
        transform: scale(0.6);
    }

    .container {
        padding-bottom: 13rem;

    }

    .headerContainer {
        top: 1.7rem;
        width: 150rem;
        left: 50%;
        transform: translateX(-48%) scale(0.6);
    }

}

@media (max-width: 950px) {
    .itemCover {
        margin-top: -45rem;
        transform: scale(0.4);
    }

    .container {
        padding-bottom: 3rem;
        margin-bottom: -18rem;

    }

    .headerContainer {
        top: 0.3rem;
        width: 150rem;
        left: 50%;
        transform: translateX(-48%) scale(0.4);
    }
}

@media (max-width: 751px) {
    .itemCover {
        margin-top: -10rem;
        transform: scale(0.9);
    }

    .container {
        padding-bottom: 55rem;
        margin-bottom: 0rem;

    }

    .headerContainer {
        top: 2.2rem;
        width: 55rem;
        padding-left: 10rem;
        left: 50%;
        transform: translateX(-40.5%) scale(0.8);
    }

    .item {
        left: 50%;
        top: 1rem;
        margin-left: 26.3rem;



    }

    .itemDescription {

        padding: 20.6rem 18.4rem;
        padding-bottom: 16rem;
        padding-left: 18.5rem;
        right: 50%;
        margin-right: 15.5rem;
        top: 38.5rem;


        transform: translateX(92.5%);

    }

    .itemGeneral {
        left: -2.5rem;
        transform: scale(0.9);

    }

    .priceGeneral {
        left: -3.4rem;
        top: 35.5rem;
        transform: scale(0.85);
    }

    .ratingGeneral {
        left: -2.5rem;
        transform: scale(0.9);
    }


    .favourite {
        padding: 1.9rem 2rem;
        bottom: 13.9rem;
        left: 37.27rem;

    }



    .decrease {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        left: 19.2rem;
        top: -9.1rem;

    }

    .increase {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        top: -9.1rem;
        right: 7.3rem;



    }



    .number {
        font-size: 2rem;
        min-width: 2rem;
        font-family: "PoppinsSemiBold";
        color: #313131;
        text-align: center;
        right: 11.5rem;
        top: -11.2rem;
        position: absolute;

    }

    .added {
        top: -10.3rem;
        right: 0.6rem;

    }






    .longDescriptionGeneral {
        width: 46rem;
        transform: translateX(-50%) scale(0.8);
        top: 91.7rem;

    }




    .longDescriptionGeneral .productLongDescriptionFirst {

        width: 46rem;

    }



    .itemVideo {
        width: 45.5rem;
        height: 17rem;
        left: 50%;
        top: 6rem;


    }


    .itemVideo .videoText {

        top: 38%;

    }




    .longDescriptionGeneral .productLongDescriptionSecond {
        width: 46rem;

    }






    .propertiesTitle {

        font-size: clamp(1rem, 2.5rem, 10rem);
        top: 138rem;
        left: 50%;
        transform: translateX(-140.5%);
    }


    .properties {
        width: 45.5rem;
        padding: 0rem;
        padding-top: 8rem;
        padding-bottom: 4.5rem;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        gap: 0rem;
        top: 91rem;

    }

    .review {
        top: 86rem;
        width: 45.5rem;
        left: 50%;
        transform: translateX(-52%) scale(0.8);

    }

    .commentBox {

        left: -12.9%;
        width: 45rem;
    }

    .comment {
        width: 34rem;
        left: 54.5%;


    }

    .comment .accountInfo {
        width: 122.2%;
        left: -4%;
    }

    .accountInfo img {

        width: 9.5%;
        left: -5rem;

    }

    .accountInfo .commentRate {
        right: 2rem;
        top: -2rem;
    }



    .accountInfo .commentCustomerName {

        left: -0.5rem;
        top: -3.6rem;
    }

    .comment .commentText {
        font-size: clamp(1rem, 1.5rem, 10rem);
    }

    .commentBox .reviewSubTitle {
        position: relative;
        z-index: 5;
        font-size: clamp(1rem, 1.6rem, 10rem);
        font-family: "PoppinsMedium";
        color: #313131;
        top: -2.5rem;
        left: 50%;
        margin-bottom: 1rem;
        transform: translateX(-50%);
    }

    .send {
        position: relative;
        bottom: 1rem;
        width: 96.4%;
        height: auto;
        border-top: 1.5px solid #c0c0c0;
        padding: 1rem;
        margin-top: 0rem;
        padding-top: 2.5rem;
    }

    .commentBox .input {

        width: 66.5%;
        left: 30.5%;

        font-size: 1.3rem;

    }



    .commentBox .rate {

        left: 37rem;
        font-size: 1.4rem;

    }

    .starsContainer {
        bottom: 6.65rem;
        left: 37.7rem;
    }



    .commentBox .post {
        left: 37rem;

    }


    .showReplies {

        font-size: clamp(0rem, 1.4rem, 10rem);
    }



    .showMoreComments {

        font-size: clamp(0rem, 1.9rem, 10rem);
    }

    .replies {
        gap: 0.5rem;
        padding-top: 3rem;
        position: relative;
        align-items: center;
        top: -5rem;
        height: auto;
        overflow: hidden;
        left: -1.2%;
        width: 104%;
        border-radius: 0.5rem;
    }

    .replyComment {
        width: 65%;
        left: 57%;

    }


    .accountReplyInfo img {
        width: 10%;
        left: -4.7rem;

    }

    .replyCustomerName {

        left: -0.5rem;
        top: -1.1rem;

    }


    .repliedTo {

        left: 0rem;
        top: -1rem;
        font-size: clamp(0rem, 1rem, 10rem);
    }

    .replyText {
        font-family: "PoppinsRegular";
        left: 0.2rem;
        top: -0rem;
        letter-spacing: -0.05rem;
        font-size: clamp(1rem, 1.3rem, 10rem);
    }

    .commentBox .likeReplyDiv {
        top: 6rem;
    }

    .cancelReply {

        right: 8.5%;

    }



    .replyReply {
        font-size: clamp(0rem, 1.1rem, 10rem);
        left: 40%;
        top: -9.2%;

    }




    .replySend {

        width: 83.5%;

        left: 46.5%;

    }

    .replyCommentSend {
        width: 80.5%;

        padding: 1.3rem 2rem;
        padding-bottom: 2rem;
        left: 49%;



    }


    .similar {
        top: 77rem;
        left: 50%;
        width: 45.5rem;
        transform: translateX(-50%) scale(0.8);

    }




    .similarTitle {
        position: absolute;
        z-index: 5;
        font-size: clamp(1rem, 2.5rem, 10rem);
        font-family: "PoppinsSemiBold";
        top: 0rem;
        color: #313131;
        left: 0.1rem;
    }


    .itemContainer {
        background-color: rgb(223, 223, 223);
        border-radius: 3rem;
        padding: 5rem 0rem;
        padding-left: rem;
        padding-top: 9rem;
        width: 83.3rem;
        min-height: 40rem;
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 10rem;
        z-index: 0;
        opacity: 1;
        overflow: hidden;

    }



    .similarItems {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0rem 2rem;
        top: -2.5rem;
        padding-bottom: 3rem;
        position: relative;



    }


}

@media (max-width: 580px) {
    .itemCover {
        margin-top: -31rem;
        transform: scale(0.68);
    }

    .container {
        padding-bottom: 20rem;
        margin-bottom: 0rem;

    }

    .headerContainer {
        top: 1.8rem;
        width: 55rem;
        padding-left: 20rem;
        left: 50%;
        transform: translateX(-40.5%) scale(0.8);
    }

    .item {
        left: 50%;
        top: 1rem;
        margin-left: 26.3rem;



    }

    .itemDescription {

        padding: 20.6rem 18.4rem;
        padding-bottom: 16rem;
        padding-left: 18.5rem;
        right: 50%;
        margin-right: 15.5rem;
        top: 38.5rem;


        transform: translateX(92.5%);

    }

    .itemGeneral {
        left: -2.5rem;
        transform: scale(0.9);

    }

    .priceGeneral {
        left: -3.4rem;
        top: 35.5rem;
        transform: scale(0.85);
    }

    .ratingGeneral {
        left: -2.5rem;
        transform: scale(0.9);
    }


    .favourite {
        padding: 1.9rem 2rem;
        bottom: 13.9rem;
        left: 37.27rem;

    }



    .decrease {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        left: 19.2rem;
        top: -9.1rem;

    }

    .increase {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        top: -9.1rem;
        right: 7.3rem;



    }



    .number {
        font-size: 2rem;
        min-width: 2rem;
        font-family: "PoppinsSemiBold";
        color: #313131;
        text-align: center;
        right: 11.5rem;
        top: -11.2rem;
        position: absolute;

    }

    .added {
        top: -10.3rem;
        right: 0.6rem;

    }






    .longDescriptionGeneral {
        width: 46rem;
        transform: translateX(-50%) scale(0.8);
        top: 91.7rem;

    }




    .longDescriptionGeneral .productLongDescriptionFirst {

        width: 46rem;

    }



    .itemVideo {
        width: 45.5rem;
        height: 17rem;
        left: 50%;
        top: 6rem;


    }


    .itemVideo .videoText {

        top: 38%;

    }




    .longDescriptionGeneral .productLongDescriptionSecond {
        width: 46rem;

    }






    .propertiesTitle {

        font-size: clamp(1rem, 2.5rem, 10rem);
        top: 138rem;
        left: 50%;
        transform: translateX(-140.5%);
    }


    .properties {
        width: 45.5rem;
        padding: 0rem;
        padding-top: 8rem;
        padding-bottom: 4.5rem;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        gap: 0rem;
        top: 91rem;

    }

    .review {
        top: 86rem;
        width: 45.5rem;
        left: 50%;
        transform: translateX(-50%) scale(0.8);

    }

    .commentBox {

        left: -12.9%;
        width: 45rem;
    }

    .comment {
        width: 34rem;
        left: 54.5%;


    }

    .comment .accountInfo {
        width: 122.2%;
        left: -4%;
    }

    .accountInfo img {

        width: 9.5%;
        left: -5rem;

    }

    .accountInfo .commentRate {
        right: 2rem;
        top: -2rem;
    }



    .accountInfo .commentCustomerName {

        left: -0.5rem;
        top: -3.6rem;
    }

    .comment .commentText {
        font-size: clamp(1rem, 1.5rem, 10rem);
    }

    .commentBox .reviewSubTitle {
        position: relative;
        z-index: 5;
        font-size: clamp(1rem, 1.6rem, 10rem);
        font-family: "PoppinsMedium";
        color: #313131;
        top: -2.5rem;
        left: 50%;
        margin-bottom: 1rem;
        transform: translateX(-50%);
    }

    .send {
        position: relative;
        bottom: 1rem;
        width: 96.4%;
        height: auto;
        border-top: 1.5px solid #c0c0c0;
        padding: 1rem;
        margin-top: 0rem;
        padding-top: 2.5rem;
    }

    .commentBox .input {

        width: 66.5%;
        left: 30.5%;

        font-size: 1.3rem;

    }



    .commentBox .rate {

        left: 37rem;
        font-size: 1.4rem;

    }

    .starsContainer {
        bottom: 6.65rem;
        left: 37.7rem;
    }



    .commentBox .post {
        left: 37rem;

    }


    .showReplies {

        font-size: clamp(0rem, 1.4rem, 10rem);
    }



    .showMoreComments {

        font-size: clamp(0rem, 1.9rem, 10rem);
    }

    .replies {
        gap: 0.5rem;
        padding-top: 3rem;
        position: relative;
        align-items: center;
        top: -5rem;
        height: auto;
        overflow: hidden;
        left: -1.2%;
        width: 104%;
        border-radius: 0.5rem;
    }

    .replyComment {
        width: 65%;
        left: 57%;

    }


    .accountReplyInfo img {
        width: 10%;
        left: -4.7rem;

    }

    .replyCustomerName {

        left: -0.5rem;
        top: -1.1rem;

    }


    .repliedTo {

        left: 0rem;
        top: -1rem;
        font-size: clamp(0rem, 1rem, 10rem);
    }

    .replyText {
        font-family: "PoppinsRegular";
        left: 0.2rem;
        top: -0rem;
        letter-spacing: -0.05rem;
        font-size: clamp(1rem, 1.3rem, 10rem);
    }

    .commentBox .likeReplyDiv {
        top: 6rem;
    }

    .cancelReply {

        right: 8.5%;

    }



    .replyReply {
        font-size: clamp(0rem, 1.1rem, 10rem);
        left: 40%;
        top: -9.2%;

    }




    .replySend {

        width: 83.5%;

        left: 46.5%;

    }

    .replyCommentSend {
        width: 80.5%;

        padding: 1.3rem 2rem;
        padding-bottom: 2rem;
        left: 49%;



    }


    .similar {
        top: 77rem;
        left: 50%;
        width: 45.5rem;
        transform: translateX(-50%) scale(0.8);

    }




    .similarTitle {
        position: absolute;
        z-index: 5;
        font-size: clamp(1rem, 2.5rem, 10rem);
        font-family: "PoppinsSemiBold";
        top: 0rem;
        color: #313131;
        left: 0.1rem;
    }


    .itemContainer {
        background-color: rgb(223, 223, 223);
        border-radius: 3rem;
        padding: 5rem 0rem;
        padding-left: rem;
        padding-top: 9rem;
        width: 83.3rem;
        min-height: 40rem;
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 10rem;
        z-index: 0;
        opacity: 1;
        overflow: hidden;

    }



    .similarItems {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0rem 2rem;
        top: -2.5rem;
        padding-bottom: 3rem;
        position: relative;



    }
}

@media (max-width: 450px) {
    .itemCover {
        margin-top: -38rem;
        transform: scale(0.6);
    }

    .container {
        padding-bottom: 5rem;
        margin-bottom: 0rem;

    }

    .headerContainer {
        top: 2.3rem;
        width: 55rem;
        padding-left: 22.5rem;
        left: 50%;
        transform: translateX(-40.5%) scale(0.8);
    }

    .item {
        left: 50%;
        top: 1rem;
        margin-left: 26.3rem;



    }

    .itemDescription {

        padding: 20.6rem 18.4rem;
        padding-bottom: 16rem;
        padding-left: 18.5rem;
        right: 50%;
        margin-right: 15.5rem;
        top: 38.5rem;


        transform: translateX(92.5%);

    }

    .itemGeneral {
        left: -2.5rem;
        transform: scale(0.9);

    }

    .priceGeneral {
        left: -3.4rem;
        top: 35.5rem;
        transform: scale(0.85);
    }

    .ratingGeneral {
        left: -2.5rem;
        transform: scale(0.9);
    }


    .favourite {
        padding: 1.9rem 2rem;
        bottom: 13.9rem;
        left: 37.27rem;

    }



    .decrease {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        left: 19.2rem;
        top: -9.1rem;

    }

    .increase {
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
        top: -9.1rem;
        right: 7.3rem;



    }



    .number {
        font-size: 2rem;
        min-width: 2rem;
        font-family: "PoppinsSemiBold";
        color: #313131;
        text-align: center;
        right: 11.5rem;
        top: -11.2rem;
        position: absolute;

    }

    .added {
        top: -10.3rem;
        right: 0.6rem;

    }






    .longDescriptionGeneral {
        width: 46rem;
        transform: translateX(-50%) scale(0.8);
        top: 91.7rem;

    }




    .longDescriptionGeneral .productLongDescriptionFirst {

        width: 46rem;

    }



    .itemVideo {
        width: 45.5rem;
        height: 17rem;
        left: 50%;
        top: 6rem;


    }


    .itemVideo .videoText {

        top: 38%;

    }




    .longDescriptionGeneral .productLongDescriptionSecond {
        width: 46rem;

    }






    .propertiesTitle {

        font-size: clamp(1rem, 2.5rem, 10rem);
        top: 138rem;
        left: 50%;
        transform: translateX(-140.5%);
    }


    .properties {
        width: 45.5rem;
        padding: 0rem;
        padding-top: 8rem;
        padding-bottom: 4.5rem;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        gap: 0rem;
        top: 91.5rem;

    }

    .review {
        top: 86rem;
        width: 45.5rem;
        left: 50%;
        transform: translateX(-50%) scale(0.8);

    }

    .commentBox {

        left: -12.9%;
        width: 45rem;
    }

    .comment {
        width: 34rem;
        left: 54.5%;


    }

    .comment .accountInfo {
        width: 122.2%;
        left: -4%;
    }

    .accountInfo img {

        width: 9.5%;
        left: -5rem;

    }

    .accountInfo .commentRate {
        right: 2rem;
        top: -2rem;
    }



    .accountInfo .commentCustomerName {

        left: -0.5rem;
        top: -3.6rem;
    }

    .comment .commentText {
        font-size: clamp(1rem, 1.5rem, 10rem);
    }

    .commentBox .reviewSubTitle {
        position: relative;
        z-index: 5;
        font-size: clamp(1rem, 1.6rem, 10rem);
        font-family: "PoppinsMedium";
        color: #313131;
        top: -2.5rem;
        left: 50%;
        margin-bottom: 1rem;
        transform: translateX(-50%);
    }

    .send {
        position: relative;
        bottom: 1rem;
        width: 96.4%;
        height: auto;
        border-top: 1.5px solid #c0c0c0;
        padding: 1rem;
        margin-top: 0rem;
        padding-top: 2.5rem;
    }

    .commentBox .input {

        width: 66.5%;
        left: 30.5%;

        font-size: 1.3rem;

    }



    .commentBox .rate {

        left: 37rem;
        font-size: 1.4rem;

    }

    .starsContainer {
        bottom: 6.65rem;
        left: 37.7rem;
    }



    .commentBox .post {
        left: 37rem;

    }


    .showReplies {

        font-size: clamp(0rem, 1.4rem, 10rem);
    }



    .showMoreComments {

        font-size: clamp(0rem, 1.9rem, 10rem);
    }

    .replies {
        gap: 0.5rem;
        padding-top: 3rem;
        position: relative;
        align-items: center;
        top: -5rem;
        height: auto;
        overflow: hidden;
        left: -1.2%;
        width: 104%;
        border-radius: 0.5rem;
    }

    .replyComment {
        width: 65%;
        left: 57%;

    }


    .accountReplyInfo img {
        width: 10%;
        left: -4.7rem;

    }

    .replyCustomerName {

        left: -0.5rem;
        top: -1.1rem;

    }


    .repliedTo {

        left: 0rem;
        top: -1rem;
        font-size: clamp(0rem, 1rem, 10rem);
    }

    .replyText {
        font-family: "PoppinsRegular";
        left: 0.2rem;
        top: -0rem;
        letter-spacing: -0.05rem;
        font-size: clamp(1rem, 1.3rem, 10rem);
    }

    .commentBox .likeReplyDiv {
        top: 6rem;
    }

    .cancelReply {

        right: 8.5%;

    }



    .replyReply {
        font-size: clamp(0rem, 1.1rem, 10rem);
        left: 40%;
        top: -9.2%;

    }




    .replySend {

        width: 83.5%;

        left: 46.5%;

    }

    .replyCommentSend {
        width: 80.5%;

        padding: 1.3rem 2rem;
        padding-bottom: 2rem;
        left: 49%;



    }


    .similar {
        top: 77rem;
        left: 50%;
        width: 45.5rem;
        transform: translateX(-50%) scale(0.8);

    }




    .similarTitle {
        position: absolute;
        z-index: 5;
        font-size: clamp(1rem, 2.5rem, 10rem);
        font-family: "PoppinsSemiBold";
        top: 0rem;
        color: #313131;
        left: 0.1rem;
    }


    .itemContainer {
        background-color: rgb(223, 223, 223);
        border-radius: 3rem;
        padding: 5rem 0rem;
        padding-top: 9rem;
        width: 83.3rem;
        min-height: 40rem;
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 10rem;
        z-index: 0;
        opacity: 1;
        overflow: hidden;

    }



    .similarItems {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0rem 2rem;
        top: -2.5rem;
        padding-bottom: 3rem;
        position: relative;



    }
}