.container {
    height: 64rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

}

.box {
    position: absolute;
    height: 60rem;
    width: 100%;
    top:4rem;
    background: linear-gradient(135deg, #08101a, #121927);
    overflow: hidden;


}

.titleContainer {
    width: 65rem;
    position: relative;
    margin:0 auto;
    z-index: auto;
}


.title {
    font-size: clamp(1.9rem, 3.2rem, 25rem);   
    top:19rem;
    width: 70%;
    left:-3rem;
    text-align: left;
    line-height: 0.9;
    position: absolute;
    font-family: "PoppinsMedium"; 
    color: rgb(255, 255, 255);
    z-index: 3;
}


.subtitle {

    font-size: clamp(1rem, 1.2rem, 25rem);   
    top:28rem;
    width: 28rem;
    left:-3rem;
    text-align: left;
    line-height: 1;
    position: absolute;
    font-family: "PoppinsLight"; 
    color: rgb(255, 255, 255);
    z-index: 3;
}

.subsubtitleContainer {
    width: 90rem;
    height: 30rem;
    margin:0 auto;

}

.subsubtitle {
    font-size: clamp(1rem, 1.8rem, 25rem);   
    top:11.5rem;
    width: 23rem;
    left:57.5rem;
    text-align: right;
    line-height: 1;
    position: relative;
    font-family: "PoppinsRegular"; 
    color: rgb(255, 255, 255);
    z-index: 10;    
}

.button {
    font-size: clamp(1rem, 1.4rem, 25rem);   
    top:11.5rem;
    background-color: white;
    left:28.7rem;
    border-radius: 2rem;
    padding: 0.8rem 3.5rem;
    text-align: left;
    line-height: 1;
    position: relative;
    font-family: "PoppinsLight"; 
    color: rgb(0, 0, 0);
    z-index: 10; 
    transition: all 0.3s ease;    
}

.button:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.imageContainer {
    width: 92rem;
    height: 10rem;
    margin:0 auto;

}


.photo90 {
    width: 65rem;
    position: relative;
    top:-5.5rem;
    left:-19rem;
    transform: rotate(-90deg);
    z-index: 2;
    opacity: 0.8;
}


.circle {
    position: absolute;
    height: 90rem;
    width: 90rem;
background: radial-gradient(
  circle,
  #08101a 0%,                
  #121927 60%,               
  rgba(121, 121, 121, 0.856) 85%, 
  rgba(255, 255, 255, 0.671) 90%
);
    filter: blur(20px);
    border-radius: 50%;
    z-index: 0;
    right: -30rem;
    top:-5rem;
}

@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {

.container {
    height: 40rem;


}

.box {
    height: 60rem;



}


.title {
    font-size: clamp(0rem, 1.4rem, 25rem);   
    top:12.5rem;
    width: 60%;
    left:70vw;
    margin-left:-13rem;

}


.subtitle {

    font-size: clamp(0rem, 0.9rem, 25rem);   
    top:12rem;
    width: 62%;
    left:70vw;
    margin-left:-13rem;

}

.subsubtitle {
    font-size: clamp(0rem, 1.2rem, 25rem);   
    top:23rem;
    width: 70%;
    left:70vw;
    margin-left:-14rem;
    text-align: left;

}

.button {
    font-size: clamp(0rem, 1rem, 25rem);   
    top:27.5rem;
    left:70vw;
    margin-left:-14rem;
    border-radius: 0.9rem;
    padding: 0.7rem 2.2rem;
  
}




.photo90 {
    width: 31rem;
    top:-8rem;
    left:20vw;
    margin-left:-10rem;

}


.circle {
    height: 40rem;
    width: 40rem;
    right: -30rem;
    top:-5rem;
}

}


@media (max-width: 	360px) {
.container {
    height: 40rem;


}

.box {
    height: 60rem;



}


.title {
    font-size: clamp(0rem, 1rem, 25rem);   
    top:13.5rem;
    width: 60%;
    left:3rem;
    margin-left:0rem;

}


.subtitle {

    font-size: clamp(0rem, 0.7rem, 25rem);   
    top:13rem;
    width: 60%;
    left:3rem;
    margin-left:0rem;

}

.subsubtitle {
    font-size: clamp(0rem, 0.9rem, 25rem);   
    top:23rem;
    width: 70%;
    left:1.5rem;
    text-align: left;
    margin-left:0rem;

}

.button {
    font-size: clamp(0rem, 0.8rem, 25rem);   
    top:26.5rem;
    left:1.5rem;
    border-radius: 0.6rem;
    padding: 0.6rem 2rem;
      margin-left:0rem;

}




.photo90 {
    width: 26.5rem;
    top:-3.5rem;
    left:-3.9rem;
    margin-left:0rem;

}


.circle {
    height: 40rem;
    width: 40rem;
    right: -30rem;
    top:-5rem;
}

 }