.container {
    height: 64rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background: linear-gradient(135deg, #08101a, #121927);
}

.box {
    position: absolute;
    height: 60rem;
    width: 100%;
    top: 4rem;



}

.titleContainer {
    width: 65rem;
    position: relative;
    margin: 0 auto;
    z-index: auto;
}


.title {
    font-size: clamp(1.9rem, 3.2rem, 25rem);
    top: 19rem;
    width: 70%;
    left: -3rem;
    text-align: left;
    line-height: 0.9;
    position: absolute;
    font-family: "PoppinsMedium";
    color: rgb(255, 255, 255);
    z-index: 3;
}


.subtitle {

    font-size: clamp(1rem, 1.2rem, 25rem);
    top: 28rem;
    width: 28rem;
    left: -3rem;
    text-align: left;
    line-height: 1;
    position: absolute;
    font-family: "PoppinsLight";
    color: rgb(255, 255, 255);
    z-index: 3;
}

.subsubtitleContainer {
    width: 90rem;
    height: 30rem;
    margin: 0 auto;

}

.subsubtitle {
    font-size: clamp(1rem, 1.8rem, 25rem);
    top: 11.5rem;
    width: 23rem;
    left: 57.5rem;
    text-align: right;
    line-height: 1;
    position: relative;
    font-family: "PoppinsRegular";
    color: rgb(255, 255, 255);
    z-index: 5;
}

.button {
    font-size: clamp(1rem, 1.4rem, 25rem);
    top: 11.5rem;
    background-color: white;
    left: 28.7rem;
    border-radius: 2rem;
    padding: 0.8rem 3.5rem;
    text-align: left;
    line-height: 1;
    position: relative;
    font-family: "PoppinsLight";
    color: rgb(0, 0, 0);
    z-index: 5;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.imageContainer {
    width: 92rem;
    height: 10rem;
    margin: 0 auto;

}


.photo90 {
    width: 65rem;
    position: relative;
    top: -5.5rem;
    left: -19rem;
    transform: rotate(-90deg);
    z-index: 2;
    opacity: 0.8;
}


.circle {
    position: absolute;
    height: 90rem;
    width: 90rem;
    background: radial-gradient(circle,
            #08101a 0%,
            #121927 60%,
            rgba(121, 121, 121, 0.856) 85%,
            rgba(255, 255, 255, 0.671) 90%);
    filter: blur(20px);
    border-radius: 50%;
    z-index: 0;
    right: -30rem;
    top: -5rem;
}

@media (max-width: 1540px) {
    .container {
        margin-top: 4rem;
        height: 50rem;
        ;
    }

    .box {
        top: -2.5rem;
        transform: translateX(-68%) scale(0.8);
        width: 60rem;
        left: 50%;

    }

    .title {

        left: 10.5rem;

    }


    .subtitle {


        width: 28rem;
        left: 10.5rem;
    }

    .circle {
        height: 90rem;
        width: 90rem;
        right: -75rem;
        top: -15rem;
    }


}

@media (max-width: 1240px) {
    .container {
        margin-top: 5rem;
        height: 45rem;
    }

    .box {
        top: -5.5rem;
        transform: translateX(-65.5%) scale(0.7);
        width: 60rem;
        left: 50%;


    }




}

@media (max-width: 950px) {
    .container {
        margin-top: 1rem;
        height: 30rem;
    }

    .box {
        top: -13.5rem;
        transform: translateX(-59%) scale(0.4);
        width: 60rem;
        left: 50%;


    }
}

@media (max-width: 750px) {
    .container {
        margin-top: 5rem;
        height: 50rem;
    }

    .box {
        top: 3.5rem;
        transform: translateX(-46.5%) scale(0.8);
        width: 60rem;
        left: 50%;

    }

    .title {

        left: 10.5rem;

    }


    .subtitle {


        width: 28rem;
        left: 10.5rem;
    }

    .subsubtitleContainer {
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        margin-left: -18.7rem;
        left: 50%;
        position: relative;
        top: -20rem;

    }

    .subsubtitle {
        font-size: clamp(1rem, 3rem, 25rem);
        top: 5.5rem;
        width: 33rem;
        left: -2.4rem;

    }

    .button {
        font-size: clamp(1rem, 1.8rem, 25rem);
        top: 6.5rem;
        background-color: white;
        left: 1rem;
        border-radius: 2rem;
        padding: 1.2rem 4.5rem;
        text-align: left;
        line-height: 1;
        position: relative;
        font-family: "PoppinsLight";
        color: rgb(0, 0, 0);
        z-index: 5;
        transition: all 0.3s ease;
    }


    .circle {
        height: 90rem;
        width: 90rem;
        right: -55rem;
        top: -15rem;
    }

}

@media (max-width: 580px) {
    .container {
        margin-top: 4rem;
        height: 45rem;
    }

    .box {
        top: -0.5rem;
        transform: translateX(-46.5%) scale(0.65);
        width: 60rem;
        left: 50%;

    }

    .title {

        left: 10.5rem;

    }


    .subtitle {


        width: 28rem;
        left: 10.5rem;
    }

    .subsubtitleContainer {
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        left: 50%;
        position: relative;
        top: -20rem;
        margin-left: -18.7rem;

    }

    .subsubtitle {
        font-size: clamp(1rem, 3rem, 25rem);
        top: 5.5rem;
        width: 33rem;
        left: -2.4rem;

    }

    .button {
        font-size: clamp(1rem, 1.8rem, 25rem);
        top: 6.5rem;
        background-color: white;
        left: 1rem;
        border-radius: 2rem;
        padding: 1.2rem 4.5rem;
        text-align: left;
        line-height: 1;
        position: relative;
        font-family: "PoppinsLight";
        color: rgb(0, 0, 0);
        z-index: 5;
        transition: all 0.3s ease;
    }

    .circle {
        height: 90rem;
        width: 90rem;
        right: -60rem;
        top: -15rem;
    }

}

@media (max-width: 460px) {
    .container {
        margin-top: 2rem;
        height: 42rem;
    }

    .box {
        top: -3.5rem;
        transform: translateX(-47.6%) scale(0.5);
        width: 60rem;
        left: 50%;

    }

    .title {

        left: 10.5rem;

    }


    .subtitle {


        width: 28rem;
        left: 10.5rem;
    }

    .subsubtitleContainer {
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        left: 50%;
        position: relative;
        top: -20rem;
        margin-left: -18.7rem;


    }

    .subsubtitle {
        font-size: clamp(1rem, 3rem, 25rem);
        top: 5.5rem;
        width: 33rem;
        left: -2.4rem;

    }

    .button {
        font-size: clamp(1rem, 1.8rem, 25rem);
        top: 6.5rem;
        background-color: white;
        left: 1rem;
        border-radius: 2rem;
        padding: 1.2rem 4.5rem;
        text-align: left;
        line-height: 1;
        position: relative;
        font-family: "PoppinsLight";
        color: rgb(0, 0, 0);
        transition: all 0.3s ease;
    }

    .circle {
        height: 90rem;
        width: 90rem;
        right: -55rem;
        top: -25rem;
    }

}