.campaignDiv {
    width: 100%;
    position: relative;
    background: linear-gradient(
    to bottom right,
    rgba(255, 140, 0, 0.9) 0%,
    rgba(255, 90, 0, 0.8) 40%,
    rgba(40, 20, 0, 0.9) 100%
    );
    height: 40rem;
    z-index: 5;
}

.campaignDiv .title {
    font-family: "PoppinsRegular";
    font-size: clamp(1rem,7.5rem,10rem);
    color: white;
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2;
    letter-spacing: -0.4rem;
    transform: translate(-50%,-140%);
    white-space: nowrap;
}

.campaignDiv .subtitle {
    font-family: "PoppinsLight";
    font-size: clamp(1rem,1.7rem,10rem);
    color: white;
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2;
    width: 70rem;
    line-height: 0.9;
    transform: translate(-50%,50%);
}

.campaignDiv .explore {
    position: absolute;
    bottom: 8rem;
    left:50%;
    font-family: "PoppinsLight";
    font-size: clamp(1rem,1.5rem,3rem);
    padding: 0.9rem 4rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: #313131;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.campaignDiv .explore:hover {
    background-color: rgba(255, 168, 38, 0.9);
    color: white;
}