body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 100rem;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;

}

.box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 0.4rem;
    left:28rem;
    width: 48rem;
    height: 29.6rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;


}

.commercial {
    width: 45rem;
    height: 35rem;
    position: absolute;
    top:58.5rem;
    right:15rem;
    z-index: 5;
    background-color: #0f0f0f;  
    border:0.12rem solid rgb(24, 24, 24);
    border-radius: 2rem;



}

.overflow {
    height: 27rem;
    overflow: hidden;

}

.overflow .phoneCommercial {
  width: 95%;    
  left:2.5%;
  top:1rem;
  position: relative;      
  height: 90%;     
  object-fit: cover; 
  border-radius: 1.5rem;
  filter: brightness(2) contrast(1.2);
  opacity: 0.6;
  display: block;  
}



.commercial .commercialTitle {
    text-align: right;
    position:absolute;
    color:rgb(255, 255, 255);
    z-index: 11;
    right:3rem;
    top: 10rem;
    font-size: clamp(2rem,5rem, 15rem);
    width: 80%;
    font-family: "PoppinsMedium";
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0.2rem; 
}

.commercial .commercialSubtitle {
    text-align: right;
    position:absolute;
    color:rgb(255, 255, 255);
    z-index: 11;
    top: 25rem;
    right:5%;
    font-size: clamp(1rem,1.3rem, 15rem);
    width: 90%;
    text-align: center;
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0rem;     
}

.commercial button {
    position: relative;
    background-color: white;
    color: black;
    top:2rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1vw, 10rem);
    padding:0.7rem 3rem;
    border-radius: 1.4rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;  
}

.commercial button:hover {
    background-color: rgb(62, 187, 62);
    color: white;
    transform: scale(1.05);
}


.coverBox {
    overflow: hidden;
    position: absolute;
  background: linear-gradient(to bottom, 
                              rgb(17, 17, 17) 1%,   
                              rgb(10, 10, 10) 3%,
                              rgb(5, 5, 5) 5%,
                              rgb(0, 0, 0) 7% 
                             );
    height: 100%;
    width: 100%;
    z-index: 4;
    top:33.5rem;

}


.coverTitle {
    display: none;
    color:rgba(255, 255, 255, 0.781);
    line-height: 0.9;
    font-size: clamp(0rem, 2.5rem,5rem);
    width: 35%;
    position: absolute;
    margin-left:25rem;
    padding: 2.5rem 5rem;
    text-align: center;

}

.circleBack1, .circleBack2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
    background: radial-gradient(
        circle,
        #000000 0%,               
        #000000 60%,              
        rgba(121, 121, 121, 0.856) 85%,  
        rgba(255, 255, 255, 0.671) 90%
    );
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
}

.circleBack1 {
    right: -30rem;
    top:-15rem;
}

.circleBack2 {
    left: -30rem;
    top:35rem;
}

.line {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 13.65rem;
    left:32rem;
    width: 0.5rem;
    height: 18rem;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.212);

}

.boxCampaign {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 28.5rem;
    left:0rem;
    width: 100%;
    height: 47.2rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;

}

.boxExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 58.5rem;
    left:15rem;
    border:0.12rem solid rgb(24, 24, 24);
    width: 30%;
    height: 35rem;
    z-index: 6;
    border-radius: 2rem;
    opacity: 1;   
    background-color: #0f0f0f;  
    transition: all 0.3s ease;
}

.boxExplanation:hover {
    transform: scale(1);
}

.boxCampaignExplanation {
     position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 7rem;
    left:2.5%;
    width: 95%;
    height: 27rem;
    z-index: 6;
    border-radius: 1.3rem;
    opacity: 1;   
    background-color: #1a1a1a;
    overflow: hidden;
}


.module {
    margin-top: 33rem;
    

}

.video {
  width: 100%;
  height: 35%;
  object-fit: cover; 
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: -1; 
  filter: hue-rotate(300deg) brightness(1.5);
}



.fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; 
  z-index: 3;
  pointer-events: none;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  z-index: 9;
  pointer-events: none;
  backdrop-filter: blur(12px);
}


.title{
    text-align: right;
    position:absolute;
    color:rgb(255, 255, 255);
    z-index: 11;
    top: 15.5rem;
    font-size: clamp(2rem,9rem, 15rem);
    width: 50%;
    font-family: "PoppinsRegular";
    left:48vw;
    padding: 0;
    line-height: 0.8;
    margin-left:-53rem;
    letter-spacing: -0.5rem;

}

.subtitle {
    color:rgba(255, 255, 255, 0.781);
    width:70%;
    position: relative;
    font-size: clamp(0rem, 1.3vw, 10rem);
    line-height: 1.2;
    padding: 2.5rem 2rem;
    text-align: left;
    hyphens: auto; 
    justify-content: center;
}

.shop {
    position: absolute;
    top:12.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(0rem, 1vw,10rem);
    padding:0.8rem 3.5rem;
    border-radius: 1.5rem;
    left:7.5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform:scale(1.05);
    background-color: #2962FF;
    color:white;
}

.shop:active {
    transform:scale(1.05);
    background-color: #9cb6fc;
    color:white;
}


.boxExplanation .title {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    font-size: clamp(1.6rem, 3.5vw,10rem);
    letter-spacing: -0.3rem;
    line-height: 1.2;
    text-align: center;
    top:-5.5rem;
    left:57.5rem;
    padding: 2.5rem 2rem;
 
}

.boxCampaignExplanation .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(0rem, 0.8vw,10rem);
    line-height: 1;
    text-align: center;
    top:16rem;
    left:5%;
    padding: 2.5rem 0rem;
    hyphens: auto; 
    justify-content: center;    
}

.boxCampaignExplanation .button {
    position: absolute;
    background-color: white;
    color: black;
    top:22rem;
    left:27%;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1vw, 10rem);
    padding:0.7rem 3rem;
    border-radius: 1.4rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;   

}


.boxCampaignExplanation .button:hover {
    transform:scale(1.05);
    background-color: rgb(255, 140, 0);
    color:white;
}

.boxCampaignExplanation .button:active {
    transform:scale(1.05);
    background-color: rgb(255, 178, 85);
    color:white;
}


.boxCampaignExplanation .campaignPhoto {
    height: 65%;
  object-fit: cover; 
  width: 95%;    
  top:1rem;
  position: relative;       
  object-fit: cover; 
  border-radius: 1.5rem;
  display: block;  

}





@media (max-width: 1900px) {


  
}





@media (max-width: 1440px) {



}




@media (max-width: 1200px) {


}



@media (max-width: 992px) {



}

@media (max-width: 768px) {

}


@media (max-width: 599px) {



}






@media (max-width: 	480px) {

.container {
    height: 85rem;

}

.video {
  width: 100%;
  height: 45%;
  object-fit: cover; 
  position: absolute;
  top: -2.4rem;
  left: 0;
  z-index: -1; 
  filter: hue-rotate(300deg) brightness(1.5);
}

.boxCampaign {
    top: 28.5rem;
    left:0rem;

}


.commercial {
    height: 15.5rem;
    right:7.5%;
    width: 85%;
    top:63.5rem;
    border-radius: 1.5rem;



}

.overflow {
    height: 15.5rem;

}

.overflow .phoneCommercial {
    top:0.5rem;
    height: 61%;
    border-radius: 1rem;
}



.commercial .commercialTitle {
    right:5%;
    top: 4rem;
    font-size: clamp(2rem,2rem, 15rem);
    letter-spacing: -0.05rem; 
}

.commercial .commercialSubtitle {
    top: 10rem;
    font-size: clamp(0rem,0.8rem, 15rem); 
}

.commercial button {
    top:-2.8rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    padding:0.4rem 2rem;
    border-radius: 0.8rem; 
}


.coverBox {

    height: 100%;
    width: 100%;
    z-index: 4;
    top:32rem;

}

.coverTitle {
    margin-left:-9rem;
    font-size: clamp(0rem, 6vw,5rem);
    width: 110%;


}


.circleBack1, .circleBack2 {
    height: 40rem;
    width: 40rem;

}

.circleBack1 {
    right: 5rem;
    top:10rem;
}

.circleBack2 {
    left: 5rem;
    top:50rem;
}

.title{
    text-align: left;
    top: 12rem;
    font-size: clamp(2rem,3.7rem, 15rem);
    width: 100%;
    left:8.5rem;
    line-height: 0.85;
    margin-left:-8rem;
    letter-spacing: -0.2rem;

}

.subtitle {
    width:32%;
    font-size: clamp(0rem,0.75rem, 15rem);
    top:-3.7rem;
    left:-43.3rem;
}


.shop {
    top:3.7rem;
    font-size: clamp(0rem, 0.8rem,10rem);
    padding:0.7rem 3rem;
    border-radius: 0.9rem;
    left:-27rem;
    color: black;

}


.boxExplanation {
    top: 42rem;
    left:7.5%;
    width: 85%;
    height: 20rem;
    border-radius: 1.5rem;

}


.boxCampaignExplanation {

    top: 4rem;
    left:2.5%;
    width: 95%;
    height: 15.5rem;

}


.boxExplanation .title {
    font-size: clamp(1.6rem, 1.6rem,10rem);
    letter-spacing: -0.3rem;
    top:-3rem;
    left:2vw;
    margin-left: -2.6rem;
    letter-spacing: 0rem;
 
}

.boxCampaignExplanation .subtitle {
    font-size: clamp(0rem, 0.55rem,10rem);
    top:7rem;

}

.boxCampaignExplanation .button {
    top:12rem;
    left:43vw;
    margin-left:-5.7rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    padding:0.7rem 2rem;
    border-radius: 1rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 55%;
}



.box3 {
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    height: 20rem;
    border-radius: 1rem;
    width: 80%;
    left:7rem;
    top:5rem;
}


.itemsdiv {
    margin-top:-6rem;
    height: 12rem;
    width: 60%;
    top:48%;
    left:35%;
    
}

.accountdiv {
    margin-top:-5.65rem;
    height: 12rem;
    width: 25%;
    top:44%;
    left:5%;
}

.navdiv {
    padding-bottom: 2rem;
    margin-top:-6rem;
    height: 0rem;
    width: 90%;
    top:24%;
    left:5%;
}

.circle {
    height: 3.5rem;
    width: 80%;
    left:10%;
}

.accountTitle {
    font-size: clamp(0rem,0.7rem, 10rem);
    top:0rem;  
}

.randomBox {
    border-radius:0.5rem;
    height: 1.5rem;
    width: 80%;
    left:10%;
    margin-bottom: 1rem;   
}











.items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 2rem 0.5rem;
    position: relative;

    
}

.items img {
    top:0rem;
    position: relative;
    width: 100%;
}









.items .item {
    top: -3rem;
    border-radius:0.5rem;
}




.items .name {
    top:2.1rem;
    padding: 0.1rem 0.3rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: clamp(0rem, 0.45rem, 2rem);


}

}

@media (max-width: 	360px) {

.container {
    height: 85rem;

}

.video {
  width: 100%;
  height: 45%;
  object-fit: cover; 
  position: absolute;
  top: -3.5rem;
  left: 0;
  z-index: -1; 
  filter: hue-rotate(300deg) brightness(1.5);
}

.boxCampaign {
    top: 38.5rem;
    left:0rem;

}


.commercial {
    height: 15.5rem;
    right:2.5%;
    width: 95%;
    top:63.5rem;
    border-radius: 1.5rem;



}

.overflow {
    height: 15.5rem;

}

.overflow .phoneCommercial {
    top:0.5rem;
    height: 61%;
    border-radius: 1rem;
}



.commercial .commercialTitle {
    right:5%;
    top: 4rem;
    font-size: clamp(2rem,2rem, 15rem);
    letter-spacing: -0.05rem; 
}

.commercial .commercialSubtitle {
    top: 10rem;
    font-size: clamp(0rem,0.8rem, 15rem); 
}

.commercial button {
    top:-2.8rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    padding:0.4rem 2rem;
    border-radius: 0.8rem; 
}



.coverBox {

    height: 100%;
    width: 100%;
    z-index: 4;
    top:31rem;

}


.coverTitle {
    margin-left:-7rem;
    font-size: clamp(0rem, 5vw,5rem);
    width: 90%;


}

.circleBack1, .circleBack2 {
    height: 40rem;
    width: 40rem;

}

.circleBack1 {
    right: -15rem;
    top:0rem;
}

.circleBack2 {
    left: -20rem;
    top:45rem;
}

.title{
    text-align: left;
    top: 12rem;
    font-size: clamp(2rem,3rem, 15rem);
    width: 90%;
    left:8.5rem;
    line-height: 0.8;
    margin-left:-8rem;
    letter-spacing: -0.2rem;

}

.subtitle {
    width:32%;
    font-size: clamp(0rem,0.7rem, 15rem);
    top:-4.8rem;
    left:-43.3rem;
}


.shop {
    top:2.3rem;
    font-size: clamp(0rem, 0.8rem,10rem);
    padding:0.7rem 3rem;
    border-radius: 0.9rem;
    left:-27rem;

}


.boxExplanation {
    top: 42rem;
    left:2.5%;
    width: 95%;
    height: 20rem;
    border-radius: 1.5rem;

}


.boxCampaignExplanation {

    top: 4rem;
    left:2.5%;
    width: 95%;
    height: 15.5rem;

}


.boxExplanation .title {
    font-size: clamp(1.6rem, 1.6rem,10rem);
    letter-spacing: -0.3rem;
    top:-3rem;
    left:15vw;
    margin-left: -4rem;
    letter-spacing: 0rem;
 
}

.boxCampaignExplanation .subtitle {
    font-size: clamp(0rem, 0.6rem,10rem);
    top:6.5rem;

}

.boxCampaignExplanation .button {
    top:12rem;
    left:40vw;
    margin-left:-4.1rem;
    font-size: clamp(0rem, 0.8rem, 10rem);
    padding:0.7rem 2rem;
    border-radius: 1rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 55%;
}



.box3 {
    padding:3rem 0rem;
    padding-bottom: 5rem;
    margin-top:-10rem;
    height: 20rem;
    border-radius: 1rem;
    width: 80%;
    left:7rem;
    top:5rem;
}


.itemsdiv {
    margin-top:-6rem;
    height: 12rem;
    width: 60%;
    top:48%;
    left:35%;
    
}

.accountdiv {
    margin-top:-5.65rem;
    height: 12rem;
    width: 25%;
    top:44%;
    left:5%;
}

.navdiv {
    padding-bottom: 2rem;
    margin-top:-6rem;
    height: 0rem;
    width: 90%;
    top:24%;
    left:5%;
}

.circle {
    height: 3.5rem;
    width: 80%;
    left:10%;
}

.accountTitle {
    font-size: clamp(0rem,0.7rem, 10rem);
    top:0rem;  
}

.randomBox {
    border-radius:0.5rem;
    height: 1.5rem;
    width: 80%;
    left:10%;
    margin-bottom: 1rem;   
}











.items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 2rem 0.5rem;
    position: relative;

    
}

.items img {
    top:0rem;
    position: relative;
    width: 100%;
}









.items .item {
    top: -3rem;
    border-radius:0.5rem;
}




.items .name {
    top:2.1rem;
    padding: 0.1rem 0.3rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: clamp(0rem, 0.4rem, 2rem);


}



}