body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 100rem;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;

}

.box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 0.4rem;
    left: 28rem;
    width: 48rem;
    height: 29.6rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;


}


.titleBox {
    width: 100rem;
    left: 50%;
    position: absolute;
    z-index: 4;
    transform: translate(-50%, 0%);
}


.title {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    top: 15.5rem;
    font-size: clamp(2rem, 9rem, 15rem);
    width: 55%;
    font-family: "PoppinsRegular";
    left: -1.2%;
    padding: 0;
    line-height: 0.8;
    letter-spacing: -0.5rem;
    transform: translate(-50%, -50%);


}

.subtitle {
    color: rgba(255, 255, 255, 0.781);
    width: 70%;
    position: relative;
    font-size: clamp(0rem, 1.6rem, 10rem);
    line-height: 1.2;
    padding: 2.5rem 2rem;
    left: 40%;
    top: 13.35rem;
    text-align: left;
    hyphens: auto;
    justify-content: center;
    transform: translate(-50%, -50%);

}

.shop {
    position: absolute;
    top: 12.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(0rem, 1.2rem, 10rem);
    padding: 0.8rem 3.5rem;
    border-radius: 1.5rem;
    left: 7.5rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform: scale(1.05);
    background-color: #2962FF;
    color: white;
}

.shop:active {
    transform: scale(1.05);
    background-color: #9cb6fc;
    color: white;
}

.secondBox {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100rem;
    z-index: 20;
}

.commercial {
    width: 47rem;
    height: 35rem;
    position: absolute;
    top: 38.5rem;
    right: 5.4rem;
    z-index: 5;
    background-color: #0f0f0f;
    border: 0.12rem solid rgb(24, 24, 24);
    border-radius: 2rem;



}



.overflow {
    height: 27rem;
    overflow: hidden;

}

.overflow .phoneCommercial {
    width: 95%;
    left: 2.5%;
    top: 1rem;
    position: relative;
    height: 90%;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(2) contrast(1.2);
    opacity: 0.6;
    display: block;
}



.commercial .commercialTitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    right: 3rem;
    top: 10rem;
    font-size: clamp(2rem, 5rem, 15rem);
    width: 80%;
    font-family: "PoppinsMedium";
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0.2rem;
}

.commercial .commercialSubtitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    top: 25rem;
    right: 5%;
    font-size: clamp(1rem, 1.3rem, 15rem);
    width: 90%;
    text-align: center;
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    position: relative;
    background-color: white;
    color: black;
    top: 2rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.commercial button:hover {
    background-color: rgb(62, 187, 62);
    color: white;
    transform: scale(1.05);
}


.coverBox {
    overflow: hidden;
    position: absolute;
    background: linear-gradient(to bottom,
            rgb(17, 17, 17) 1%,
            rgb(10, 10, 10) 3%,
            rgb(5, 5, 5) 5%,
            rgb(0, 0, 0) 7%);
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 33.5rem;

}


.coverTitle {
    display: none;
    color: rgba(255, 255, 255, 0.781);
    line-height: 0.9;
    font-size: clamp(0rem, 2.5rem, 5rem);
    width: 35%;
    position: absolute;
    margin-left: 25rem;
    padding: 2.5rem 5rem;
    text-align: center;

}



.line {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 13.65rem;
    left: 32rem;
    width: 0.5rem;
    height: 18rem;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.212);

}

.boxCampaign {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 28.5rem;
    left: 0rem;
    width: 100%;
    height: 47.2rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;

}

.boxExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 38.5rem;
    left: 5.4rem;
    border: 0.12rem solid rgb(24, 24, 24);
    width: 40rem;
    height: 35rem;
    z-index: 6;
    border-radius: 2rem;
    opacity: 1;
    background-color: #0f0f0f;
    transition: all 0.3s ease;
}

.boxExplanation:hover {
    transform: scale(1);
}

.boxCampaignExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 7rem;
    left: 2.5%;
    width: 95%;
    height: 27rem;
    z-index: 6;
    border-radius: 1.3rem;
    opacity: 1;
    background-color: #1a1a1a;
    overflow: hidden;
}


.module {
    margin-top: 33rem;


}

.video {
    width: 100%;
    height: 35%;
    object-fit: cover;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
    filter: hue-rotate(300deg) brightness(1.5);
}



.fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    pointer-events: none;
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9;
    pointer-events: none;
    backdrop-filter: blur(12px);
}



.boxExplanation .title {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    font-size: clamp(1.6rem, 4.1rem, 10rem);
    letter-spacing: -0.2rem;
    line-height: 1.2;
    text-align: center;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);

}

.boxCampaignExplanation .subtitle {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    width: 90%;
    font-size: clamp(0rem, 0.97rem, 10rem);
    line-height: 1;
    text-align: center;
    top: 19.3rem;
    left: 50%;
    padding: 2.5rem 0rem;
    hyphens: auto;
    justify-content: center;
}

.boxCampaignExplanation .button {
    position: absolute;
    background-color: white;
    color: black;
    top: 22rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;

}


.boxCampaignExplanation .button:hover {
    transform: translateX(-50%) scale(1.05);
    background-color: rgb(255, 140, 0);
    color: white;
}

.boxCampaignExplanation .button:active {
    transform: translateX(-50%) scale(1.05);
    background-color: rgb(255, 178, 85);
    color: white;
}


.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    object-fit: cover;
    width: 95%;
    top: 1rem;
    position: relative;
    object-fit: cover;
    border-radius: 0.8rem;
    display: block;

}





@media (max-width: 1900px) {}





@media (max-width: 1540px) {


.container {
    height: 85rem;
}


.secondBox {
    top: 10rem;
    width: 85.9rem;
}

.commercial {
    width: 37.5rem;
    height: 29.5rem;
    top: 38.5rem;
    right: 5.4rem;
    border-radius: 1.5rem;
    border: 0.09rem solid rgb(24, 24, 24);



}

.overflow {
    height: 22rem;

}

.overflow .phoneCommercial {
    border-radius: 1rem;
}



.commercial .commercialTitle {
    right: 2.5rem;
    top: 8.1rem;
    font-size: clamp(2rem, 4.1rem, 15rem);
    width: 80%;
    line-height: 0.9;
    letter-spacing: -0.15rem;
}

.commercial .commercialSubtitle {
    top: 20.5rem;
    right: 5%;
    font-size: clamp(1rem, 1.1rem, 15rem);
    width: 90%;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    top: 1.8rem;
    font-size: clamp(1rem, 1.15rem, 10rem);
    padding: 0.7rem 2.8rem;
    border-radius: 1.4rem;

}



.coverBox {
    height: 100%;
    top: 28rem;

}



.line {
    top: 11.5rem;
    left: 29.7rem;
    width: 0.4rem;
    height: 15rem;


}

.boxCampaign {
    top: 28.5rem;
    width: 100%;
    height: 47.2rem;
}

.boxExplanation {
    width: 36rem;
    height: 29.5rem;
    border-radius: 1.5rem;
    border: 0.09rem solid rgb(24, 24, 24);

}



.boxExplanation .title {
    font-size: clamp(1.6rem, 3.5rem, 10rem);
    letter-spacing: -0.2rem;
    line-height: 1.2;
    top: -2.5rem;
    left:49.7%;


}


.boxCampaignExplanation {
    top: 6rem;
    left: 2.5%;
    width: 95%;
    height: 22.75rem;
    border-radius: 1rem;

}


.boxCampaignExplanation .subtitle {
    width: 90%;
    font-size: clamp(0rem, 0.8rem, 10rem);
    line-height: 1;
    top: 16.3rem;
    left: 50%;

}

.boxCampaignExplanation .button {
    top: 18.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: clamp(1rem, 1.1rem, 10rem);
    padding: 0.6rem 2.4rem;
    border-radius: 1.2rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    width: 95%;
    top: 0.7rem;
    border-radius: 0.7rem;

}




.title {
    top: 13rem;
    font-size: clamp(2rem, 7.5rem, 15rem);
    width: 55%;
    left: -3.2%;
    letter-spacing: -0.5rem;


}

.subtitle {
    width: 62%;
    font-size: clamp(0rem, 1.4rem, 10rem);
    left: 26.5%;
    top: 13.7rem;

}

.shop {
    top: 11.3rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    padding: 0.7rem 3.1rem;
    border-radius: 1.5rem;
    left: 4.8rem;
}





}












@media (max-width: 1240px) {


.container {
    height: 60rem;
}


.secondBox {
    top: -4rem;
    width: 85.9rem;
}

.commercial {
    width: 27.5rem;
    height: 21.5rem;
    top: 38.5rem;
    right: 15.5rem;
    border-radius: 1.3rem;
    border: 0.07rem solid rgb(24, 24, 24);



}

.overflow {
    height: 16rem;

}

.overflow .phoneCommercial {
    border-radius: 0.9rem;
    top:0.7rem;
}



.commercial .commercialTitle {
    right: 2rem;
    top: 6.4rem;
    font-size: clamp(2rem, 2.95rem, 15rem);
    width: 80%;
    line-height: 0.9;
    letter-spacing: -0.1rem;
}

.commercial .commercialSubtitle {
    top: 15.2rem;
    right: 5%;
    font-size: clamp(0rem, 0.8rem, 15rem);
    width: 90%;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    top: 1.7rem;
    font-size: clamp(0rem, 0.7rem, 10rem);
    padding: 0.4rem 1.75rem;
    border-radius: 0.82rem;

}



.coverBox {
    height: 100%;
    top: 20.5rem;

}



.line {
    top: 8.5rem;
    left: 27.7rem;
    width: 0.3rem;
    height: 11rem;


}

.boxCampaign {
    top: 28.5rem;
    width: 100%;
    height: 47.2rem;
}

.boxExplanation {
    width: 26.3rem;
    height: 21.5rem;
    left: 15.4rem;
    border-radius: 1.3rem;
    border: 0.07rem solid rgb(24, 24, 24);

}



.boxExplanation .title {
    font-size: clamp(1.6rem, 2.45rem, 10rem);
    letter-spacing: -0.1rem;
    line-height: 1.2;
    top: -1.5rem;
    left:41.5%;


}


.boxCampaignExplanation {
    top: 4.5rem;
    left: 2.5%;
    width: 95%;
    height: 16.45rem;
    border-radius: 0.8rem;

}


.boxCampaignExplanation .subtitle {
    width: 90%;
    font-size: clamp(0rem, 0.57rem, 10rem);
    line-height: 1;
    top: 11.7rem;
    left: 50%;

}

.boxCampaignExplanation .button {
    top: 13.45rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: clamp(0rem, 0.7rem, 10rem);
    padding: 0.4rem 1.75rem;
    border-radius: 0.82rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    width: 95%;
    top: 0.55rem;
    border-radius: 0.55rem;

}




.title {
    top: 9.5rem;
    font-size: clamp(2rem, 5.5rem, 15rem);
    width: 35%;
    left: 15.5%;
    letter-spacing: -0.4rem;


}

.subtitle {
    width: 47%;
    font-size: clamp(0rem, 1.07rem, 10rem);
    left: 5.8%;
    top: 13.8rem;

}

.shop {
    top: 9rem;
    font-size: clamp(0rem, 0.7rem, 10rem);
    padding: 0.45rem 1.95rem;
    border-radius: 0.9rem;
    left: 2.3rem;
}





}





@media (max-width: 950px) {


.container {
    height: 50rem;
}

.video {
    width: 100%;
    height: 40%;
    object-fit: cover;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
    filter: hue-rotate(300deg) brightness(1.5);
}


.title {
    top: 9.3rem;
    font-size: clamp(2rem, 4.3rem, 15rem);
    width: 25%;
    left: 26.5%;
    letter-spacing: -0.2rem;


}

.subtitle {
    width: 35.9%;
    font-size: clamp(0rem, 0.8rem, 10rem);
    left: -8%;
    top: 16rem;

}

.shop {
    top: 9.3rem;
    font-size: clamp(0rem, 0.55rem, 10rem);
    padding: 0.35rem 1.45rem;
    border-radius: 0.6rem;
    left: 1rem;
}

.line {
    top: 8.8rem;
    left: 27.3rem;
    width: 0.2rem;
    height: 8.5rem;


}

.secondBox {
    top: -8rem;
    width: 75.9rem;
}

.commercial {
    width: 22.5rem;
    height: 17.15rem;
    top: 38.5rem;
    right: 15.5rem;
    border-radius: 1rem;
    border: 0.07rem solid rgb(24, 24, 24);



}

.overflow {
    height: 13.5rem;

}

.overflow .phoneCommercial {
    border-radius: 0.6rem;
    top:0.6rem;
}



.commercial .commercialTitle {
    right: 1.5rem;
    top: 5rem;
    font-size: clamp(2rem, 2.5rem, 15rem);
    width: 80%;
    line-height: 0.9;
    letter-spacing: -0.1rem;
}

.commercial .commercialSubtitle {
    top: 12.6rem;
    right: 5%;
    font-size: clamp(0rem, 0.62rem, 15rem);
    width: 90%;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    top: 0.7rem;
    font-size: clamp(0rem, 0.57rem, 10rem);
    padding: 0.3rem 1.45rem;
    border-radius: 0.62rem;

}



.coverBox {
    height: 100%;
    top: 18rem;

}





.boxCampaign {
    top: 28.5rem;
    width: 100%;
    height: 47.2rem;
}

.boxExplanation {
    width: 21.5rem;
    height: 17.15rem;
    left: 15.4rem;
    border-radius: 1rem;
    border: 0.07rem solid rgb(24, 24, 24);

}



.boxExplanation .title {
    font-size: clamp(1.6rem, 2.25rem, 10rem);
    letter-spacing: -0.1rem;
    line-height: 1.2;
    top: -1.5rem;
    left: 35%;


}


.boxCampaignExplanation {
    top: 4rem;
    left: 2.5%;
    width: 95%;
    height: 12.55rem;
    border-radius: 0.7rem;

}


.boxCampaignExplanation .subtitle {
    width: 90%;
    font-size: clamp(0rem, 0.47rem, 10rem);
    line-height: 1;
    top: 9.1rem;
    left: 50%;

}

.boxCampaignExplanation .button {
    top: 10.45rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: clamp(0rem, 0.55rem, 10rem);
    padding: 0.3rem 1.25rem;
    border-radius: 0.62rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    width: 95%;
    top: 0.55rem;
    border-radius: 0.55rem;

}



}



@media (max-width: 750px) {


.container {
    height: 102rem;
}

.video {
    width: 100%;
    height: 49.5%;
    object-fit: cover;
    position: absolute;
    top: -2.5rem;
    left: 0;
    z-index: -1;
    filter: hue-rotate(300deg) brightness(1.5);
}


.title {
    top: 10.3rem;
    font-size: clamp(2rem, 5.3rem, 15rem);
    width: 30%;
    left: 32%;
    text-align: left;
    letter-spacing: -0.3rem;


}

.subtitle {
    width: 54.5%;
    font-size: clamp(0rem, 0.9rem, 10rem);
    left: -35%;
    top: 29.5rem;

}

.shop {
    top: 23rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    padding: 0.75rem 4.6rem;
    border-radius: 1.3rem;
    left: -21rem;
}

.line {
    display: none;
    top: 8.8rem;
    left: 27.3rem;
    width: 0.2rem;
    height: 8.5rem;


}

.secondBox {
    top: 7.5rem;
    width: 65.9rem;
}

.commercial {
    width: 35rem;
    height: 23.75rem;
    top: 69.5rem;
    right: 15.5rem;
    border-radius: 1rem;
    border: 0.07rem solid rgb(24, 24, 24);



}

.overflow {
    height: 17.5rem;

}

.overflow .phoneCommercial {
    border-radius: 0.6rem;
    top:0.6rem;
}



.commercial .commercialTitle {
    right: 5rem;
    top: 7.5rem;
    font-size: clamp(2rem, 2.8rem, 15rem);
    width: 80%;
    line-height: 0.9;
    letter-spacing: -0.1rem;
    text-align: left;

}

.commercial .commercialSubtitle {
    top: 16.3rem;
    right: 4%;
    font-size: clamp(0rem, 1rem, 15rem);
    width: 90%;
    text-align: left;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    top: 2rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    padding: 0.6rem 2.7rem;
    border-radius: 1.1rem;

}



.coverBox {
    height: 100%;
    top: 34.5rem;

}





.boxCampaign {
    top: 45.5rem;
    width: 100%;
    height: 47.2rem;
}

.boxExplanation {
    width: 35rem;
    height: 30rem;
    left: 15.4rem;
    border-radius: 1rem;
    border: 0.07rem solid rgb(24, 24, 24);

}



.boxExplanation .title {
    font-size: clamp(1.6rem, 3.3rem, 10rem);
    letter-spacing: -0.1rem;
    line-height: 1.2;
    top: -2.5rem;
    font-family: "PoppinsMedium";
    left: 38%;


}


.boxCampaignExplanation {
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    height: 28.8rem;
    border-radius: 0.7rem;

}


.boxCampaignExplanation .subtitle {
    width: 90%;
    font-size: clamp(0rem, 1.2rem, 10rem);
    font-family: "PoppinsRegular";
    line-height: 1;
    top: 20.6rem;
    text-align: left;
    left: 50%;

}

.boxCampaignExplanation .button {
    top: 24.45rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: clamp(0rem, 1rem, 10rem);
    padding: 0.6rem 2.5rem;
    border-radius: 1.1rem;


}

.boxCampaignExplanation .campaignPhoto {
    height: 50%;
    width: 95%;
    top: 5rem;
    border-radius: 0.55rem;

}



}


@media (max-width: 599px) {}






@media (max-width: 480px) {


}
