body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 100rem;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;

}

.box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 0.4rem;
    left: 28rem;
    width: 48rem;
    height: 29.6rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;


}

.secondBox {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    width: 100rem;
    z-index: 20;
}

.commercial {
    width: 45rem;
    height: 35rem;
    position: absolute;
    top: 38.5rem;
    right: 5.4rem;
    z-index: 5;
    background-color: #0f0f0f;
    border: 0.12rem solid rgb(24, 24, 24);
    border-radius: 2rem;



}

.overflow {
    height: 27rem;
    overflow: hidden;

}

.overflow .phoneCommercial {
    width: 95%;
    left: 2.5%;
    top: 1rem;
    position: relative;
    height: 90%;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(2) contrast(1.2);
    opacity: 0.6;
    display: block;
}



.commercial .commercialTitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    right: 3rem;
    top: 10rem;
    font-size: clamp(2rem, 5rem, 15rem);
    width: 80%;
    font-family: "PoppinsMedium";
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0.2rem;
}

.commercial .commercialSubtitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    top: 25rem;
    right: 5%;
    font-size: clamp(1rem, 1.3rem, 15rem);
    width: 90%;
    text-align: center;
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    position: relative;
    background-color: white;
    color: black;
    top: 2rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.commercial button:hover {
    background-color: rgb(62, 187, 62);
    color: white;
    transform: scale(1.05);
}


.coverBox {
    overflow: hidden;
    position: absolute;
    background: linear-gradient(to bottom,
            rgb(17, 17, 17) 1%,
            rgb(10, 10, 10) 3%,
            rgb(5, 5, 5) 5%,
            rgb(0, 0, 0) 7%);
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 33.5rem;

}


.coverTitle {
    display: none;
    color: rgba(255, 255, 255, 0.781);
    line-height: 0.9;
    font-size: clamp(0rem, 2.5rem, 5rem);
    width: 35%;
    position: absolute;
    margin-left: 25rem;
    padding: 2.5rem 5rem;
    text-align: center;

}

.circleBack1,
.circleBack2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
    background: radial-gradient(circle,
            #000000 0%,
            #000000 60%,
            rgba(121, 121, 121, 0.856) 85%,
            rgba(255, 255, 255, 0.671) 90%);
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
}

.circleBack1 {
    right: -30rem;
    top: -15rem;
}

.circleBack2 {
    left: -30rem;
    top: 35rem;
}

.line {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 13.65rem;
    left: 32rem;
    width: 0.5rem;
    height: 18rem;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.212);

}

.boxCampaign {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 28.5rem;
    left: 0rem;
    width: 100%;
    height: 47.2rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;

}

.boxExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 38.5rem;
    left: 5.4rem;
    border: 0.12rem solid rgb(24, 24, 24);
    width: 35.8rem;
    height: 35rem;
    z-index: 6;
    border-radius: 2rem;
    opacity: 1;
    background-color: #0f0f0f;
    transition: all 0.3s ease;
}

.boxExplanation:hover {
    transform: scale(1);
}

.boxCampaignExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 7rem;
    left: 2.5%;
    width: 95%;
    height: 27rem;
    z-index: 6;
    border-radius: 1.3rem;
    opacity: 1;
    background-color: #1a1a1a;
    overflow: hidden;
}


.module {
    margin-top: 33rem;


}

.video {
    width: 100%;
    height: 35%;
    object-fit: cover;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
    filter: hue-rotate(300deg) brightness(1.5);
}



.fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    pointer-events: none;
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9;
    pointer-events: none;
    backdrop-filter: blur(12px);
}

.titleBox {
    width: 100rem;
    left: 50%;
    position: absolute;
    z-index: 4;
    transform: translate(-50%, 0%);
}


.title {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    top: 15.5rem;
    font-size: clamp(2rem, 9rem, 15rem);
    width: 55%;
    font-family: "PoppinsRegular";
    left: -1.2%;
    padding: 0;
    line-height: 0.8;
    letter-spacing: -0.5rem;
    transform: translate(-50%, -50%);


}

.subtitle {
    color: rgba(255, 255, 255, 0.781);
    width: 70%;
    position: relative;
    font-size: clamp(0rem, 1.6rem, 10rem);
    line-height: 1.2;
    padding: 2.5rem 2rem;
    left: 40%;
    top: 45%;
    text-align: left;
    hyphens: auto;
    justify-content: center;
    transform: translate(-50%, -50%);

}

.shop {
    position: absolute;
    top: 12.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(0rem, 1.2rem, 10rem);
    padding: 0.8rem 3.5rem;
    border-radius: 1.5rem;
    left: 7.5rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform: scale(1.05);
    background-color: #2962FF;
    color: white;
}

.shop:active {
    transform: scale(1.05);
    background-color: #9cb6fc;
    color: white;
}


.boxExplanation .title {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    font-size: clamp(1.6rem, 4.1rem, 10rem);
    letter-spacing: -0.2rem;
    line-height: 1.2;
    text-align: center;
    top: -0.5rem;
    left: 45.5%;
    padding: 2.5rem 2rem;

}

.boxCampaignExplanation .subtitle {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    width: 90%;
    font-size: clamp(0rem, 0.97rem, 10rem);
    line-height: 1;
    text-align: center;
    top: 19.3rem;
    left: 50%;
    padding: 2.5rem 0rem;
    hyphens: auto;
    justify-content: center;
}

.boxCampaignExplanation .button {
    position: absolute;
    background-color: white;
    color: black;
    top: 22rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;

}


.boxCampaignExplanation .button:hover {
    transform: translateX(-50%) scale(1.05);
    background-color: rgb(255, 140, 0);
    color: white;
}

.boxCampaignExplanation .button:active {
    transform: translateX(-50%) scale(1.05);
    background-color: rgb(255, 178, 85);
    color: white;
}


.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    object-fit: cover;
    width: 95%;
    top: 1rem;
    position: relative;
    object-fit: cover;
    border-radius: 1.5rem;
    display: block;

}





@media (max-width: 1900px) {}





@media (max-width: 1540px) {


.container {
    height: 85rem;
}


.secondBox {
    top: 10rem;
    width: 85.9rem;
}

.commercial {
    width: 37.5rem;
    height: 29.5rem;
    top: 38.5rem;
    right: 5.4rem;
    border-radius: 1.5rem;



}

.overflow {
    height: 22rem;

}

.overflow .phoneCommercial {
    border-radius: 1rem;
}



.commercial .commercialTitle {
    right: 2.5rem;
    top: 8.1rem;
    font-size: clamp(2rem, 4.1rem, 15rem);
    width: 80%;
    line-height: 0.9;
    letter-spacing: -0.15rem;
}

.commercial .commercialSubtitle {
    top: 20.5rem;
    right: 5%;
    font-size: clamp(1rem, 1.1rem, 15rem);
    width: 90%;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    top: 1.8rem;
    font-size: clamp(1rem, 1.15rem, 10rem);
    padding: 0.7rem 2.8rem;
    border-radius: 1.4rem;

}



.coverBox {
    height: 100%;
    top: 28rem;

}



.circleBack1,
.circleBack2 {
    height: 87rem;
    width: 87rem;
    border-radius: 50%;
}

.circleBack1 {
    right: -40rem;
    top: -15rem;
}

.circleBack2 {
    left: -40rem;
    top: 35rem;
}

.line {
    top: 11.5rem;
    left: 29.7rem;
    width: 0.4rem;
    height: 15rem;


}

.boxCampaign {
    top: 28.5rem;
    width: 100%;
    height: 47.2rem;
}

.boxExplanation {
    width: 29.5rem;
    height: 29.5rem;
    border-radius: 1.5rem;
}



.boxExplanation .title {
    font-size: clamp(1.6rem, 3.5rem, 10rem);
    letter-spacing: -0.2rem;
    line-height: 1.2;
    top: -0.5rem;
    left: 45%;

}


.boxCampaignExplanation {
    top: 6rem;
    left: 2.5%;
    width: 95%;
    height: 22.75rem;
    border-radius: 1.3rem;

}


.boxCampaignExplanation .subtitle {
    width: 90%;
    font-size: clamp(0rem, 0.8rem, 10rem);
    line-height: 1;
    top: 16.3rem;
    left: 50%;

}

.boxCampaignExplanation .button {
    top: 18.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: clamp(1rem, 1.1rem, 10rem);
    padding: 0.6rem 2.4rem;
    border-radius: 1.2rem;


}




.title {
    top: 13rem;
    font-size: clamp(2rem, 7.5rem, 15rem);
    width: 55%;
    left: -3.2%;
    letter-spacing: -0.5rem;


}

.subtitle {
    width: 62%;
    font-size: clamp(0rem, 1.4rem, 10rem);
    left: 26.5%;
    top: 13.7rem;

}

.shop {
    top: 11.3rem;
    font-size: clamp(0rem, 1.1rem, 10rem);
    padding: 0.7rem 3.1rem;
    border-radius: 1.5rem;
    left: 4.8rem;
}





}




@media (max-width: 1200px) {}



@media (max-width: 992px) {}

@media (max-width: 768px) {}


@media (max-width: 599px) {}






@media (max-width: 480px) {


}

@media (max-width: 360px) {

.container {
    height: 100rem;
}

.secondBox {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100rem;
    z-index: 20;
}

.commercial {
    width: 45rem;
    height: 35rem;
    position: absolute;
    top: 38.5rem;
    right: 5.4rem;
    z-index: 5;
    background-color: #0f0f0f;
    border: 0.12rem solid rgb(24, 24, 24);
    border-radius: 2rem;



}

.overflow {
    height: 27rem;
    overflow: hidden;

}

.overflow .phoneCommercial {
    width: 95%;
    left: 2.5%;
    top: 1rem;
    position: relative;
    height: 90%;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(2) contrast(1.2);
    opacity: 0.6;
    display: block;
}



.commercial .commercialTitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    right: 3rem;
    top: 10rem;
    font-size: clamp(2rem, 5rem, 15rem);
    width: 80%;
    font-family: "PoppinsMedium";
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0.2rem;
}

.commercial .commercialSubtitle {
    text-align: right;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 11;
    top: 25rem;
    right: 5%;
    font-size: clamp(1rem, 1.3rem, 15rem);
    width: 90%;
    text-align: center;
    padding: 0;
    line-height: 0.9;
    letter-spacing: -0rem;
}

.commercial button {
    position: relative;
    background-color: white;
    color: black;
    top: 2rem;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.commercial button:hover {
    background-color: rgb(62, 187, 62);
    color: white;
    transform: scale(1.05);
}


.coverBox {
    overflow: hidden;
    position: absolute;
    background: linear-gradient(to bottom,
            rgb(17, 17, 17) 1%,
            rgb(10, 10, 10) 3%,
            rgb(5, 5, 5) 5%,
            rgb(0, 0, 0) 7%);
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 33.5rem;

}


.coverTitle {
    display: none;
    color: rgba(255, 255, 255, 0.781);
    line-height: 0.9;
    font-size: clamp(0rem, 2.5rem, 5rem);
    width: 35%;
    position: absolute;
    margin-left: 25rem;
    padding: 2.5rem 5rem;
    text-align: center;

}

.circleBack1,
.circleBack2 {
    position: absolute;
    height: 90rem;
    width: 90rem;
    background: radial-gradient(circle,
            #000000 0%,
            #000000 60%,
            rgba(121, 121, 121, 0.856) 85%,
            rgba(255, 255, 255, 0.671) 90%);
    filter: blur(30px);
    z-index: -1;
    border-radius: 50%;
}

.circleBack1 {
    right: -30rem;
    top: -15rem;
}

.circleBack2 {
    left: -30rem;
    top: 35rem;
}

.line {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 21rem;
    left: 16.5rem;
    width: 16.6rem;
    height: 0.3rem;
    border-radius: 1rem;
    z-index: 6;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.212);

}

.boxCampaign {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 28.5rem;
    left: 0rem;
    width: 100%;
    height: 27.2rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;

}

.boxExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 38.5rem;
    left: 5.4rem;
    border: 0.12rem solid rgb(24, 24, 24);
    width: 35.8rem;
    height: 35rem;
    z-index: 6;
    border-radius: 2rem;
    opacity: 1;
    background-color: #0f0f0f;
    transition: all 0.3s ease;
}

.boxExplanation:hover {
    transform: scale(1);
}

.boxCampaignExplanation {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 7rem;
    left: 2.5%;
    width: 95%;
    height: 27rem;
    z-index: 6;
    border-radius: 1.3rem;
    opacity: 1;
    background-color: #1a1a1a;
    overflow: hidden;
}


.module {
    margin-top: 33rem;


}

.video {
    width: 100%;
    height: 35%;
    object-fit: cover;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
    filter: hue-rotate(300deg) brightness(1.5);
}



.fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    pointer-events: none;
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9;
    pointer-events: none;
    backdrop-filter: blur(12px);
}

.titleBox {
    width: 50rem;
    left: 50%;
    position: absolute;
    z-index: 4;
    transform: translate(-50%, 0%);
}


.title {
    text-align: left;
    top: 15.5rem;
    font-size: clamp(2rem, 3.2rem, 15rem);
    width: 35%;
    left: 32%;
    letter-spacing: -0.2rem;
    transform: translate(-50%, -50%);


}

.subtitle {
    width: 34.5%;
    font-size: clamp(0rem, 0.7rem, 10rem);
    left: -37.2%;
    top: 108.5%;


}

.shop {
    top: 25rem;
    font-size: clamp(0rem, 0.72rem, 10rem);
    padding: 0.4rem 1.8rem;
    border-radius: 0.85rem;
    left: -25.9%;

}


.boxExplanation .title {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    font-size: clamp(1.6rem, 4.1rem, 10rem);
    letter-spacing: -0.2rem;
    line-height: 1.2;
    text-align: center;
    top: -0.5rem;
    left: 45.5%;
    padding: 2.5rem 2rem;

}

.boxCampaignExplanation .subtitle {
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    width: 90%;
    font-size: clamp(0rem, 0.97rem, 10rem);
    line-height: 1;
    text-align: center;
    top: 19.3rem;
    left: 50%;
    padding: 2.5rem 0rem;
    hyphens: auto;
    justify-content: center;
}

.boxCampaignExplanation .button {
    position: absolute;
    background-color: white;
    color: black;
    top: 22rem;
    left: 27%;
    font-family: "PoppinsLight";
    font-size: clamp(1rem, 1.2rem, 10rem);
    padding: 0.7rem 3rem;
    border-radius: 1.4rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;

}


.boxCampaignExplanation .button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 140, 0);
    color: white;
}

.boxCampaignExplanation .button:active {
    transform: scale(1.05);
    background-color: rgb(255, 178, 85);
    color: white;
}


.boxCampaignExplanation .campaignPhoto {
    height: 65%;
    object-fit: cover;
    width: 95%;
    top: 1rem;
    position: relative;
    object-fit: cover;
    border-radius: 1.5rem;
    display: block;

}

}