body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 59.1rem;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;

}

.box {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-top: 26rem;
    right:32rem;
    margin-left: -3vw;
    width: 48rem;
    height: 29.6rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;
    background: linear-gradient(
     13deg,
     rgba(0, 0, 0, 0.445), 
     rgba(19, 19, 19, 0.445), 
     rgba(255, 255, 255, 0.116), 
     rgba(19, 19, 19, 0.445), 
    rgba(0, 0, 0, 0.445)
   );
    backdrop-filter: blur(12px);

}

.boxCampaign {
    overflow-y: hidden;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    margin-top: 8.5rem;
    left:-2.3rem;
    margin-left:48vw;
    width: 62rem;
    height: 47.2rem;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;
    background: linear-gradient(
     13deg,
     rgba(0, 0, 0, 0.445), 
     rgba(19, 19, 19, 0.445), 
     rgba(255, 255, 255, 0.116), 
     rgba(19, 19, 19, 0.445), 
    rgba(0, 0, 0, 0.445)
   );
    backdrop-filter: blur(12px);    
}


.module {
    margin-top: 33rem;
    

}


.fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; 
  z-index: 3;
  pointer-events: none;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  z-index: 9;
  pointer-events: none;
  backdrop-filter: blur(12px);
}


.title{
    text-align: center;
    position:absolute;
    color:white;
    z-index: 11;
    bottom: 30.5rem;
    font-size: clamp(2rem, 9.6rem, 11.875rem);
    font-family: "PoppinsLight";
    left:48vw;
    margin-left:-53rem;
    letter-spacing: -0.6rem;

}

.subtitle {
    color:rgba(255, 255, 255, 0.781);
    width:80%;
    font-size: clamp(2.1rem, 5vw, 0.625rem);
    line-height: 1.2;
    text-align: left;
    padding: 2.5rem 2rem;
    justify-content: center;
}

.shop {
    position: absolute;
    margin-top:19.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(1.8rem, 5vw, 0.625rem);
    padding:1rem 4rem;
    border-radius: 5rem;
    left:5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform:scale(1.05);
    background-color: #2962FF;
    color:white;
}

.shop:active {
    transform:scale(1.05);
    background-color: #9cb6fc;
    color:white;
}



.boxCampaign .title {
    text-align: center;
    position:absolute;
    color:rgba(255, 255, 255, 0.781);
    z-index: 11;
    bottom: 35.5rem;
    text-align: left;
    font-size: clamp(2rem, 3.6rem, 11.875rem);
    font-family: "PoppinsLight";
    left: 0vw;
    margin-left:5rem;
    letter-spacing: 0rem;   
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(1.6rem, 5vw, 0.625rem);
    line-height: 1.2;
    text-align: center;
    top:30rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    position: absolute;
    margin-top:39.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(1.6rem, 5vw, 0.625rem);
    padding:0.7rem 3rem;
    border-radius: 5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;   
}


.boxCampaign button:hover {
    transform:scale(1.05);
    background-color: rgb(255, 140, 0);
    color:white;
}

.boxCampaign button:active {
    transform:scale(1.05);
    background-color: rgb(255, 178, 85);
    color:white;
}



@media (max-width: 1900px) {
  .container {
    height: 55rem;
} 

.box {
    top:-4rem;
    right:6.5rem;
    margin-right: 40vw;
    width: 37%;
    height: 40%;
    z-index: 6;
    border-radius: 4rem;
    overflow-x: hidden;

}


.title{
    bottom: 30.8rem;
    font-size: clamp(2.3rem, 6.5vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-5.2rem;
    left:11.5vw;

}

.subtitle {
    font-size: clamp(1.45rem, 5vw, 0.625rem);
    padding: 2rem 0.5rem;
}

.shop {
    margin-top:13.3rem;
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding:0.7rem 2rem;
    border-radius: 5rem;
    left:0.6rem;
    margin-left:3vw;
    color:black;
}

.boxCampaign {
    margin-top: 11.2rem;
    left:8.2rem;
    margin-left:44vw;
    width: 42.5%;
    height: 60%;
    border-radius: 4rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 24.7rem;
    font-size: clamp(1rem, 2.6vw, 11.875rem);
    margin-left:3.5rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:85%;
    font-size: clamp(1rem, 1.3rem, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:17rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:26.5rem;
    color:black;
    font-size: clamp(1.1rem, 5vw, 0.625rem);
    padding:0.4rem 1.5rem;
    border-radius: 5rem;
}

  
}





@media (max-width: 1440px) {
 .container {
    height: 45rem;
} 

.box {
    top:-5.68rem;
    right:4.5rem;
    margin-right: 40vw;
    width: 37%;
    height: 35%;
    z-index: 6;
    border-radius: 4rem;
    overflow-x: hidden;

}


.title{
    bottom: 23.3rem;
    font-size: clamp(2.3rem, 6.5vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-3.3rem;
    left:11.7vw;

}

.subtitle {
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding: 1rem 0.5rem;
}

.shop {
    margin-top:10.3rem;
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
    left:0.6rem;
    margin-left:3vw;
    color:black;
}

.boxCampaign {
    margin-top: 13.54rem;
    left:5.9rem;
    margin-left:44vw;
    width: 42.5%;
    height: 50%;
    border-radius: 4rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 16.4rem;
    font-size: clamp(1rem, 2.6vw, 11.875rem);
    margin-left:3rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:85%;
    font-size: clamp(0.9rem, 1rem, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:11rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:18.5rem;
    color:black;
    font-size: clamp(1.1rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
}


}




@media (max-width: 1200px) {

 .container {
    height: 45rem;
} 

.box {
    top:-10rem;
    right:2.5rem;
    margin-right: 40vw;
    width: 45%;
    height: 35%;
    z-index: 6;
    border-radius: 4rem;
    overflow-x: hidden;

}


.title{
    bottom: 27.6rem;
    font-size: clamp(2.5rem, 7vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-2.3rem;
    left:11vw;

}

.subtitle {
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding: 1rem 0.5rem;
}

.shop {
    margin-top:10.3rem;
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
    left:0.6rem;
    margin-left:3vw;
    color:black;
}

.boxCampaign {
    margin-top: 9.35rem;
    left:4.6rem;
    margin-left:44vw;
    width: 45%;
    height: 50%;
    border-radius: 4rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 16.1rem;
    font-size: clamp(1.3rem, 3.2vw, 11.875rem);
    margin-left:2.5rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:85%;
    font-size: clamp(0.9rem, 1rem, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:10.4rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:18.2rem;
    color:black;
    font-size: clamp(1.1rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
}

}



@media (max-width: 992px) {

 .container {
    height: 34rem;
} 

.box {
    top:-13.68rem;
    right:1.5rem;
    margin-right: 40vw;
    width: 40%;
    height: 40%;
    z-index: 6;
    border-radius: 3rem;
    overflow-x: hidden;

}


.title{
    bottom: 20.5rem;
    font-size: clamp(2rem, 6vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-2rem;
    left:14.5vw;

}

.subtitle {
    font-size: clamp(1rem, 5vw, 0.625rem);
    padding: 1rem 0.5rem;
}

.shop {
    margin-top:9.5rem;
    font-size: clamp(1rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
    left:0.1rem;
    margin-left:3vw;
    color:black;
}

.boxCampaign {
    margin-top: 5.7rem;
    left:4.5rem;
    margin-left:44vw;
    width: 40%;
    height: 60%;
    border-radius: 3rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 15rem;
    font-size: clamp(1.4rem, 3vw, 11.875rem);
    margin-left:2.2rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:85%;
    font-size: clamp(0.65rem, 0.85rem, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:8.4rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:16.4rem;
    color:black;
    font-size: clamp(0.75rem, 5vw, 0.625rem);
    padding:0.3rem 0.8rem;
    border-radius: 5rem;
}


}

@media (max-width: 768px) {

 .container {
    height: 60rem;
} 

.box {
    top:-13rem;
    right:-0.95rem;
    width: 70%;
    margin-right: 0vw;
    height: 29%;
    z-index: 6;
    border-radius: 2rem;
    overflow-x: hidden;

}


.title{
    bottom: 46rem;
    font-size: clamp(3rem, 9vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-1.5rem;
    left:33vw;

}

.subtitle {
    font-size: clamp(1.2rem, 5vw, 0.625rem);
    padding: 2rem 0.5rem;
}

.shop {
    margin-top:11.6rem;
    font-size: clamp(1.1rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
    left:-1rem;
    margin-left:10vw;
    color:black;
}

.boxCampaign {
    margin-top: 31.5rem;
    left:0.8rem;
    margin-left:14vw;
    width: 70%;
    height: 45%;
    border-radius: 2rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 20.6rem;
    font-size: clamp(1.7rem, 3vw, 11.875rem);
    margin-left:2.5rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(1.1rem, 2.7vw, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:15rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:23.4rem;
    color:black;
    font-size: clamp(1.1rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
}


}


@media (max-width: 599px) {

 .container {
    height: 44rem;
} 

.box {
    top:-15rem;
    right:-0.6rem;
    width: 80%;
    margin-right: 0vw;
    height: 28%;
    z-index: 6;
    border-radius: 2rem;
    overflow-x: hidden;

}


.title{
    bottom: 32.3rem;
    font-size: clamp(2.6rem, 8vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-1.5rem;
    left:35vw;

}

.subtitle {
    font-size: clamp(1rem, 5vw, 0.625rem);
    padding: 0.5rem 0.5rem;
}

.shop {
    margin-top:8.2rem;
    font-size: clamp(0.9rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
    left:-0.7rem;
    margin-left:10vw;
    color:black;
}

.boxCampaign {
    margin-top: 24.5rem;
    left:-0.2rem;
    margin-left:11vw;
    width: 80%;
    height: 40%;
    border-radius: 2rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 13.3rem;
    font-size: clamp(1.4rem, 3vw, 11.875rem);
    margin-left:2.2rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(0.9rem, 2.7vw, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:7.1rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:14.5rem;
    color:black;
    font-size: clamp(0.9rem, 5vw, 0.625rem);
    padding:0.4rem 1rem;
    border-radius: 5rem;
}


}






@media (max-width: 	480px) {

 .container {
    height: 42rem;
} 

.box {
    margin-right: 0vw;
    top:-15rem;
    right:-0.5rem;
    width: 80%;
    height: 26%;
    z-index: 6;
    border-radius: 2rem;
    overflow-x: hidden;

}


.title{
    bottom: 30.5rem;
    font-size: clamp(2.3rem, 8vw, 11.875rem);
    letter-spacing: 0rem;
    margin-left:-5.3rem;
    left:50vw;

}

.subtitle {
    font-size: clamp(0.85rem, 5vw, 0.625rem);
    padding: 0.5rem 0.5rem;
}

.shop {
    margin-top:7.5rem;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
    left:-0.5rem;
    margin-left:10vw;
    color:black;
}

.boxCampaign {
    margin-top: 22.5rem;
    left:-0.2rem;
    margin-left:11vw;
    width: 80%;
    height: 40%;
    border-radius: 2rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 12.8rem;
    font-size: clamp(1.2rem, 3vw, 11.875rem);
    margin-left:1.8rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(0.7rem, 2.7vw, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:6.9rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:13.3rem;
    color:black;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
}

}

@media (max-width: 	360px) {
 .container {
    height: 41rem;
} 

.box {
    margin-right: 0vw;
    top:-15rem;
    right:-0.3rem;
    width: 80%;
    height: 26%;
    z-index: 6;
    border-radius: 2rem;
    overflow-x: hidden;

}


.title{
    bottom: 30rem;
    font-size: clamp(2rem, 8vw, 11.875rem);
    margin-left:-6.7rem;
    left:60vw;
    letter-spacing: 0rem;

}

.subtitle {
    font-size: clamp(0.8rem, 5vw, 0.625rem);
    padding: 0.5rem 0.5rem;
}

.shop {
    margin-top:7.5rem;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
    left:-0.5rem;
    margin-left:10vw;
}

.boxCampaign {
    margin-top: 22.5rem;
    left:0.8rem;
    margin-left:6vw;
    width: 80%;
    height: 34%;
    border-radius: 2rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 10rem;
    font-size: clamp(1.2rem, 3vw, 11.875rem);
    margin-left:1.5rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(0.6rem, 3vw, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:5.7rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:11.3rem;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
}

}