body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;

}

.box {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-top: 26rem;
    right:34rem;
    width: 40%;
    height: 50%;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;
    background: linear-gradient(
     13deg,
     rgba(0, 0, 0, 0.445), 
     rgba(19, 19, 19, 0.445), 
     rgba(255, 255, 255, 0.116), 
     rgba(19, 19, 19, 0.445), 
    rgba(0, 0, 0, 0.445)
   );
    backdrop-filter: blur(12px);

}

.boxCampaign {
    overflow-y: hidden;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    margin-top: 8.5rem;
    left:55.3rem;
    width: 52%;
    height: 80%;
    z-index: 6;
    border-radius: 7rem;
    opacity: 1;
    background: linear-gradient(
     13deg,
     rgba(0, 0, 0, 0.445), 
     rgba(19, 19, 19, 0.445), 
     rgba(255, 255, 255, 0.116), 
     rgba(19, 19, 19, 0.445), 
    rgba(0, 0, 0, 0.445)
   );
    backdrop-filter: blur(12px);    
}


.module {
    margin-top: 33rem;
    

}


.fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; 
  z-index: 3;
  pointer-events: none;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  z-index: 9;
  pointer-events: none;
  backdrop-filter: blur(12px);
}


.title{
    text-align: center;
    position:absolute;
    color:white;
    z-index: 11;
    bottom: 30.5rem;
    font-size: clamp(2rem, 8vw, 11.875rem);
    font-family: "PoppinsLight";
    margin-left:3%;
    letter-spacing: -0.6rem;

}

.subtitle {
    color:rgba(255, 255, 255, 0.781);
    width:80%;
    font-size: clamp(2.1rem, 5vw, 0.625rem);
    line-height: 1.2;
    text-align: left;
    padding: 2.5rem 2rem;
    justify-content: center;
}

.shop {
    position: absolute;
    margin-top:19.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(1.8rem, 5vw, 0.625rem);
    padding:1rem 4rem;
    border-radius: 5rem;
    left:5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform:scale(1.05);
    background-color: #2962FF;
    color:white;
}

.shop:active {
    transform:scale(1.05);
    background-color: #9cb6fc;
    color:white;
}



.boxCampaign .title {
    text-align: center;
    position:absolute;
    color:white;
    z-index: 11;
    bottom: 35.5rem;
    text-align: left;
    font-size: clamp(2rem, 3vw, 11.875rem);
    font-family: "PoppinsLight";
    left: 3rem;
    letter-spacing: 0rem;   
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(1.6rem, 5vw, 0.625rem);
    line-height: 1.2;
    text-align: center;
    top:30rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    position: absolute;
    margin-top:39.5rem;
    font-family: "PoppinsLight";
    font-size: clamp(1.6rem, 5vw, 0.625rem);
    padding:0.7rem 3rem;
    border-radius: 5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;   
}


.boxCampaign button:hover {
    transform:scale(1.05);
    background-color: rgb(255, 140, 0);
    color:white;
}

.boxCampaign button:active {
    transform:scale(1.05);
    background-color: rgb(255, 178, 85);
    color:white;
}

@media (max-width: 1800px) {}

@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 599px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {}

@media (max-width: 	360px) {
 .container {
    height: 41rem;
} 

.box {
    top:-15rem;
    right:0rem;
    width: 80%;
    height: 26%;
    z-index: 6;
    border-radius: 2rem;
    overflow-x: hidden;

}


.title{
    bottom: 30rem;
    font-size: clamp(2rem, 8vw, 11.875rem);
    margin-left:4.5rem;
    letter-spacing: 0rem;

}

.subtitle {
    font-size: clamp(0.8rem, 5vw, 0.625rem);
    padding: 0.5rem 0.5rem;
}

.shop {
    margin-top:7.5rem;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
    left:1.2rem;
}

.boxCampaign {
    margin-top: 22.5rem;
    left:1.9rem;
    width: 80%;
    height: 34%;
    border-radius: 2rem;
    overflow-x: hidden;

}


.boxCampaign .title {
    bottom: 9.9rem;
    font-size: clamp(1.2rem, 3vw, 11.875rem);
    left: -3.3rem;
}

.boxCampaign .subtitle {
    color:rgba(255, 255, 255, 0.781);
    position: absolute;
    width:90%;
    font-size: clamp(0.6rem, 3vw, 11.875rem);
    line-height: 1.2;
    text-align: center;
    top:5.7rem;
    padding: 2.5rem 2rem;
    justify-content: center;    
}

.boxCampaign button {
    margin-top:11.3rem;
    font-size: clamp(0.7rem, 5vw, 0.625rem);
    padding:0.3rem 1rem;
    border-radius: 5rem;
}

}