html,body {
    margin: 0px;
    font-family: 'PoppinsLight';
    text-align: center;
    overflow-x: hidden;

}

.container {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left: 12.5rem;
    

}

.highcontainer {
    background-color: rgb(211, 211, 211);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left: 12.5rem;
        
}


#campaign{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#campaign:hover{
    position: relative;
    display: block;
    justify-content: center;
    background-color: rgb(255, 140, 0);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}




#about{
    padding: 4.5px 30px;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#about:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: #9b59b6;
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;

}


#contact{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#contact:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(62, 187, 62);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}







#login{
    border-radius: 2rem;
    padding: 5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#login:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(54, 90, 250);
    border-radius: 2rem;
    padding: 5px 30px;
    cursor: pointer;
}



#name {
    padding: 0.3rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    list-style: none; 
    padding-top: 0.3rem;
    padding-right: 24rem;
}

.navbar {
    position: relative;
    display: flex;
    gap:5rem;
    list-style: none;

}



a {
    text-decoration: none;
    color: white;

}


.highlight {
  color: #000000; 
  transition: color 0.3s ease;
}

.highlight:hover {
    color:white;
}

#name.highlight:hover {
  color: black;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  top:-1.2rem;
  margin-left: -37rem;
  width: 13rem;
  padding: 0.3rem 2rem;
}

.search {
  z-index: 40;
  top:0.5rem;
  position:absolute;
  left:31rem;
    
}


@media (max-width: 1800px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-4.3rem;
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: 0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0rem;  
    position: absolute;
    left:-32.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:7rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.2rem;
  margin-left: -24rem;
  left:50.5vw;
  width: 13rem;
  padding: 0.3rem 2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.5rem;
  position: absolute;
  left:-9.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
    
}
}








@media (max-width: 1440px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-26.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:3.5rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.8rem;
  margin-left: -19rem;
  left:50.5vw;
  width: 12.4rem;
  padding: 0.3rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0rem;
  position: absolute;
  left:-5.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
    
}


}

@media (max-width: 1200px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-23.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:2.5rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.8rem;
  margin-left: -17rem;
  left:50.5vw;
  width: 12.4rem;
  padding: 0.3rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0rem;
  position: absolute;
  left:-3.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
    
}


}








@media (max-width: 992px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-18.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.8rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.9rem;
  top:-1.5rem;
  margin-left: -14rem;
  left:50.5vw;
  width: 11.4rem;
  padding: 0.2rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.1rem;
  position: absolute;
  left:-1.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 24px;
  width: 24px;
    
}



}








@media (max-width: 768px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-8rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-12.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.8rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:0.4rem;
  margin-left: -3.8rem;
  left:44.5vw;
  width: 13.4rem;
  padding: 0.2rem 1.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:2.1rem;
  position: absolute;
  left:11.5rem;
  padding-left:35.4vw;
  margin-left:5vw;
  height: 24px;
  width: 24px;
    
}

.highcontainer {
   padding-bottom: 2rem;
    
}


}










@media (max-width: 599px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-8rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 50.5vw;
    font-size: clamp(1.1rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1.1rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.1rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1.1rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-11rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.8rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.9rem;
  top:0.3rem;
  margin-left: -2.8rem;
  left:44.5vw;
  width: 11.4rem;
  padding: 0.2rem 1rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:2rem;
  position: absolute;
  left:10.5rem;
  padding-left:35.4vw;
  margin-left:5vw;
  height: 22px;
  width: 22px;
    
}

.highcontainer {
   padding-bottom: 2rem;
    
}



}









@media (max-width: 	480px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    padding-bottom: 0.5rem; 
}

#campaign{
    margin-left:-9.6rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 45.5vw;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:1rem;  
    position: absolute;
    left:-5.8rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:1rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.7rem;
  top:-0.1rem;
  margin-left: -1rem;
  left:54vw;
  width: 8.4rem;
  padding: 0.2rem 0.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:1rem;
  position: relative;
  left:-7.5rem;
  padding-left:3.4vw;
  margin-left:5vw;
  height: 19px;
  width: 19px;
    
}




}












@media (max-width: 	360px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    padding-bottom: 0.1rem; 
}

#campaign{

    margin-left:-8.5rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:55vw;

    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);
    
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:1rem;  

    left:-4.6rem;
    padding-left: 52vw;

    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}



.inputBar input {

  font-size: 0.5rem;
  top:-0.2rem;

  margin-left: -1.6rem;
  left:56vw;

  width: 6rem;
  padding: 0.2rem 1rem;
  padding-right: 1.6rem;
}

.search {
  position: relative;
  z-index: 40;

  top:0.8rem;
  left:-5.4rem;
  padding-left: 1vw;

  height: 18px;
  width: 18px;
    
}

}
