html,body {
    margin: 0px;
    font-family: 'PoppinsLight';
    text-align: center;
    overflow-x: hidden;

}



.container {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left:45vw ;
    margin-left:-41.5rem;
    

}

.highcontainer {
    background-color: rgb(240, 240, 240);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left:45vw ;
    margin-left:-41.5rem;
        
}


#campaign{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#campaign:hover{
    position: relative;
    display: block;
    justify-content: center;
    background-color: rgb(255, 140, 0);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}




#about{
    padding: 4.5px 30px;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#about:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: #9b59b6;
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;

}


#contact{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#contact:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(62, 187, 62);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}







#login{
    position: relative;
    border-radius: 2rem;
    padding: 5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    z-index: 10;
    cursor: pointer;

}

#login:hover{   
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(54, 90, 250);
    border-radius: 2rem;
    padding: 5px 30px;
    cursor: pointer;
}



.loginSection {
    transform: translateX(25rem);   
    z-index: 10;
    position: absolute;
    top: -55%; 
    left:-1rem;
    width: 45vw;
    height: 105vh;
    background: linear-gradient(
        135deg,
        #0d1b2a,
        #1b263b,
        #415a77,
        #0d1b2a
    );
    opacity: 1;
    cursor:auto;    
    transition: transform 0.3s ease;


}

.loginSection.open {
  transform: translateX(0);  
        
}

.title {
    position: absolute;
    font-family: "PoppinsMedium";
    font-weight: normal;
    width: 20vw;
    left:1vw;
    line-height: 1;
    font-size: clamp(0.9rem, 1.5vw, 2rem);
    text-align: left;
    top:17.7vw;
    margin-top:-2rem;
}

.subtitle {
    position: absolute;
    top:20vw;
    width: 40%;
    font-size: clamp(0.3rem, 0.8vw, 2.5rem);
    left:1vw;
    line-height: 1.1;
    text-align: left;
}

.signup {
    position: absolute;
    top:25vw;
    left:1vw;
    padding: 0.5rem clamp(0.1rem, 8vw, 9rem);
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color: rgb(54, 90, 250); 
    color: white;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.signup:hover {
    transform: scale(1.03);
}

.log {
    position: absolute;
    top:28vw;
    left:1vw;
    padding: 0.5rem clamp(0.1rem, 8.4vw, 9.5rem);
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.log:hover {
    transform: scale(1.03);    
}

#login:hover .loginSection {
    opacity: 1;
    transform: translateY(0); 
    pointer-events: auto;
}


.logName {
    cursor: pointer;
    position: absolute;
    top:1vw;
    background: linear-gradient(
        135deg,
        #0d1b2a,
        #1b263b,
        #415a77,
        #0d1b2a
    );
    width:19.5vw ;
    padding: 0.7rem ; 
    z-index: 2;
    font-family: "PoppinsRegular";
    font-size: clamp(1.5em, 1.5vw, 2rem);    
}

.pp {
    position: absolute;
    width: 30%;
    top:8vw;
    left:3.4vw;
}

.fullname {
    position: absolute;
    top:19vw;
    left:0.6vw;
    width: 23.1rem;  
    font-size: clamp(1.5em, 1.5vw, 2rem);
    
}

.username {
    position: absolute;
    top:22vw;
    width: 12.7rem;
    font-size: clamp(0.8em, 1.1vw, 2rem);
    left:4.5vw;    
}


.balance {
    position: absolute;
    top:24vw;
    background-color: white;
    color: black;
    width: 10.8vw;
    padding:0.7rem 2rem;
    font-family: "PoppinsRegular";
    border-radius: 2rem;
    font-size: clamp(0.8em, 1.2vw, 2rem);
    left:3.2vw;      
}

.purchaseHistory {
    background: linear-gradient(
        135deg,
        #0d1b2a,
        #415a77,
        #415a77,
        #0d1b2a
    );
    height: 10rem;
    position: relative;
    top:30vw;
    width: 22rem;
    left:1.4rem;
    border-radius: 2rem;

}

.purchaseText {
    position: absolute;
    top:0.8vw;
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    left:1.6vw; 
    line-height: 1.1;
    text-align: left;   

}

.purchaseButton{
    position: absolute;
    top:4.3vw;
    left:1.5vw;
    width: 5 .8vw;
    padding:0.5rem 1rem;
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color: #3B82F6;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;     
}

.purchaseButton:hover {
    transform: scale(1.02);
    background-color: #125fdb;
}

.view {
    position: absolute;
    top:40vw;
    left:1.9vw;
    width: 5.8vw;
    padding: 0.5rem clamp(0.1rem, 5.4vw, 9.5rem);
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color: #3B82F6;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;    
}


.edit {
    position: absolute;
    top:43vw;
    left:1.9vw;
    width: 5.8vw;
    padding: 0.5rem clamp(0.1rem, 5.4vw, 9.5rem);
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 2rem;
    transition: all 0.3s ease;    
}


.signout {
    position: absolute;
    top:46vw;
    left:1.9vw;
    width: 5.8vw;
    padding: 0.5rem clamp(0.1rem, 5.4vw, 9.5rem);
    font-size: clamp(0.3rem, 1vw, 2.5rem);
    background-color:  #EF4444;;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;      
}

.view:hover {
    transform: scale(1.03);
    background-color: #125fdb;    
}

.edit:hover {
    transform: scale(1.03);
    background-color: #E0F2FE;    
}

.signout:hover {
    transform: scale(1.03);
    background-color: #DC2626;
}


#name {
    padding: 0.3rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    list-style: none; 
    padding-top: 0.3rem;
    padding-right: 24rem;
}

.navbar {
    position: relative;
    display: flex;
    gap:5rem;
    list-style: none;

}



a {
    text-decoration: none;
    color: white;

}



.highlight {
  color: #000000; 
  transition: all 0.3s ease;
}

.highlight .signout {
    color: white;
    transition: all 0.3s ease;
}

.highlight .purchaseButton {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
 
}

.highlight .edit {
    transition: all 0.3s ease;
}

.highlight .edit:hover {
    color:black;
}

.highlight .view {
    color:white;
    transition: all 0.3s ease;
}


.highlight .purchaseButton:hover {
    color: rgb(255, 255, 255);
 
}

.highlight a {
  color: #000000; 
  transition: color 0.3s ease;    
}

.highlight .loginSection {
    color: white;

}

.highlight .signup {
    color:white;
    transition: all 0.3s ease;
}

.highlight .log {
    transition: all 0.3s ease;
}





.highlight:hover {
    color:white;
}

.highlight a:hover {
    color:white;
}

.highlight .log:hover {
    color: black;
}

#name.highlight:hover {
  color: black;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {
  flex: 1;
  z-index: 0;
  outline: none;
  font-size: 1rem;
  top:-0.1rem;
  border: 0.13rem solid rgb(211, 211, 211);
  margin-top:0.3vw;
  margin-left: -37rem;
  width: 13rem;
  padding: 0.3rem 2rem;
}

.search {
  z-index: 1;
  top:0.3rem;
  margin-top:0.2vw;
  position:absolute;
  left:31rem;
  fill:#757575ff;
    
}


.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loadingImage {
  position: absolute;
  left:21%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 1800px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-4.3rem;
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 3px 20px;
    margin-left: 46.4vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1.2rem;
    padding: 3px 20px;
}




#about{
    margin-top: 0.2rem;
    padding: 3px 20px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1.2rem;
    padding: 3px 20px;

}


#contact{
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 3px 20px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1.2rem;
    padding: 3px 20px;
}




#login{
    margin-top: 0.2rem;
    border-radius: 1rem;
    padding: 3px 20px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1.2rem;
    padding: 3px 20px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0rem;  
    position: absolute;
    left:-32.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:4rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.2rem;
  margin-left: -24rem;
  margin-top:1.4rem;
  left:50.5vw;
  width: 13rem;
  padding: 0.3rem 2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.6rem;
  position: absolute;
  left:-9.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
  margin-top:0vw;    
}
}








@media (max-width: 1440px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 10px;
    margin-left: 50.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 10px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 10px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 10px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 10px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 10px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 10px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 10px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-26.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:2rem;
}

.inputBar {
    
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.8rem;
  margin-left: -19rem;
  margin-top:1.5rem;
  left:50.5vw;
  width: 12.4rem;
  padding: 0.3rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.1rem;
  position: absolute;
  left:-5.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
  margin-top:0vw;      
}


}

@media (max-width: 1200px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    margin-left: 46.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 8px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 8px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-23.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:2.5rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:-1.8rem;
  margin-left: -17rem;
  left:50.5vw;
  margin-top:1.5rem;
  width: 12.4rem;
  padding: 0.3rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.1rem;
  position: absolute;
  left:-3.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 26px;
  width: 26px;
  margin-top:0vw;      
}


}








@media (max-width: 992px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-1.3rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    margin-left: 46.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 8px;
    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 8px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 8px;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 8px;

}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-20.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.8rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {
  margin-top:1.46rem;
  font-size: 0.9rem;
  top:-1.5rem;
  margin-left: -14rem;
  left:48.5vw;
  width: 11.4rem;
  padding: 0.2rem 1.2rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.2rem;
  position: absolute;
  left:-2.8rem;
  padding-left:45.4vw;
  margin-left:5vw;
  height: 24px;
  width: 24px;
  margin-top:0vw;      
}



}








@media (max-width: 768px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    margin-left:-2rem;
    padding-left: 0rem;
    width: 110%;
    
}

#campaign{
    margin-left:-8rem;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 5px;
    margin-left: 29.5vw;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 5px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 5px;

    border-radius: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 5px;


}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 5px;

    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 5px;

}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 5px;

    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 5px;


}



#name {
    padding: 0rem;
    font-size: clamp(1.2rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;  
    position: absolute;
    left:-12.5rem;
    padding-left:46vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.8rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 1rem;
  top:0.4rem;
  margin-left: -3.8rem;
  left:44.5vw;
  width: 13.4rem;
  padding: 0.2rem 1.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:2.25rem;
  position: absolute;
  left:11.8rem;
  padding-left:35.4vw;
  margin-left:5vw;
  height: 24px;
  width: 24px;
  margin-top:0vw;      
}

.highcontainer {
   padding-bottom: 2rem;
    
}


}










@media (max-width: 599px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    padding-bottom: 0.1rem; 
}

.board {
    border-radius: 0.4rem;
    left:-6rem;
    height: 1.38rem;
    padding:0rem 0.4rem;
    padding-right: 0.43rem;
    padding-bottom: 0.2rem;
    margin-left: 42vw;
    top: 0.405rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 19;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.board svg{
    height: 22px;
    width: 18px;
    margin-top: 0.1rem;
    fill: black;
}

.menu {
    border-radius: 0.4rem;
    background: linear-gradient(135deg,#333333e0, #0f0f0f93, #1a1a1a63, #333333c5);
    height: 7.4rem;
    padding-right:7rem;
    margin-left:44vw;
    position: absolute;
    left:-6.7rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.highmenu {
    border-radius: 0.4rem;
    background: linear-gradient(-100deg,#eeeeee, #e4e4e4, #f5f5f5, #ebebeb);
    height: 7.4rem;
    padding-right:7rem;
    margin-left:44vw;
    position: absolute;
    left:-6.7rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}





#campaign{
    margin-left:-0.1rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#campaign:hover{
    position: absolute;
    display: flex;
    margin-left:-0.1rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    cursor: pointer;
}







#about{
    margin-left:-0.1rem;
    margin-top: 2.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#about:hover{
    position: absolute;
    display: flex;
    margin-left:-0.1rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    cursor: pointer;

}


#contact{
    margin-left:-0.1rem;
    margin-top: 3.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#contact:hover{
    position: absolute;
    margin-left:-0.1rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    cursor: pointer;
}




#login{
    margin-left:-0.1rem;
    margin-top: 5.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    
}

#login:hover{
    position: absolute;
    margin-left:-0.1rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:3vw;
    cursor: pointer;

}



#name {
    padding: 0rem;
    position: absolute;
    font-size: clamp(1.3rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:-0.09rem;  

    left:-5.6rem;
    padding-left: 52vw;
    z-index: 10;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}





.inputBar input {

  font-size: 0.6rem;
  top:-1.15rem;

  margin-left: 0.6rem;
  left:56vw;

  width: 7.4rem;
  padding: 0.3rem 1rem;
  padding-right: 1.3rem;
}

.search {
  position: relative;
  z-index: 40;

  top:0.2rem;
  left:4.9rem;
  padding-left: 51vw;

  height: 19px;
  width: 19px;
  margin-top:-0.2vw;      
}



}









@media (max-width: 	480px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    padding-bottom: 0.1rem; 
}

.board {
    border-radius: 0.4rem;
    left:-6rem;
    height: 1.38rem;
    padding:0rem 0.4rem;
    padding-right: 0.43rem;
    padding-bottom: 0.2rem;
    margin-left: 42vw;
    top: 0.405rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 19;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.board svg{
    height: 22px;
    width: 18px;
    margin-top: 0.1rem;
    fill: black;
}

.menu {
    border-radius: 0.4rem;
    background: linear-gradient(135deg,#333333, #0f0f0f, #1a1a1a, #333333);
    height: 7.4rem;
    padding-right:7rem;
    margin-left:40vw;
    position: absolute;
    left:-5.5rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.highmenu {
    border-radius: 0.4rem;
    background: linear-gradient(-100deg,#eeeeee, #e4e4e4, #f5f5f5, #ebebeb);
    height: 7.4rem;
    padding-right:7rem;
    margin-left:40vw;
    position: absolute;
    left:-5.5rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}





#campaign{
    margin-left:-0.4rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#campaign:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;
}







#about{
    margin-left:-0.4rem;
    margin-top: 2.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#about:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;

}


#contact{
    margin-left:-0.4rem;
    margin-top: 3.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

}

#contact:hover{
    position: absolute;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;
}




#login{
    margin-left:-0.4rem;
    margin-top: 5.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    
}

#login:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;

}



#name {
    padding: 0rem;
    position: absolute;
    font-size: clamp(1.3rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:-0.09rem;  

    left:-5.6rem;
    padding-left: 52vw;
    z-index: 10;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}





.inputBar input {

  font-size: 0.6rem;
  top:-1.15rem;

  margin-left: 0.6rem;
  left:56vw;

  width: 7.4rem;
  padding: 0.3rem 1rem;
  padding-right: 1.3rem;
}

.search {
  position: relative;
  z-index: 0;

  top:0.2rem;
  left:4.9rem;
  padding-left: 51vw;

  height: 19px;
  width: 19px;
  margin-top:-0.3vw;      
}



.loginSection {
    top: -8rem; 
    left:9.5rem;
    width: 55vw;
    height: 145vh;
    overflow: hidden;
}

.logName {
    top:1vw;
    margin-left:-2.3rem;
    left:5vw;
    width:57vw;
    padding: 0.7rem;   
}


.title {
    width: 95%;
    left:0.3rem;
    font-size: clamp(0rem, 1rem, 2rem);
    top:13.7rem;
}

.subtitle {
    top:15rem;
    width: 95%;
    font-size: clamp(0.3rem, 0.8rem, 2.5rem);
    left:0.3rem;

}

.signup {
    top:22.5rem;
    margin-left:-3.5rem;
    left:17vw;
    padding: 0.3rem clamp(0.1rem, 17.5vw, 9rem);
    font-size: clamp(0.3rem, 0.9rem, 2.5rem);

}


.log {
    top:25rem;
    margin-left:-3.5rem;
    left:17vw;
    padding: 0.3rem clamp(0.1rem, 19vw, 9rem);
    font-size: clamp(0.3rem, 0.9rem, 2.5rem);
}


.pp {
    width: 70%;
    top:8rem;
    margin-left:-2.1rem;
    left:16vw;
}

.fullname {
    top:68vw;
    margin-left:-7.75rem;
    left:28vw;
    width: 15.1rem;  
    font-size: clamp(0rem, 5vw, 2rem);
    
}

.username {
    top:76vw;
    font-size: clamp(0.8rem, 3.2vw, 5rem);
    margin-left:-6.7rem;
    left:28vw; 
}


.balance {
    top:83vw;
    width: 30.5vw;
    white-space: nowrap;
    padding:0.4rem 1rem;
    border-radius: 2rem;
    font-size: clamp(0.8rem, 3.5vw, 5rem);
    margin-left:-2.2rem;
    left:17vw;     
}

.purchaseHistory {
    height: 7rem;
    top:100vw;
    width: 43vw;
    margin-left:-1.6rem;
    left:12vw;   
    border-radius: 1rem;

}

.purchaseText {
    top:0.8rem;
    font-size: clamp(0.3rem, 3vw, 2.5rem);
    left:3vw; 
 

}

.purchaseButton{
    top:4.5rem;
    left:1.5vw;
    padding:0.3rem 0.5rem;
    font-size: clamp(0.3rem, 3vw, 2.5rem);
    border-radius: 2rem;
  
}



.edit {
    top:138vw;
    margin-left:-1.5rem;
    left:10vw;
    width: 20vw;
    padding: 0.3rem clamp(0.1rem, 13vw, 9rem);
    font-size: clamp(0.3rem, 0.9rem, 2.5rem);
}


.signout {
    top:149vw;
    margin-left:-1.5rem;
    left:10vw;
    width: 20vw;
    padding: 0.3rem clamp(0.1rem, 13vw, 9rem);
    font-size: clamp(0.3rem, 0.9rem, 2.5rem);
}




}












@media (max-width: 	360px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    padding-bottom: 0.1rem; 
}

.board {
    border-radius: 0.4rem;
    left:-4.5rem;
    height: 1.38rem;
    padding:0rem 0.3rem;
    margin-left: 42vw;
    top: 0.468rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 19;

}

.board svg{
    height: 22px;
    width: 18px;
    margin-top: 0rem;
    fill: black;
}

.menu {
    border-radius: 0.4rem;
    background: linear-gradient(135deg,#333333e0, #0f0f0f93, #1a1a1a63, #333333c5);
    height: 7rem;
    padding-right:5rem;
    margin-left:40vw;
    position: absolute;
    left:-4.1rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.highmenu {
    border-radius: 0.4rem;
    background: linear-gradient(-100deg,#eeeeee, #e4e4e4, #f5f5f5, #ebebeb);
    height: 7rem;
    padding-right:5rem;
    margin-left:40vw;
    position: absolute;
    left:-4.1rem;
    top:1.3rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}





#campaign{
    margin-left:-0.4rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#campaign:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;
}







#about{
    margin-left:-0.4rem;
    margin-top: 2.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#about:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;

}


#contact{
    margin-left:-0.4rem;
    margin-top: 3.8rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#contact:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;
}




#login{
    margin-left:-0.4rem;
    margin-top: 5.3rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);
    
}

#login:hover{
    position: absolute;
    display: flex;
    margin-left:-0.4rem;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0);
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:5vw;
    cursor: pointer;

}



#name {
    padding: 0rem;
    position: absolute;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:0.1rem;  

    left:-4.2rem;
    padding-left: 52vw;
    z-index: 10;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}





.inputBar input {

  font-size: 0.5rem;
  top:-1.1rem;

  margin-left: 0.35rem;
  left:56vw;

  width: 6rem;
  padding: 0.3rem 1rem;
  padding-right: 1.6rem;    
}

.search {
  position: relative;
  z-index: 0;

  top:0.3rem;
  left:3.55rem;
  padding-left: 51vw;

  height: 18px;
  width: 18px;
  margin-top:-1vw;      
}

.loginSection {
    top: -8rem; 
    left:9.5rem;
    width: 55vw;
    height: 125vh;
    overflow: hidden;
}

.logName {
    top:1vw;
    margin-left:-2.3rem;
    left:7vw;
    width:47vw;
    padding: 0.7rem ;   
}


.title {
    width: 80%;
    left:0.3rem;
    font-size: clamp(0rem, 0.8rem, 2rem);
    top:14rem;
}

.subtitle {
    top:15rem;
    width: 70%;
    font-size: clamp(0.3rem, 0.6rem, 2.5rem);
    left:0.3rem;

}

.signup {
    top:21.5rem;
    margin-left:-3rem;
    left:17vw;
    padding: 0.3rem clamp(0.1rem, 14vw, 9rem);
    font-size: clamp(0.3rem, 0.7rem, 2.5rem);

}


.log {
    top:23.5rem;
    margin-left:-3rem;
    left:17vw;
    padding: 0.3rem clamp(0.1rem, 15.5vw, 9rem);
    font-size: clamp(0.3rem, 0.7rem, 2.5rem);
}


.pp {
    width: 60%;
    top:8.5rem;
    margin-left:-2rem;
    left:16vw;
}

.fullname {
    top:75vw;
    margin-left:-8.65rem;
    left:28vw;
    width: 15.1rem;  
    font-size: clamp(0rem, 4vw, 2rem);
    
}

.username {
    top:82vw;
    font-size: clamp(0.8em, 1.1vw, 2rem);
    margin-left:-7.5rem;
    left:28vw; 
}


.balance {
    top:90vw;
    width: 26vw;
    white-space: nowrap;
    padding:0.4rem 1rem;
    border-radius: 2rem;
    font-size: clamp(0.8em, 1.1vw, 2rem);
    margin-left:-2.5rem;
    left:17vw;     
}

.purchaseHistory {
    height: 7rem;
    top:105vw;
    width: 37vw;
    margin-left:-1.6rem;
    left:12vw;   
    border-radius: 1rem;

}

.purchaseText {
    top:0.8rem;
    font-size: clamp(0.3rem, 3vw, 2.5rem);
    left:3vw; 
 

}

.purchaseButton{
    top:4rem;
    left:1.5vw;
    padding:0.3rem 0.5rem;
    font-size: clamp(0.3rem, 3vw, 2.5rem);
    border-radius: 2rem;
  
}



.edit {
    top:145vw;
    margin-left:-1.5rem;
    left:10vw;
    width: 20vw;
    padding: 0.3rem clamp(0.1rem, 10vw, 9rem);
    font-size: clamp(0.3rem, 0.7rem, 2.5rem);
}


.signout {
    top:156vw;
    margin-left:-1.5rem;
    left:10vw;
    width: 20vw;
    padding: 0.3rem clamp(0.1rem, 10vw, 9rem);
    font-size: clamp(0.3rem, 0.7rem, 2.5rem);   
}




}
