html,body {
    margin: 0px;
    font-family: 'PoppinsLight';
    text-align: center;
    overflow-x: hidden;

}

.container {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left: 12.5rem;
    

}

.highcontainer {
    background-color: rgb(211, 211, 211);
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 10;
    padding-left: 12.5rem;
        
}


#campaign{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#campaign:hover{
    position: relative;
    display: block;
    justify-content: center;
    background-color: rgb(255, 140, 0);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}




#about{
    padding: 4.5px 30px;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#about:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: #9b59b6;
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;

}


#contact{
    border-radius: 2rem;
    padding: 4.5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#contact:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(62, 187, 62);
    border-radius: 2rem;
    padding: 4.5px 30px;
    cursor: pointer;
}







#login{
    border-radius: 2rem;
    padding: 5px 30px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;

}

#login:hover{
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(54, 90, 250);
    border-radius: 2rem;
    padding: 5px 30px;
    cursor: pointer;
}



#name {
    padding: 0.3rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    list-style: none; 
    padding-top: 0.3rem;
    padding-right: 24rem;
}

.navbar {
    position: relative;
    display: flex;
    gap:5rem;
    list-style: none;

}



a {
    text-decoration: none;
    color: white;

}


.highlight {
  color: #000000; 
  transition: color 0.3s ease;
}

.highlight:hover {
    color:white;
}

#name.highlight:hover {
  color: black;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  top:-1.2rem;
  margin-left: -37rem;
  width: 13rem;
  padding: 0.3rem 2rem;
}

.search {
  z-index: 40;
  top:0rem;
  left:-68rem;
    
}


@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}

#campaign{
    margin-left:-15vh;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 17vw;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;
    position: relative;
    left:-2.1vh;
    padding-left:7vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.7rem;
  top:-0.3rem;
  margin-left: 13.5vh;
  left:6.7vw;
  width: 9.2rem;
  padding: 0.3rem 1.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.9rem;
  left:-19.5vh;
  margin-left:5vw;
  height: 20px;
  width: 20px;
    
}

}





@media (max-width: 599px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}

#campaign{
    margin-left:-15vh;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 17vw;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top: -0.4rem;
    position: relative;
    left:-2.1vh;
    padding-left:7vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.7rem;
  top:-0.3rem;
  margin-left: 13.5vh;
  left:6.7vw;
  width: 9.2rem;
  padding: 0.3rem 1.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:0.9rem;
  left:-19.5vh;
  margin-left:5vw;
  height: 20px;
  width: 20px;
    
}

}



=======
@media (max-width: 576px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}


}









@media (max-width: 576px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}

#campaign{

    margin-left:-15vh;

    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 6.5vw;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);

    transition: all 0.3s ease;
    margin-top:1rem;  
    position: relative;
    left:5.1vh;
    padding-left:7vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:1rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.6rem;
  top:-0.3rem;
  margin-left: 13.5vh;

  left:17vw;

  width: 7.2rem;
  padding: 0.3rem 1rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;

  top:0.65rem;
  left:-14vh;

  margin-left:5vw;
  height: 18px;
  width: 18px;
    
}





}






@media (max-width: 	480px) {

.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}

#campaign{
    margin-left:-18.5vh;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left: 45.5vw;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    width: auto;
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:1rem;  
    position: absolute;
    left:-10.1vh;
    padding-left:47vw;
    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:1rem;
}

.inputBar {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.inputBar input {

  font-size: 0.7rem;
  top:-0.1rem;
  margin-left: 5vh;
  left:38vw;
  width: 8.4rem;
  padding: 0.2rem 0.5rem;
  padding-right: 1.6rem;
}

.search {
  z-index: 40;
  top:1.5rem;
  position: absolute;
  left:23.5vh;
  padding-left:30vw;
  margin-left:5vw;
  height: 19px;
  width: 19px;
    
}




}












@media (max-width: 	360px) {
.container {
    margin-left:-2rem;
    padding-left: 0rem;
    position: fixed;
}

.highcontainer {
    padding-left: 0rem;
    
}

#campaign{

    margin-left:-12.5vh;
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    padding-left:45vw;

    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#campaign:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#about{
    margin-top: -0.2rem;
    padding: 1.5px 3px;
    border-radius: 1rem;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#about:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;

}


#contact{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);

}

#contact:hover{
    border-radius: 1rem;
    padding: 1.5px 3px;
}




#login{
    margin-top: -0.2rem;
    border-radius: 1rem;
    padding: 1.5px 3px;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);
    
}

#login:hover{

    border-radius: 1rem;
    padding: 1.5px 3px;

}



#name {
    padding: 0rem;
    position: absolute;
    font-size: clamp(0.7rem, 1.2vw, 2.5rem);
    transition: all 0.3s ease;
    margin-top:1rem;  

    left:-4.8vh;
    padding-left: 42vw;

    padding-top: 0.3rem;
    padding-right: 1rem;
}

.navbar {
    gap:0.5rem;
}



.inputBar input {

  font-size: 0.5rem;
  top:-0.3rem;

  margin-left: 1vh;
  left:46vw;

  width: 6rem;
  padding: 0.3rem 1rem;
  padding-right: 1.6rem;
}

.search {
  position: relative;
  z-index: 40;

  top:0.8rem;
  left:-12.5vh;
  padding-left: 8vw;

  height: 18px;
  width: 18px;
    
}

}
