.footer {
  background: #0e0e0e;
  color: white;
  margin-top: 0rem;
  padding-top: 3rem;
  position: relative;
  z-index: 5;
  padding-bottom: 3rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12rem;
  opacity: 0.7;
  text-align: left;
}

.brand {
  position: absolute;
  width: 11rem;
}

@media (min-width: 768px) {
  .columns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: "PoppinsLight";
  color: white ;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-primary-foreground);
}

.bottomBar {
  border-top: 1px solid white;
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .bottomBar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bottomLeft {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .bottomLeft {
    margin-bottom: 0;
  }
}

.bottomRight {
  display: flex;
  gap: 1.5rem;
}