.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 0.2rem 5rem;
  height: 6rem;
  position: relative;
  z-index: 1;

}


body {
    overflow-y: hidden;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.left {
  margin-top: 2rem;
  margin-left: 51rem;
  font-size: 0.8rem;
}

.right {
  text-align: center;
  position: relative;
  top:-3.8rem;
  margin-right:-114rem;
  right:50rem;


}

.right p {
  position: relative;
  right:11rem;
  font-size: 0.8rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  top:-1rem;
  position: relative;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.mail, .number {
  color: #4ea1f3;
  text-decoration: none;
  
}

.mail {
  position: relative;
  right: 6.5rem;  
}

 .number {
  position: relative;
  right: 9.8rem;
  top:-0.2rem;
 }

.mail:hover, .number:hover {
  text-decoration: underline;
}

.footer img {
  top:0.25rem;
  z-index: 0;
  margin-left:-6.5rem;
  left:21rem;
  position: absolute;  
  width:30%;
}






@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {

.footer {
  padding: 0.2rem 5rem;
  height: 4rem;
}


.left {
  margin-top: 0.1rem;
  margin-left: 100%;
  font-size: 0.45rem;
  white-space: nowrap;
}

.right {
  top:-1.45rem;
  margin-right:-24rem;
  right:45vw;


}

.right p {
  font-size: 0.45rem;
}


.contacts {
  gap: 0rem;
  top:-1rem;
  margin-top: 0.3rem;
  font-size: 0.5rem;
}



.mail {
  top:0.6rem;
  right: 8.1rem;  
}

 .number {
  right: 10.1rem;
  top:0.6rem;
 }

 .footer img {
  top:1.2rem;
  z-index: 0;
  margin-left:-12.5rem;
  left:100vw;
  position: absolute;  
  width:15rem;
}




}



