.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 0.2rem 5rem;
  height: 6rem;
  position: relative;





}
body {
    overflow-y: hidden;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.left {
  margin-top: 1rem;
  margin-left: 71rem;
  font-size: 0.8rem;
}

.right {
  text-align: center;
  position: relative;
  top:0.7rem;
  right:44rem;


}

.right p {
  position: relative;
  right:11rem;
  font-size: 0.8rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  top:-1rem;
  position: relative;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.mail, .number {
  color: #4ea1f3;
  text-decoration: none;
  
}

.mail {
  position: relative;
  right: 2.1rem;  
}

 .number {
  position: relative;
  right: 8.7rem;
  top:-0.2rem;
 }

.mail:hover, .number:hover {
  text-decoration: underline;
}

.footer img {
  top:0.25rem;
  z-index: 0;
  left:21rem;
  position: absolute;  
  width:30%;
}

@media (min-width: 600px) {
  .content {
    flex-direction: row;
    align-items: center;
  }

  .right {
    text-align: right;
  }

  .contacts {
    align-items: flex-end;
  }
}




@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {}

@media (max-width: 	360px) {}