.container {
    background-color: transparent;
    height: 30%;
    width: 89rem;
    position: absolute;
    display: flex;
    transition: all 0.4s ease;
    overflow: hidden;
    left: 50%;
    top: 20%;
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);

}


.campaign1 {
    background: linear-gradient(135deg,
            #00b09b,
            #96c93d);

    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    overflow: hidden;
}






.campaign1 .title {
    font-size: clamp(5rem, 7.5rem, 10rem);
    line-height: 6rem;
    text-align: left;
    color: #FFF4D1;
    font-family: "PoppinsMedium";
    letter-spacing: -0.5rem;
    position: relative;
    top: -4rem;
    left: 1rem;
}


.campaign1 .subtitle {
    font-size: clamp(2rem, 2rem, 10rem);
    color: #FFF4D1;
    font-family: "PoppinsRegular";
    position: relative;
    top: -12rem;
    left: -15.5rem;
}

.campaign1 .subsubtitle {
    font-size: clamp(0rem, 1.69rem, 10rem);
    color: #FFF4D1;
    font-family: "PoppinsRegular";
    position: relative;
    top: -14.6rem;
    left: -26.4rem;
}









.campaign2 {
    background: linear-gradient(135deg,
            rgb(40, 100, 150),
            rgb(108, 189, 255));
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    overflow: hidden;

}



.campaign2 .title {
    font-size: clamp(7rem, 8.3rem, 10rem);
    color: rgb(255, 255, 255);
    font-family: "PoppinsSemiBold";
    letter-spacing: -0.4rem;
    position: relative;
    top: -8.5rem;
    left: -26rem;
}


.campaign2 .subtitle {
    font-size: clamp(1rem, 2.01rem, 10rem);
    color: rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position: relative;
    top: -20.5rem;
    left: -18rem;
}

.campaign2 .subsubtitle {
    font-size: clamp(0rem, 1.445rem, 10rem);
    color: rgb(255, 255, 255);
    font-family: "PoppinsRegular";
    position: relative;
    top: -23.5rem;
    left: -26.5rem;
}

.campaign2 button {
    top: 12.8rem;
    left: 3rem;
    font-size: clamp(1rem, 1.3rem, 10rem);
    position: absolute;
    border: none;
    z-index: 6;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "PoppinsLight";
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    transition: all 0.3s ease;
}

.campaign2 button:hover {
    background-color: rgb(14, 63, 92);
    color: rgb(255, 255, 255);
    transform: scale(1.03);
}


.campaign2 img {
    position: absolute;
    right: 3rem;
    width: 40%;
    z-index: -1;
    top: -5rem;
    transform: rotate(-30deg);

}









.campaign3 {
    background: linear-gradient(135deg,
            rgb(255, 255, 255),
            rgb(112, 130, 146));
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
}


.campaign3 .title {
    font-size: clamp(4rem, 5.3rem, 10rem);
    width: 90%;
    text-align: left;
    color: black;
    font-family: "PoppinsMedium";
    letter-spacing: -0.4rem;
    position: absolute;
    line-height: 0.88;
    top: -2rem;
    left: 2rem;
}


.campaign3 .subtitle {
    font-size: clamp(1.7rem, 1.7rem, 10rem);
    color: rgb(0, 0, 0);
    font-family: "PoppinsRegular";
    width: 50%;
    text-align: left;
    line-height: 1;
    position: absolute;
    top: 6.3rem;
    left: 2.3rem;
}



.campaign3 button {
    top: 12.2rem;
    left: 2.3rem;
    font-size: clamp(1rem, 1.3rem, 10rem);
    position: absolute;
    border: none;
    z-index: 6;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "PoppinsLight";
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    transition: all 0.3s ease;
}


.campaign3 button:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    transform: scale(1.03);
}

.campaign3 img {
    position: absolute;
    right: 4rem;
    width: 25%;
    z-index: -1;
    top: -5rem;
    transform: rotate(25deg);
}


.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.controls {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 10;
}

.controls button {
    padding: 0.5rem 1rem;
    border: none;
    top: 0rem;
    position: relative;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}





@keyframes slide {

    0%,
    20% {
        transform: translateX(0%);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    100% {
        transform: translateX(0%);
    }
}





@media (max-width: 1540px) {

    .container {
        top: 18.6%;
        transform: translate(-50%, -50%) scale(0.8);
        height: 38%;
        border-radius: 0.7rem;

    }







}


@media (max-width: 1240px) {

    .container {
        top: 19.5%;
        transform: translate(-50%, -50%) scale(0.6);
        height: 50.5%;
        border-radius: 0.7rem;

    }



}




@media (max-width: 950px) {

    .container {
        top: 19%;
        transform: translate(-50%, -50%) scale(0.4);
        height: 75.5%;
        border-radius: 0.7rem;

    }




}



@media (max-width: 751px) {

    .container {
        top: 10%;
        transform: translate(-50%, -50%) scale(0.6);
        height: 29%;
        width: 54.9rem;
        border-radius: 0.7rem;

    }





    .campaign1 .title {
        top: -6rem;
        width: 40rem;
        left: 1rem;
    }


    .campaign1 .subtitle {
        width: 40rem;
        top: -13.5rem;
        text-align: left;
        left: 1.5rem;
        line-height: 0.9;
    }

    .campaign1 .subsubtitle {
        top: -15.6rem;
        width: 40rem;
        left: -2rem;
    }





    .campaign2 .title {
        letter-spacing: -0.4rem;
        top: -8.5rem;
        left: -22.8rem;
    }


    .campaign2 .subtitle {
        width: 40rem;
        top: -19.5rem;
        left: 2rem;
        text-align: left;
        line-height: 0.9;
    }

    .campaign2 .subsubtitle {

        top: -13.5rem;
        left: -26.5rem;
    }

    .campaign2 button {
        top: 13.8rem;
        left: 1.7rem;
        font-size: clamp(1rem, 1.8rem, 10rem);
        border-radius: 1.5rem;
        padding: 0.6rem 2rem;
    }




    .campaign2 img {
        right: 20rem;
        width: 40%;
        top: -4rem;

    }




    .campaign3 .title {
        font-size: clamp(4rem, 5.3rem, 10rem);
        width: 90%;
        letter-spacing: -0.4rem;
        line-height: 0.88;
        width: 45rem;
        top: -3rem;
        left: 2rem;
    }


    .campaign3 .subtitle {
        font-size: clamp(1.7rem, 1.7rem, 10rem);
        width: 50%;
        text-align: left;
        line-height: 1;
        position: absolute;
        top: 9.8rem;
        left: 2.3rem;
    }



    .campaign3 button {
        top: 15.2rem;
        left: 2.2rem;
        font-size: clamp(1rem, 1.8rem, 10rem);
        border-radius: 1.5rem;
        padding: 0.6rem 2rem;
    }




    .campaign3 img {
        position: absolute;
        right: 26rem;
        width: 25%;
        z-index: -1;
        top: -3rem;
        transform: rotate(25deg);
    }





    .controls button {
        padding: 1rem 2rem;
        border: none;
        top: 0rem;
        position: relative;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }

    .controls button:hover {
        background: rgba(0, 0, 0, 0.8);
    }



}



@media (max-width: 580px) {
    .container {
        top: 10.8%;
        transform: translate(-50%, -50%) scale(0.44);
        height: 41%;
        width: 54.9rem;
        border-radius: 0.7rem;

    }
}


@media (max-width: 450px) {
    .container {
        top: 10.5%;
        transform: translate(-50%, -50%) scale(0.393);
        height: 45.7%;
        width: 54.9rem;
        border-radius: 0.7rem;

    }
}