body {
    overflow-x: hidden;


}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;

}

.box {
    overflow-y: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-top: 39rem;
    width: 80%;
    height: 50%;
    z-index: 6;
    border-radius: 10rem;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0px 0px 0.8rem rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(12px);

}


.module {
    margin-top: 33rem;
    

}


.fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; 
  z-index: 3;
  pointer-events: none;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  z-index: 9;
  pointer-events: none;
  backdrop-filter: blur(12px);
}


.title{
    text-align: center;
    position:absolute;
    color:white;
    z-index: 11;
    bottom: 16.5rem;
    font-size: clamp(1.8rem, 11vw, 11.875rem);
    font-family: "PoppinsLight";
    margin-left:28.2%;
    letter-spacing: -0.7rem;

}

.subtitle {
    color:rgba(255, 255, 255, 0.781);
    width:70%;
    font-size: clamp(2.2rem, 5vw, 0.625rem);
    line-height: 1.2;
    padding: 1.3rem 5rem;
    justify-content: center;
}

.shop {
    position: absolute;
    margin-top:13rem;
    font-family: "PoppinsLight";
    font-size: clamp(1.7rem, 5vw, 0.625rem);
    padding:0.8rem 4rem;
    border-radius: 5rem;
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop:hover {
    transform:scale(1.05);
    background-color: #2962FF;
    color:white;
}

.shop:active {
    transform:scale(1.05);
    background-color: #9cb6fc;
    color:white;
}

