server:
  port: 8080
  tomcat:
    max-connections: 1000

spring:
  profiles:
    active: local
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver


  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

    


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: false

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    database-change-log-lock-table: databasechangeloglock
    database-change-log-table: databasechangelog

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USER}
      password: ${REDIS_PASSWORD}
      ssl:
        enabled: ${REDIS_SSL}



  security:
    user:
      name: ${SECURITY_USERNAME}
      password: ${SECURITY_PASSWORD}


stripe:
  apikey: ${STRIPE_APIKEY}

jwt:
  secret: ${JWT_SECRET}


sendgrid:
  api-key: ${SENDGRID_API_KEY}

