
.container {
    height: 35rem;
    background: linear-gradient(135deg, #3B82F6, #1E3A8A);
    width: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

}

.titleContainer {
    width: 50rem;
    position: absolute;
    height: 35rem;
    top:50%;
    left:50%;
    transform: translate(-90%,-50%);
    z-index: auto;
}

.macbookContainer {
     width: 50rem;
    position: absolute;
    height: 35rem;
    top:50%;
    right:50%;
    transform: translate(90%,-50%);
    z-index: auto;
    pointer-events: none;
}

.title {
    font-size: clamp(7rem, 8.38rem,20rem);
    font-family: "PoppinsSemiBold";
    width: 80%;
    text-align: left;
    line-height: 0.9;
    letter-spacing: -0.4rem;
    position: absolute;
    top:9rem;
    color: white;
    z-index: 2;
   
}


.macbookHoverContainer {
    position: absolute;
    left:11.7rem;
    top:11rem;
    width: 35rem;
    height: 30rem;
    cursor: pointer;
    z-index: auto;
}




.keyboard, .iphone, .macbook {
    position: absolute;
}

.keyboard {
    width: 150%;
    top:-1rem;
    transform: rotate(-90deg);
    right: -12rem;
    z-index: 1;
    transition: all 1s ease;

}

.macbookHoverContainer:hover .keyboard {
    opacity: 1;
    top:-2rem;
    transform: rotate(-48deg);
    right: -21rem;

}

.iphone {
    width: 90%;
    top:-5rem;
    right: 2rem;
    z-index: 2;
    padding: 5rem;
    transition: all 1s ease;


}

.macbookHoverContainer:hover .iphone {
    opacity: 1;
    top:-9rem;
    transform: rotate(-35deg);
    right: 14rem;

}

.macbookBox {
    position: absolute;
    background: linear-gradient(135deg, #1e3a8a, #111827);
    width: 31.65rem;
    right: 5.05rem;
    top:13rem;
    height: 20rem;
    pointer-events: none;
    z-index: 4;
    overflow-y: hidden;

}


.macbookDescription {
    color: white;
    width: 95%;
    top:3rem;
    left:0.7rem;
    position: relative;
    font-size: clamp(1rem, 2.05rem,20rem);
    font-family: "PoppinsMedium";
    line-height: 0.9;
    overflow-y: hidden;
    overflow-x: hidden;
}

.macbookButton {
    border:none;
    position: absolute;
    background-color: white;
    font-family: "PoppinsRegular";
    padding: 0.7rem 2rem;
    top:14rem;
    right:11rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.55rem,20rem);
    z-index: 7;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.3s ease;
}

.macbookButton:hover {
    background-color: #2962FF;
    color: white;
    transform: scale(1.05);

}


.macbook {
    width: 95.3%;
    right:-3rem;
    top:0rem;
    z-index: 3;
    pointer-events: none;
}


@media (max-width: 1440px) {

}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

}

@media (max-width: 576px) {}

@media (max-width: 	480px) {

.container {
    height: 32rem;

}

.title {
    font-size: clamp(1rem, 4rem,20rem);
    width: 100%;
    letter-spacing: -0.1rem;
    top:7rem;
    left:0.5rem;
   
}


.macbookHoverContainer {
    left:0rem;
    top:11rem;
    width: 35rem;
    height: 30rem;

}


.keyboard {
    width: 17.6rem;
    top:10rem;
    right: 55vw;


}

.macbookHoverContainer:hover .keyboard {
    top:8.5rem;
    right: -40vw;
    margin-right:17rem;

}

.iphone {
    width: 13rem;
    top:6rem;
    right: 43vw;


}

.macbookHoverContainer:hover .iphone {
    top:2rem;
    right: -40vw;
    margin-right:28rem;

}



.macbookBox {

    width: 15rem;
    right: 58vw;
    margin-right:-9.18rem;
    top:21.15rem;
    height: 9.5rem;

}


.macbookDescription {
    width: 95%;
    top:1rem;
    left:2.5%;
    font-size: clamp(0rem, 1.1rem,20rem);

}

.macbookButton {
    padding: 0.5rem 1.5rem;
    top:16rem;
    right:-39vw;
    margin-right:28.4rem;
    white-space: nowrap;
    font-size: clamp(0rem, 0.9rem,20rem);
    color: black;

}




.macbook {
    width: 22.6rem;
    right: -13rem;
    margin-right:58vw;
    top:15rem;

}



}

@media (max-width: 	360px) {

.container {
    height: 32rem;

}

.title {
    font-size: clamp(1rem, 3.5rem,20rem);
    width: 100%;
    letter-spacing: -0.1rem;
    top:7rem;
    left:0.5rem;
   
}


.macbookHoverContainer {
    left:0rem;
    top:11rem;
    width: 35rem;
    height: 30rem;

}


.keyboard {
    width: 15.6rem;
    top:12rem;
    right: 15rem;


}

.macbookHoverContainer:hover .keyboard {
    top:10rem;
    right: -40vw;
    margin-right:20rem;

}

.iphone {
    width: 10rem;
    top:6rem;
    right: 15rem;


}

.macbookHoverContainer:hover .iphone {
    top:4rem;
    right: -40vw;
    margin-right:29.5rem;

}



.macbookBox {

    width: 12.375rem;
    right: 58vw;
    margin-right:-7.68rem;
    top:23rem;
    height: 8rem;

}


.macbookDescription {
    width: 95%;
    top:1rem;
    left:2.5%;
    font-size: clamp(0rem, 0.9rem,20rem);

}

.macbookButton {
    padding: 0.5rem 1.5rem;
    top:17rem;
    right:-39vw;
    margin-right:29.3rem;
    white-space: nowrap;
    font-size: clamp(0rem, 0.7rem,20rem);

}




.macbook {
    width: 18.6rem;
    right: -10.8rem;
    margin-right:58vw;
    top:18rem;

}

}