
.container {
    height: 35rem;
    background: linear-gradient(135deg, #3B82F6, #1E3A8A);
    width: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

}

.subContainer {
    position: relative;
    height: 35rem;
}

.titleContainer {
    width: 50rem;
    position: absolute;
    height: 35rem;
    top:50%;
    left:50%;
    transform: translate(-90%,-50%);
    z-index: auto;
}

.macbookContainer {
     width: 50rem;
    position: absolute;
    height: 35rem;
    top:50%;
    right:50%;
    transform: translate(90%,-50%);
    z-index: auto;
    pointer-events: none;
}

.title {
    font-size: clamp(7rem, 8.38rem,20rem);
    font-family: "PoppinsSemiBold";
    width: 80%;
    text-align: left;
    line-height: 0.9;
    letter-spacing: -0.4rem;
    position: absolute;
    top:9rem;
    color: white;
    z-index: 2;
   
}


.macbookHoverContainer {
    position: absolute;
    left:11.7rem;
    top:11rem;
    width: 35rem;
    height: 30rem;
    cursor: pointer;
    z-index: auto;
}




.keyboard, .iphone, .macbook {
    position: absolute;
}

.keyboard {
    width: 150%;
    top:21rem;
    transform: rotate(-90deg);
    right: -12rem;
    z-index: 1;
    transition: all 1s ease;

}

.macbookHoverContainer:hover .keyboard {
    opacity: 1;
    top:16rem;
    transform: rotate(-48deg);
    right: -19.5rem;

}

.iphone {
    width: 90%;
    top:-5rem;
    right: 2rem;
    z-index: 2;
    padding: 5rem;
    transition: all 1s ease;


}

.macbookHoverContainer:hover .iphone {
    opacity: 1;
    top:-9rem;
    transform: rotate(-35deg);
    right: 14rem;

}

.macbookBox {
    position: absolute;
    background: linear-gradient(135deg, #1e3a8a, #111827);
    width: 31.65rem;
    right: 5.05rem;
    top:13rem;
    height: 20rem;
    pointer-events: none;
    z-index: 4;
    overflow-y: hidden;

}


.macbookDescription {
    color: white;
    width: 95%;
    top:3rem;
    left:0.7rem;
    position: relative;
    font-size: clamp(1rem, 2.05rem,20rem);
    font-family: "PoppinsMedium";
    line-height: 0.9;
    overflow-y: hidden;
    overflow-x: hidden;
}

.macbookButton {
    border:none;
    position: absolute;
    background-color: white;
    font-family: "PoppinsRegular";
    padding: 0.7rem 2rem;
    top:14rem;
    right:11rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.55rem,20rem);
    z-index: 7;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.3s ease;
}

.macbookButton:hover {
    background-color: #2962FF;
    color: white;
    transform: scale(1.05);

}


.macbook {
    width: 95.3%;
    right:-3rem;
    top:0rem;
    z-index: 3;
    pointer-events: none;
}


@media (max-width: 1540px) {

.container {
    height: 28rem;


}

.subContainer {
    top:-3.5rem;
    transform: scale(0.8);
}
}

@media (max-width: 1240px) {
.container {
    height: 23rem;


}

.subContainer {
    top:-5rem;
    transform: scale(0.6);
}    
}

@media (max-width: 950px) {
.container {
    height: 18rem;


}

.subContainer {
    top:-6.5rem;
    transform: scale(0.4);
}      
}

@media (max-width: 750px) {
  .titleContainer {
    top:-28rem;
    transform: translateX(7.45%) scale(0.95);

  }

.title {
    text-align: center;
}


  .container {
    height: 52rem;


}

.subContainer {
    top: 19.2rem;
    margin-left: -41.5rem;
    transform: scale(0.86);
}      
}

@media (max-width: 580px) {
  .titleContainer {
    top:-30rem;
    transform: translateX(6.8%) scale(0.87);

  }

.title {
    text-align: center;
}


  .container {
    height: 48rem;


}

.subContainer {
    top: 18rem;
    margin-left: -33.91rem;
    transform: scale(0.7);
}      
}

@media (max-width: 450px) {
   .titleContainer {
    top:-30rem;
    transform: translateX(6.8%) scale(0.87);

  }

.title {
    text-align: center;
}


  .container {
    height: 37.7rem;


}

.subContainer {
    top: 10rem;
    margin-left: -27.54rem;
    transform: scale(0.57);
}     
}