.container {
    width: 100%;
    margin-bottom: 26rem;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: stretch;
}




.bar {

    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 94rem;
    margin-left: 10%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    height: 17rem;
    top: 51rem;
    border-radius: 2rem;
    z-index: auto;
    overflow-x: hidden;
    overflow-y: visible;
}

.inBar {

    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f3f0f0;
    width: 94rem;
    height: 5.95rem;
    border-radius: 2rem;
    z-index: 3;
}


.cover {

    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    top: 35rem;


}

.subtitle {

    font-family: "PoppinsSemiBold";
    color: rgb(255, 255, 255);
    width: 90rem;
    top: 1.5rem;
    height: 10rem;
    position: relative;
    padding-top: 2.9rem;
    line-height: 0.9;
    background-color: rgb(135, 206, 250);
    overflow: hidden;
    cursor: pointer;
}

.subtitle p {
    font-size: clamp(1.5rem, 3.2rem, 10rem);
    top: 25%;
    transform: translateY(-50%);
    width: 40%;
    left: 30%;
    position: absolute;
}

.circle1,
.circle2 {
    border-radius: 50%;
    width: 50rem;
    height: 30rem;
    background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 20;
    transition: all 1s ease;

}

.circle1 {
    left: -24rem;
    top: -15rem;
}

.circle2 {
    right: -22rem;
    bottom: -15rem;
}

.subtitle:hover .circle1 {
    left: -20rem;
    top: -12rem;
    transform: rotate(-15deg);
}

.subtitle:hover .circle2 {
    right: -18rem;
    bottom: -12rem;
    transform: rotate(-15deg);
}


.filter {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left: 1rem;
    top: 1.5rem;
    border: none;
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 3;
}

.filter:hover {
    transform: scale(1.02);
    background-color: #4375ff;
    color: rgb(255, 255, 255);
}

.filter:active {
    transform: scale(1.02);
    background-color: rgb(26, 65, 172);
    color: rgb(255, 255, 255);
}


.filter svg {
    position: relative;
    top: 0.2rem;
    fill: white;
    height: 21px;
    width: 21px;

}

.filter:hover svg {
    fill: white;
}


.search {
    fill: #757575ff;
}

input {
    position: absolute;
    width: 28rem;
    padding: 0.35rem 1.5rem;
    padding-left: 3.5rem;
    margin-top: 1.48rem;
    border-radius: 1.5rem;
    left: 53.2rem;
    border: none;
    font-family: "PoppinsLight";
    font-size: clamp(1.5rem, 1rem, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 4;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.search {
    width: 34px;
    height: 34px;
    position: absolute;
    margin-top: 1.9rem;
    left: 54.5rem;
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
    z-index: 4;
}

.inputBar:hover .search {
    transform: rotateZ(90deg);
}




.low input,
.high input,
.newest input,
.oldest input,
.more input {
    display: none;


}

.low span {
    position: absolute;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    left: 9rem;
    top: 1.5rem;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.5s ease;
    z-index: 8;

}

.low:hover span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}


.low input:checked+span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);

}

.high span {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left: 19.7rem;
    top: 1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.5s ease;
    z-index: 8;
}


.high:hover span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}

.high input:checked+span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);

}


.newest span {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left: 30.4rem;
    top: 1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    transition: all 0.5s ease;
    z-index: 8;
}

.newest:hover span {
    transform: scale(1.02);
    background-color: #2962FF;
    color: rgb(255, 255, 255);
}

.newest input:checked+span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
}



.oldest span {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left: 38.8rem;
    top: 1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    transition: all 0.5s ease;
    z-index: 8;
}

.oldest:hover span {
    transform: scale(1.02);
    background-color: #2962FF;
    color: rgb(255, 255, 255);
}

.oldest input:checked+span {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
}

.more {
    cursor: pointer;
    z-index: 10;
    overflow: visible;

}

.more span {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5em;
    padding-right: 1rem;
    left: 46.5rem;
    top: 1.5rem;
    border: none;
    color: white;
    background-color: #7636be60;
    border-radius: 2rem;
    transition: all 0.5s ease;
    z-index: 4;
}

.more:hover span {
    transform: scale(1.02);
    background-color: #8e53d1;
}




.more svg {
    position: absolute;
    top: 2rem;
    margin-left: -0.3rem;
    z-index: 8;
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;

}




.more:hover .moreOption {
    top: 1rem;
    height: 16rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more:hover svg {
    transform: rotateZ(90deg);
}

.more input:checked+span {
    background-color: #7536be;
}

.more input:checked~.moreOption {
    top: 1rem;
    height: 16rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more input:checked~svg {
    transform: rotateZ(90deg);
}


.moreOption {
    width: 99%;
    left: 0.5%;
    top: -15rem;
    cursor: auto;
    border-radius: 0rem;
    position: absolute;
    height: 20rem;
    background-color: rgb(207, 207, 207);
    z-index: 2;
    transition: all 0.5s ease;
    pointer-events: auto;


}

.bestSelling label {
    background-color: white;
    color: black;
    top: 7rem;
    left: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.bestSelling label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.bestSelling input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}


.mostSearched label {
    background-color: white;
    color: black;
    top: 11rem;
    left: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.mostSearched label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.mostSearched input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}


.AZ label {
    background-color: white;
    color: black;
    top: 7rem;
    left: 12.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.AZ label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.AZ input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}



.ZA label {
    background-color: white;
    color: black;
    top: 7rem;
    left: 27.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.ZA label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.ZA input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}


.inStock label {
    background-color: white;
    color: black;
    top: 11rem;
    left: 14.8rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.inStock label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.inStock input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}




.outOfStock label {
    background-color: white;
    color: black;
    top: 11rem;
    left: 24.2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.outOfStock label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.outOfStock input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}



.highestRating label {
    background-color: white;
    color: black;
    top: 11rem;
    left: 33.2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.highestRating label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.highestRating input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}


.lowestRating label {
    background-color: white;
    color: black;
    top: 11rem;
    left: 45.7rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.lowestRating label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.lowestRating input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}

.discount label {
    background-color: white;
    color: black;
    top: 7rem;
    left: 42.7rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.discount label:hover {
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    transform: scale(1.02);

}

.discount input:checked+label {
    background-color: #4476ff;
    color: rgb(255, 255, 255);
}


.moreText {
    font-family: "PoppinsMedium";
    color: black;
    top: 5rem;
    right: 2.5rem;
    position: absolute;
    z-index: 10;
    width: 35%;
    line-height: 0.9;
    text-align: right;
    border-radius: 2rem;
    font-size: 2.8rem;


}







.refresh {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left: 87rem;
    top: 1.5rem;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #797979;
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 8;
}

.refresh:hover {
    transform: scale(1.05);
    background-color: rgb(36, 36, 36);
}


.toggleButton {
        display: none;
    }

.categorySelector {
    height: 400rem;
    width: 19rem;
    left: 50%;
    top: 11.5rem;
    z-index: 1;
    position: absolute;
    background-color: rgb(235, 235, 235);

    transform: translate(-220%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
}

.categorySelector button {
    width: 100%;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    color: rgb(61, 61, 61);
    font-family: "PoppinsMedium";
    transition: all 0.3s ease;


}

.categorySelector button svg {
    width: 1.5rem;
    height: 1.5rem;
    top: 2.6rem;
    right: 3rem;
    position: absolute;
    fill: rgb(78, 78, 78);
    transition: all 0.3s ease;


}

.categorySelector button:hover {
    background-color: #2962FF;
    color: white;
}

.categorySelector button:hover svg {
    fill: white;
}


.itemContainer {
    background-color: rgb(223, 223, 223);
    border-radius: 3rem;
    padding: 5rem 0rem;
    padding-left: 9rem;
    padding-top: 9rem;
    width: 83.3rem;
    min-height: 40rem;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
    z-index: 0;
    opacity: 1;
    overflow: hidden;

}










.items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0rem 8rem;
    top:4rem;
    padding-bottom: 3rem;
    left: 6rem;
    position: relative;



}

.info {
    background-color: rgb(243, 243, 243);
    position: absolute;
    padding:6rem 1rem; 
    top:0.7rem;
    width: 77%;
    left:50%;
    transform: translateX(-50%);
}




.items .item {
    margin-top: 0rem;
    flex: 1 0 10%; 
    box-sizing: border-box; 
    padding:11.5rem 1rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255); 
    border: 1.9px solid rgb(219, 219, 219);


}

.items .guaranteeTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.items .guarantee {
    position: absolute;
    top:16.7rem;   
    left: 0.85rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}

 


.items .availTitle {
    position: absolute;
    top:15.5rem;   
    font-family: "PoppinsMedium";
    right: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.items .avail {
    position: absolute;
    top:16.7rem;   
    left: 11.35rem;  
    font-family: "PoppinsMedium";
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.items .priceTitle {
    position: absolute;
    top:18.5rem;    
    font-family: "PoppinsMedium";
    left: 0.85rem;  
    font-size: clamp(0rem, 0.8rem, 2rem);
    color:#a0a0a0; 
}

.items .price {
    position: absolute;
    top:19.25rem;    
    font-family: "PoppinsSemiBold";
    left: 0.8rem;  
    font-size: clamp(1rem, 1.2rem, 2rem);
    color:#313131;
}



.items .name {
    text-align: left;
    position: absolute;
    top:12.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: #313131;
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0.5rem, 1rem, 2rem);


}


.items img {
    position: absolute;
    left:50%;
    width: 110%;
    top:50%;
    transform: translate(-50%,-50%);
}



.items .cart {
    position: absolute;
    background-color: white;
    border: none;
    top:19.5rem;
    right: 0.85rem;  
    cursor: pointer;
    padding: 1.2rem 1.2rem;
    border: 1px solid rgb(54, 132, 250);
    transition: all 0.3s ease;
}


.items .cartText {
    position: absolute;
    transition: all 0.3s ease;
    white-space: nowrap;
    top:15%;
    left:60%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: "PoppinsRegular";
}


.items .cart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(54, 132, 250);
    position: absolute;
    transition: all 0.3s ease;
}

.items .cart:hover {
    padding: 1.2rem 4rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);
}

.items .cart:hover svg {
    left:20%;
    fill:white;
}

.items .inCart {
    padding: 1.2rem 1.2rem;
    background-color: rgb(54, 132, 250);   
    border: 1px solid rgb(54, 132, 250);  
}

.items .inCart svg {
    height: 22px;
    width: 22px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.3s ease;
}



.noItem {
    position: absolute;
    background-color: white;
    padding: 0rem 5rem;
    border-radius: 2rem;
    margin-top: 5%;
    left: 30%;
    color: rgb(58, 58, 58);
    z-index: 20;
    font-size: clamp(0.5rem, 1.5rem, 5rem);
}





.pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    bottom: 1rem;
    left: 60%;
    transform: translateX(-50%);
}

.pageButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background 0.2s ease;
}

.pageButton:hover {
    background-color: #ddd;
}

.pageButton.active {
    background-color: #333;
    color: white;
}

.cartSpinnerDiv {
    padding: 0.52rem 0.52rem;
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: "PoppinsLight";
    border: none;
    bottom: 0.33rem;
    position: absolute;
    border-radius: 50%;
    right: 110%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}


.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    animation: spin 0.8s linear infinite;
    display: block;
    margin: 0 auto;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@media (max-width: 1540px) {



.cover {
        top:27rem;
        transform: translateX(-50%) scale(0.8);
        height: 10rem;
        width: 90rem;
    }



.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(0.8);
    position: relative;
    top:-2.7rem;
}


.bar {

    top: -0.6rem;
    border-radius: 2rem;


}

.categorySelector {

    top: 4.9rem;

}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
 

}


}

@media (max-width: 1240px) {
 .cover {
        top:21rem;
        transform: translateX(-50%) scale(0.6);
        height: 10rem;
        width: 90rem;
    }



.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(0.6);
    position: relative;
    top:-12rem;
}


.bar {

    top: -0.6rem;
    border-radius: 2rem;


}

.categorySelector {

    top: 4.9rem;

}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
 

}  
}

@media (max-width: 950px) {
 .cover {
        top:15.1rem;
        transform: translateX(-50%) scale(0.4);
        height: 10rem;
        width: 90rem;
    }



.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(0.4);
    position: relative;
    top:-21.1rem;
}


.bar {

    top: -0.6rem;
    border-radius: 2rem;


}

.categorySelector {

    top: 4.9rem;

}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
 

}      
}

@media (max-width: 750px) {
 .cover {
        top:52.3rem;
        transform: translateX(-50%) scale(1);
        height: 10rem;
        width: 35rem;
    }

.subtitle {

    font-family: "PoppinsSemiBold";
    color: rgb(255, 255, 255);
    width: 90rem;
    top: 1.5rem;
    height: 10rem;
    position: relative;
    padding-top: 2.9rem;
    line-height: 0.9;
    background-color: rgb(135, 206, 250);
    overflow: hidden;
    cursor: pointer;
}

.subtitle p {
    font-size: clamp(1.5rem, 2.5rem, 10rem);
    top: 28%;
    transform: translateY(-50%);
    width: 80%;
    left: 10%;
    position: absolute;
    z-index: 7;
}

.circle1,
.circle2 {
    border-radius: 50%;
    width: 35rem;
    height: 25rem;
    background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 2;
    transition: all 1s ease;

}

.circle1 {
    left: -24rem;
    top: -15rem;
}

.circle2 {
    right: -22rem;
    bottom: -15rem;
}

.subtitle:hover .circle1 {
    left: -20rem;
    top: -12rem;
    transform: rotate(-15deg);
}

.subtitle:hover .circle2 {
    right: -18rem;
    bottom: -12rem;
    transform: rotate(-15deg);
}

.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(1);
    position: relative;
    top:6.1rem;
}


.bar {

    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 36rem;
    margin-left: 10%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    height: 35rem;
    top: 0rem;
    border-radius: 2rem;
    z-index: auto;
    overflow-x: hidden;
    overflow-y: visible;


}


.inBar {


    width: 36rem;
    height: 13.5rem;
    border-radius: 2rem;
    z-index: 3;
}

.toggleButton {
    display: block;
    left: 23.8rem;
    top:  9.1rem;
        position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 3;
}

.categorySelector.open {
    height: 31rem;
    width: 25rem;
    left: 50%;
    top: 17rem;
    z-index: 1;
    position: absolute;
    background-color: rgb(235, 235, 235);

    transform: translate(-50%, 0%) scale(1.3);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
}

.categorySelector {
    display: none;  
}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
    padding: 7rem 0rem;
    padding-left: 5rem;
    width: 30rem;
    min-height: 40rem;

}   

.items {

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem 0rem;
    top:2.5rem;
    padding-bottom: 3rem;
    left: -2.5rem;
    position: relative;



}



.filter {

    left: 2.5rem;
    top: 1.5rem;

}




.bar input {
    width: 15.5rem;
    padding: 0.47rem 1.5rem;
    padding-left: 3.1rem;
    margin-top: 9rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    left: 2.5rem;

}



.search {
    width: 30px;
    height: 30px;
    margin-top: 9.5rem;
    left: 3.3rem;

}





.low span {

    left: 11.75rem;
    top: 1.5rem;


}



.high span {

    left: 23.7rem;
    top: 1.5rem;

}





.newest span {
    left: 2.5rem;
    top: 5.3rem;

}



.oldest span {
    left: 11.5rem;
    top: 5.3rem;
}




.more span {
    left: 19.75rem;
    top: 5.3rem;
}






.more svg {
    left: 20.25rem;
    top: 5.8rem;

}

.more:hover .moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more input:checked~.moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}



.moreOption {
    width: 99%;
    left: 0.5%;
    top: -20rem;
    margin-top: 8rem;
    cursor: auto;
    border-radius: 0rem;
    position: absolute;
    height: 20rem;
    z-index: 2;
    transition: all 0.5s ease;
    pointer-events: auto;


}


.bestSelling label {
    top: 5.5rem;
    left: 2rem;


}




.mostSearched label {
    top: 5.5rem;
    left: 12.65rem;

}




.AZ label {
    top: 9rem;
    left: 2rem;

}




.ZA label {
    top: 12.5rem;
    left: 2rem;

}



.inStock label {
    top: 5.5rem;
    left: 25.3rem;

}






.outOfStock label {
    top: 12.5rem;
    left: 17.3rem;

}





.highestRating label {
    top: 16rem;
    left: 2rem;

}



.lowestRating label {
   top: 16rem;
    left: 14.5rem;

}


.discount label {
    top: 9rem;
    left: 17.3rem;

}



.moreText {

    top: 10.6rem;
    right: 2rem;
    width: 22%;
    line-height: 1.05;
    font-size: 1.3rem;


}







.refresh {

    left: 27.2rem;
    top: 5.3rem;

}



}

@media (max-width: 580px) {
 .cover {
        top:47rem;
        transform: translateX(-50%) scale(0.8);
        height: 10rem;
        width: 35rem;
    }

.subtitle {

    font-family: "PoppinsSemiBold";
    color: rgb(255, 255, 255);
    width: 90rem;
    top: 1.5rem;
    height: 10rem;
    position: relative;
    padding-top: 2.9rem;
    line-height: 0.9;
    background-color: rgb(135, 206, 250);
    overflow: hidden;
    cursor: pointer;
}

.subtitle p {
    font-size: clamp(1.5rem, 2.5rem, 10rem);
    top: 28%;
    transform: translateY(-50%);
    width: 80%;
    left: 10%;
    position: absolute;
    z-index: 7;
}

.circle1,
.circle2 {
    border-radius: 50%;
    width: 35rem;
    height: 25rem;
    background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 2;
    transition: all 1s ease;

}

.circle1 {
    left: -24rem;
    top: -15rem;
}

.circle2 {
    right: -22rem;
    bottom: -15rem;
}

.subtitle:hover .circle1 {
    left: -20rem;
    top: -12rem;
    transform: rotate(-15deg);
}

.subtitle:hover .circle2 {
    right: -18rem;
    bottom: -12rem;
    transform: rotate(-15deg);
}

.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(0.8);
    position: relative;
    top:-13.5rem;
}


.bar {

    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 36rem;
    margin-left: 10%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    height: 35rem;
    top: 0rem;
    border-radius: 2rem;
    z-index: auto;
    overflow-x: hidden;
    overflow-y: visible;


}


.inBar {


    width: 36rem;
    height: 13.5rem;
    border-radius: 2rem;
    z-index: 3;
}

.toggleButton {
    display: block;
    left: 23.8rem;
    top:  9.1rem;
        position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 3;
}

.categorySelector.open {
    height: 31rem;
    width: 25rem;
    left: 50%;
    top: 17rem;
    z-index: 1;
    position: absolute;
    background-color: rgb(235, 235, 235);

    transform: translate(-50%, 0%) scale(1.3);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
}

.categorySelector {
    display: none;  
}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
    padding: 7rem 0rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    width: 30rem;
    min-height: 40rem;

}   

.items {

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem 0rem;
    top:2.5rem;
    padding-bottom: 3rem;
    left: -2.5rem;
    position: relative;



}



.filter {

    left: 2.5rem;
    top: 1.5rem;

}




.bar input {
    width: 15.5rem;
    padding: 0.47rem 1.5rem;
    padding-left: 3.1rem;
    margin-top: 9rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    left: 2.5rem;

}



.search {
    width: 30px;
    height: 30px;
    margin-top: 9.5rem;
    left: 3.3rem;

}





.low span {

    left: 11.75rem;
    top: 1.5rem;


}



.high span {

    left: 23.7rem;
    top: 1.5rem;

}





.newest span {
    left: 2.5rem;
    top: 5.3rem;

}



.oldest span {
    left: 11.5rem;
    top: 5.3rem;
}




.more span {
    left: 19.75rem;
    top: 5.3rem;
}






.more svg {
    left: 20.25rem;
    top: 5.8rem;

}

.more:hover .moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more input:checked~.moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}



.moreOption {
    width: 99%;
    left: 0.5%;
    top: -20rem;
    margin-top: 8rem;
    cursor: auto;
    border-radius: 0rem;
    position: absolute;
    height: 20rem;
    z-index: 2;
    transition: all 0.5s ease;
    pointer-events: auto;


}


.bestSelling label {
    top: 5.5rem;
    left: 2rem;


}




.mostSearched label {
    top: 5.5rem;
    left: 12.65rem;

}




.AZ label {
    top: 9rem;
    left: 2rem;

}




.ZA label {
    top: 12.5rem;
    left: 2rem;

}



.inStock label {
    top: 5.5rem;
    left: 25.3rem;

}






.outOfStock label {
    top: 12.5rem;
    left: 17.3rem;

}





.highestRating label {
    top: 16rem;
    left: 2rem;

}



.lowestRating label {
   top: 16rem;
    left: 14.5rem;

}


.discount label {
    top: 9rem;
    left: 17.3rem;

}



.moreText {

    top: 10.6rem;
    right: 2rem;
    width: 22%;
    line-height: 1.05;
    font-size: 1.3rem;


}







.refresh {

    left: 27.2rem;
    top: 5.3rem;

}

    
}

@media (max-width: 450px) {
  .cover {
        top:36rem;
        transform: translateX(-50%) scale(0.65);
        height: 10rem;
        width: 35rem;
    }

.subtitle {

    font-family: "PoppinsSemiBold";
    color: rgb(255, 255, 255);
    width: 90rem;
    top: 1.5rem;
    height: 10rem;
    position: relative;
    padding-top: 2.9rem;
    line-height: 0.9;
    background-color: rgb(135, 206, 250);
    overflow: hidden;
    cursor: pointer;
}

.subtitle p {
    font-size: clamp(1.5rem, 2.5rem, 10rem);
    top: 28%;
    transform: translateY(-50%);
    width: 80%;
    left: 10%;
    position: absolute;
    z-index: 7;
}

.circle1,
.circle2 {
    border-radius: 50%;
    width: 35rem;
    height: 25rem;
    background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 2;
    transition: all 1s ease;

}

.circle1 {
    left: -24rem;
    top: -15rem;
}

.circle2 {
    right: -22rem;
    bottom: -15rem;
}

.subtitle:hover .circle1 {
    left: -20rem;
    top: -12rem;
    transform: rotate(-15deg);
}

.subtitle:hover .circle2 {
    right: -18rem;
    bottom: -12rem;
    transform: rotate(-15deg);
}

.barContainer {
    left:50%;
    width: 100rem;
    transform:translateX(-50%) scale(0.65);
    position: relative;
    top:-28rem;
}


.bar {

    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 36rem;
    margin-left: 10%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    height: 35rem;
    top: 0rem;
    border-radius: 2rem;
    z-index: auto;
    overflow-x: hidden;
    overflow-y: visible;


}


.inBar {


    width: 36rem;
    height: 13.5rem;
    border-radius: 2rem;
    z-index: 3;
}

.toggleButton {
    display: block;
    left: 23.8rem;
    top:  9.1rem;
        position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #2962FF;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 3;
}

.categorySelector.open {
    height: 31rem;
    width: 25rem;
    left: 50%;
    top: 17rem;
    z-index: 1;
    position: absolute;
    background-color: rgb(235, 235, 235);

    transform: translate(-50%, 0%) scale(1.3);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
}

.categorySelector {
    display: none;  
}


.itemContainer {
    padding-top: 2.4rem;
    margin-top: 10rem;
    padding: 7rem 0rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    width: 30rem;
    min-height: 40rem;

}   

.items {

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem 0rem;
    top:2.5rem;
    padding-bottom: 3rem;
    left: -2.5rem;
    position: relative;



}



.filter {

    left: 2.5rem;
    top: 1.5rem;

}




.bar input {
    width: 15.5rem;
    padding: 0.47rem 1.5rem;
    padding-left: 3.1rem;
    margin-top: 9rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    left: 2.5rem;

}



.search {
    width: 30px;
    height: 30px;
    margin-top: 9.5rem;
    left: 3.3rem;

}





.low span {

    left: 11.75rem;
    top: 1.5rem;


}



.high span {

    left: 23.7rem;
    top: 1.5rem;

}





.newest span {
    left: 2.5rem;
    top: 5.3rem;

}



.oldest span {
    left: 11.5rem;
    top: 5.3rem;
}




.more span {
    left: 19.75rem;
    top: 5.3rem;
}






.more svg {
    left: 20.25rem;
    top: 5.8rem;

}

.more:hover .moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more input:checked~.moreOption {
    top: 1rem;
    height: 20rem;
    border-radius: 3.5rem;
    opacity: 1;
}



.moreOption {
    width: 99%;
    left: 0.5%;
    top: -20rem;
    margin-top: 8rem;
    cursor: auto;
    border-radius: 0rem;
    position: absolute;
    height: 20rem;
    z-index: 2;
    transition: all 0.5s ease;
    pointer-events: auto;


}


.bestSelling label {
    top: 5.5rem;
    left: 2rem;


}




.mostSearched label {
    top: 5.5rem;
    left: 12.65rem;

}




.AZ label {
    top: 9rem;
    left: 2rem;

}




.ZA label {
    top: 12.5rem;
    left: 2rem;

}



.inStock label {
    top: 5.5rem;
    left: 25.3rem;

}






.outOfStock label {
    top: 12.5rem;
    left: 17.3rem;

}





.highestRating label {
    top: 16rem;
    left: 2rem;

}



.lowestRating label {
   top: 16rem;
    left: 14.5rem;

}


.discount label {
    top: 9rem;
    left: 17.3rem;

}



.moreText {

    top: 10.6rem;
    right: 2rem;
    width: 22%;
    line-height: 1.05;
    font-size: 1.3rem;


}







.refresh {

    left: 27.2rem;
    top: 5.3rem;

}
   
}