


.container {
    width: 100%;
    margin-bottom: 26rem;
    overflow-y: hidden;
    overflow-x: hidden;
align-items: stretch;
}


.bar {
    
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 95.3rem;
    margin-left: 10%;
    left:0%;
  right: 0;
    margin: 0 auto;    
    height: 17rem;
    top:51rem;
    border-radius: 2rem;
    z-index: auto;
    overflow-x: hidden;
    overflow-y: visible;
}

.inBar {
    
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #f3f0f0;
    width: 95.3rem;
    height: 5.95rem;
    border-radius: 2rem;
    z-index: 3;
}


.cover {
    
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    left:50%;
    transform: translateX(-50%);
    height: 20rem;
    top:35rem;


}

.subtitle {

    font-family: "PoppinsSemiBold";
    color: rgb(255, 255, 255);
    width: 90rem;
    top:1.5rem;
    height: 10rem;
    position: relative;
    padding-top: 2.9rem;
    line-height: 0.9;
    background-color: rgb(135, 206, 250);
    overflow: hidden;
    cursor: pointer;
}

.subtitle p {
    font-size: clamp(1.5rem, 3.2rem, 10rem);
    top:25%;
    transform: translateY(-50%);
    width: 40%;
    left:30%;
    position: absolute;
}

.circle1, .circle2 {
    border-radius: 50%;
    width: 50rem;
    height: 30rem;
background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 20;
    transition: all 1s ease;

}

.circle1 {
    left:-24rem;
    top:-15rem;
}

.circle2 {
    right:-22rem;
    bottom:-15rem;
}

.subtitle:hover .circle1 {
    left:-20rem;
    top:-12rem;  
    transform: rotate(-15deg); 
}

.subtitle:hover .circle2 {
    right:-18rem;
    bottom:-12rem;  
    transform: rotate(-15deg); 
}


.filter {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left:1rem;
    top:1.5rem;
    border: none;
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    border-radius: 2rem;
    transition: all 0.3s ease;
    z-index: 3;
}

.filter:hover {
    transform: scale(1.02);
    background-color: #4375ff;
    color:rgb(255, 255, 255);
}

.filter:active {
    transform: scale(1.02);
    background-color: rgb(26, 65, 172);
    color:rgb(255, 255, 255);   
}


.filter svg {
    position: relative;
    top:0.2rem;
    fill:white;
    height: 21px;
    width: 21px;
    
}

.filter:hover svg {
    fill:white;
}


.search {
    fill: #757575ff;
}

input {
    position: absolute;
    width: 28rem;
    padding:0.35rem 1.5rem;
    padding-left:4rem;
    margin-top: 1.48rem;
    border-radius: 1.5rem;
    left:53.5rem;
    border:none;
    font-family: "PoppinsLight";
    font-size: clamp(1.5rem, 1rem, 2.5rem);
    transition: transform 0.3s ease;
    z-index: 4;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.search {
    width: 34px;
    height: 34px;
    position: absolute;
    margin-top:1.9rem;
    left:54.5rem;
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
    z-index: 4;
}

.inputBar:hover .search{
    transform: rotateZ(90deg);
}




.low input, .high input, .newest input, .oldest input, .more input {
  display: none;
  
  
}

.low span {
  position: absolute;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  left:9rem;
  top:1.5rem;
   font-size: 1.2rem;
    background-color: white;
    color: black;
  cursor: pointer;
  background-size: 200% 100%;
  background-position: 100% 0%;
  transition: all 0.5s ease;
  z-index: 8;

}

.low:hover span {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);    
}


.low input:checked + span{
    background-color: #2962FF;
    color:rgb(255, 255, 255);
  
}

.high span{
     position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left:19.7rem;
    top:1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.5s ease;   
    z-index: 8;
}


.high:hover span{
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);
}

.high input:checked + span{
    background-color: #2962FF;
    color:rgb(255, 255, 255);
  
}


.newest span{
     position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left:30.4rem;
    top:1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    transition: all 0.5s ease; 
    z-index: 8;  
}

.newest:hover span {
     transform: scale(1.02); 
    background-color: #2962FF;
    color:rgb(255, 255, 255);    
}

.newest input:checked + span{
    background-color: #2962FF;
    color:rgb(255, 255, 255);
}



.oldest span{
     position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left:38.8rem;
    top:1.5rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 2rem;
    transition: all 0.5s ease;   
    z-index: 8;
}

.oldest:hover span{
     transform: scale(1.02); 
    background-color: #2962FF;
    color:rgb(255, 255, 255);   
}

.oldest input:checked + span{
    background-color: #2962FF;
    color:rgb(255, 255, 255);   
}

.more {
    cursor: pointer;
    z-index: 10;  
    overflow: visible;
    
}
.more span{
     position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5em;
    padding-right: 1rem;
    left:46.5rem;
    top:1.5rem;
    border: none;
    color:white;
    background-color:#7636be60 ;
    border-radius: 2rem;
    transition: all 0.5s ease;   
    z-index: 4;
}

.more:hover span{
     transform: scale(1.02); 
     background-color: #8e53d1;      
}




.more svg {
    position: absolute;
    top: 2rem;
    margin-left:-0.7rem;
    z-index: 8;
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;

}




.more:hover .moreOption {
    top: 1rem;
    height: 16rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more:hover svg {
    transform: rotateZ(90deg);
}

.more input:checked + span {
    background-color:#7536be ; 
}

.more input:checked ~ .moreOption {
    top: 1rem;
    height: 16rem;
    border-radius: 3.5rem;
    opacity: 1;
}

.more input:checked ~ svg {
    transform: rotateZ(90deg);    
}


.moreOption {
    width:96%;
    left: 2%;
    top: -15rem;
    cursor:auto;
    border-radius: 0rem;
    position:absolute;
    height: 20rem;
    background-color: rgb(207, 207, 207);
    z-index: 2;
    transition: all 0.5s ease;
    pointer-events: auto;

    
}

.bestSelling label {
    background-color: white;
    color: black;
    top:7rem;
    left:2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.bestSelling label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.bestSelling input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);   
}


.mostSearched label {
    background-color: white;
    color: black;
    top:11rem;
    left:2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.mostSearched label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.mostSearched input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}


.AZ label {
    background-color: white;
    color: black;
    top:7rem;
    left:12.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.AZ label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.AZ input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}



.ZA label {
    background-color: white;
    color: black;
    top:7rem;
    left:27.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.ZA label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.ZA input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}


.inStock label {
    background-color: white;
    color: black;
    top:11rem;
    left:14.8rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.inStock label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.inStock input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}




.outOfStock label {
    background-color: white;
    color: black;
    top:11rem;
    left:24.2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.outOfStock label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.outOfStock input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}



.highestRating label {
    background-color: white;
    color: black;
    top:11rem;
    left:33.2rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.highestRating label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.highestRating input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}


.lowestRating label {
    background-color: white;
    color: black;
    top:11rem;
    left:45.7rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.lowestRating label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.lowestRating input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}

.discount label {
    background-color: white;
    color: black;
    top:7rem;
    left:42.7rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

}


.discount label:hover {
    background-color: #2962FF;
    color:rgb(255, 255, 255);
    transform: scale(1.02);

}

.discount input:checked + label {
    background-color: #4476ff;
    color:rgb(255, 255, 255);  
}


.moreText {
    font-family: "PoppinsMedium";
    color: black;
    top:5rem;
    right:2.5rem;
    position: absolute;
    z-index: 10;
    width: 40%;
    line-height: 0.9;
    text-align: right;
    border-radius: 2rem;
    font-size: 2.8rem;


}







.refresh {
    position: absolute;
    font-size: 1.2rem;
    font-family: "PoppinsLight";
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    left:88rem;
    top:1.5rem;
    border: none;
    color:rgb(255, 255, 255);
    background-color: #797979;
    border-radius: 2rem;
    transition: all 0.3s ease;    
    z-index: 8;
}

.refresh:hover {
    transform: scale(1.05);
    background-color: rgb(36, 36, 36);
}


.categorySelector {
    height: 400rem;
    width: 19rem;
    left:50%;
    top:11.9rem;
    z-index: 1;
    position: absolute;
    background-color: rgb(235, 235, 235);

    transform: translate(-220%,0%);
    display: flex;           
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: stretch;     
    gap: 1rem;               
    padding: 1rem; 
    padding-top: 2rem;    
}

.categorySelector button {
  width: 100%;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  color: rgb(61, 61, 61);
  font-family: "PoppinsMedium";
  transition: all 0.3s ease;


}

.categorySelector button svg {
    width: 1.5rem;
    height: 1.5rem;
    top: 2.6rem;
    right:3rem;
    position: absolute;
    fill: rgb(78, 78, 78);
    transition: all 0.3s ease;


}

.categorySelector button:hover {
    background-color: #2962FF;
    color: white;
}

.categorySelector button:hover svg {
    fill:white;
}


.itemContainer {
    background-color: rgb(223, 223, 223);
    border-radius: 3rem;
    padding: 5rem 0rem;
    padding-left:9rem;
    padding-top: 9rem;
    width: 83.3rem;
    min-height: 40rem;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
    z-index: 0;
    opacity:1;

}



.items .guarantee {
    position: absolute;
    top:2.7rem;   
    right: 1rem;  
    font-size: clamp(0rem, 0.84rem, 2rem);
    color: #1d3c94;
}



.items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 0rem 3rem;
    padding-bottom: 3rem;
    left:12.5rem;
    position: relative;
    

    
}

.info {
    width: 100%;
    height: 5rem;
    top:15rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.116);
    left:0rem;
    border-radius: 0.5rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
}









.items .item {
    margin-top: 4rem;
    flex: 0 0 calc(25% - 4rem);
    box-sizing: border-box; 
    padding:8rem 0rem;
    border-radius: 0.2rem;
    color: black;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(230, 234, 236);
    transition: all 0.3s ease;
}

.items .item:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}


.items .price {
    position: absolute;
    top:2.25rem;    
    font-family: "PoppinsSemiBold";
    left: 1rem;  
    font-size: clamp(1rem, 1.08rem, 2rem);
    color:rgb(0, 0, 0);
}

.items .name {
    text-align: left;
    position: absolute;
    top:-0.5rem;
    font-family: "PoppinsMedium";
    line-height: 1.1;
    color: rgb(51, 51, 51);
    align-items: center;
    left: 0.5rem;
    padding: 0rem 0.4rem;
    z-index: 10;
    font-size: clamp(0.5rem, 1.02rem, 2rem);


}


.items img {
    position: absolute;
    left:0%;
    width: 100%;
    top:1.2rem;
}

.noItem {
    position: absolute;
    background-color: white;
    padding: 0rem 5rem;
    border-radius: 2rem;
    margin-top:5%;
    left:30%;
    color: rgb(58, 58, 58);
    z-index: 20;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
}



.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  bottom: 1rem;
  left: 60%;
  transform: translateX(-50%);
}

.pageButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background 0.2s ease;
}

.pageButton:hover {
  background-color: #ddd;
}

.pageButton.active {
  background-color: #333;
  color: white;
}


@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 	480px) {

.container {
    width: 100%;
    margin-bottom: 6rem;
    overflow-y: hidden;
    overflow-x: hidden;
}


.bar {
    width: 90%;
    margin-left: 5%;
    height: 15rem;
    top:41rem;
    border-radius: 1rem;

}

.inBar {

    width: 100%;
    height: 6.2rem;
    border-radius: 1rem;
}


.cover {

    height: 10rem;
    top:35rem;


}

.subtitle {

    width: 90%;
    top:-2rem;
    height: 4rem;

}

.subtitle p {
    font-size: clamp(0rem, 1.3rem, 10rem);
    top:-2rem;
    width: 60%;
    left:20%;
    position: relative;
}

.circle1, .circle2 {
    border-radius: 50%;
    width:20rem;
    height: 20rem;
background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 20;
    transition: all 1s ease;

}

.circle1 {
    left:-14rem;
    top:-12rem;
}

.circle2 {
    right:-14rem;
    bottom:-12rem;
}

.subtitle:hover .circle1 {
    left:-16rem;
    top:-12rem;  
    transform: rotate(-15deg); 
}

.subtitle:hover .circle2 {
    right:-16rem;
    bottom:-12rem;  
    transform: rotate(-15deg); 
}


.filter {
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:0.5rem;

}




.filter svg {
    top:0.1445rem;
    height: 13px;
    width: 13px;
    
}



.input input {
    width: 76vw;
    padding:0.35rem 0rem;
    padding-left:6.3vw;
    margin-top: 4.1rem;
    border-radius: 0.5rem;
    left:0.8rem;
    font-size: clamp(0rem, 0.6rem, 2.5rem);

}



.search {
    margin-top:4.35rem;
    left:1.05rem;
    width: 16px;
    height: 16px;
}




.low span {
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-12.5rem;
    top:0.55rem;

}



.high span{
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-6.3rem;
    top:0.55rem;
}




.newest span{
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-9.5rem;
    top:2.4rem;
}



.oldest span{
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-4.6rem;
    top:2.4rem;
}

.more span{
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    padding-left: 1.3rem;
    left:0.8rem;
    top:2.4rem;
}




.more svg {
    top: 2.55rem;
    height: 18px;
    width: 18px;
    left:1.8rem;


}




.more:hover .moreOption {
    top: 3rem;
    height: 11rem;
    border-radius: 1rem;
}


.more input:checked ~ .moreOption {
    top: 3rem;
    height: 11rem;
    border-radius: 1rem;

}


.moreOption {
    width:96%;
    left: 2%;
    top: -8rem;
    border-radius: 0rem;
    height: 11rem;

    
}


.bestSelling label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:3.7rem;

}



.mostSearched label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:5.9rem;
    top:3.7rem;
}



.AZ label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:12.2rem;
    top:3.7rem;

}



.ZA label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:5.5rem;

}



.inStock label {

    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:8.3rem;
    top:5.5rem;

}






.outOfStock label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:12.8rem;
    top:5.5rem;

}




.highestRating label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:7.2rem;

}




.lowestRating label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:7rem;
    top:7.2rem;
}



.discount label {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:9rem;

}




.moreText {

    top:6rem;
    right:1.4rem;
    width: 28%;
    line-height: 1.1;
    border-radius: 2rem;
    font-size: 0.8rem;


}




.refresh {
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    left:5.4rem;
    top:2.4rem;
}



.itemContainer {
    border-radius: 1.5rem;
    padding: 0rem 0.5rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 8rem;

}


.items {
    gap: 0.5rem; 
    margin-top:-19rem;
    padding: 2rem 0.6vw;
    padding-top: 18rem;
    
}




.items .guarantee {
    top:9.4rem;   
    left:0.6rem; 
    font-size: 0.6rem;
}

.items .item {
    
    flex: 0 1 10%;
    padding:5.5rem 19vw;
    border-radius: 0.7rem;
}


.items span {
    top:9.9rem;    
    font-size: clamp(0rem, 0.7rem, 2rem);
    left: 35vw;  
    margin-left:-3rem;
}

.items .name {
    top:4.85rem;
    line-height: 1;
    align-items: center;
    left: 0.6rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0rem, 0.6rem, 2rem);
}





.items img {
    left:17vw;
    margin-left: -4.7rem;
    top:0.5rem;
    width: 165px;
}


}




@media (max-width: 	360px) {

.container {
    width: 100%;
    margin-bottom: 6rem;
    overflow-y: hidden;
    overflow-x: hidden;
}


.bar {
    width: 90%;
    margin-left: 5%;
    height: 15rem;
    top:41rem;
    border-radius: 1rem;

}

.inBar {

    width: 100%;
    height: 6.2rem;
    border-radius: 1rem;
}


.cover {

    height: 10rem;
    top:35rem;


}

.subtitle {

    width: 90%;
    top:-2rem;
    height: 4rem;

}

.subtitle p {
    font-size: clamp(0rem, 0.9rem, 10rem);
    top:-1.4rem;
    width: 60%;
    left:20%;
    position: relative;
}

.circle1, .circle2 {
    border-radius: 50%;
    width:20rem;
    height: 20rem;
background-color: rgb(70, 130, 180);
    position: absolute;
    z-index: 20;
    transition: all 1s ease;

}

.circle1 {
    left:-15rem;
    top:-12rem;
}

.circle2 {
    right:-15rem;
    bottom:-12rem;
}

.subtitle:hover .circle1 {
    left:-16rem;
    top:-12rem;  
    transform: rotate(-15deg); 
}

.subtitle:hover .circle2 {
    right:-16rem;
    bottom:-12rem;  
    transform: rotate(-15deg); 
}


.filter {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:0.5rem;

}




.filter svg {
    top:0.15rem;
    height: 12px;
    width: 12px;
    
}



.input input {
    width: 74vw;
    padding:0.35rem 0rem;
    padding-left:1.3rem;
    margin-top: 4.1rem;
    border-radius: 0.5rem;
    left:0.8rem;
    font-size: clamp(0rem, 0.6rem, 2.5rem);

}



.search {
    margin-top:4.35rem;
    left:1rem;
    width: 16px;
    height: 16px;
}




.low span {
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-11rem;
    top:0.55rem;

}



.high span{
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-5.8rem;
    top:0.55rem;
}




.newest span{
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-8.4rem;
    top:2.4rem;
}



.oldest span{
    font-size: 0.6rem;
    padding: 0.2rem 0.7rem;
    left:90vw;
    margin-left:-4.4rem;
    top:2.4rem;
}

.more span{
    font-size: 0.6rem;
    padding: 0.2rem 0.8rem;
    padding-left: 1.3rem;
    left:0.8rem;
    top:2.4rem;
}




.more svg {
    top: 2.45rem;
    height: 18px;
    width: 18px;
    left:1.8rem;


}




.more:hover .moreOption {
    top: 3rem;
    height: 11.5rem;
    border-radius: 1rem;
}


.more input:checked ~ .moreOption {
    top: 3rem;
    height: 11.5rem;
    border-radius: 1rem;

}


.moreOption {
    width:96%;
    left: 2%;
    top: -8rem;
    border-radius: 0rem;
    height: 11rem;

    
}


.bestSelling label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:3.7rem;

}



.mostSearched label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:5.5rem;
    top:3.7rem;
}



.AZ label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:5.2rem;

}



.ZA label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:6.7rem;

}



.inStock label {

    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:7.3rem;
    top:5.2rem;

}






.outOfStock label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:7.3rem;
    top:6.7rem;

}




.highestRating label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:8.2rem;

}




.lowestRating label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:6.2rem;
    top:8.2rem;
}



.discount label {
    font-size: 0.5rem;
    padding: 0.2rem 0.7rem;
    left:0.8rem;
    top:9.7rem;

}




.moreText {

    top:4.5rem;
    right:0.8rem;
    width: 30%;
    border-radius: 2rem;
    font-size: 0.85rem;


}




.refresh {
    font-size: 0.6rem;
    padding: 0.2rem 0.8rem;
    left:4.8rem;
    top:2.4rem;
}



.itemContainer {
    border-radius: 1.5rem;
    padding: 0rem 0.5rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 8rem;

}


.items {
    gap: 0.5rem; 
    margin-top:-19rem;
    padding: 2rem 0.6vw;
    padding-top: 18rem;
    
}




.items .guarantee {
    top:7.5rem;   
    left:0.6rem; 
    font-size: 0.5rem;
}

.items .item {
    
    flex: 0 1 10%;
    padding:4.5rem 19vw;
    border-radius: 0.7rem;
}


.items span {
    top:7.9rem;    
    font-size: clamp(0rem, 0.6rem, 2rem);
    left: 35vw;  
    margin-left:-2.7rem;
}

.items .name {
    top:3.45rem;
    line-height: 1;
    align-items: center;
    left: 0.6rem;
    padding: 0rem 0.4rem;
    font-size: clamp(0rem, 0.5rem, 2rem);
}





.items img {
    left:17vw;
    margin-left: -4.2rem;
    top:0.3rem;
    width: 145px;
}




}